node_modules
node_modules*
.cache
.parcel-cache
*.DS_Store
# there are things already committed in dist/ mainly the smaples
dist-electron/*
dist/*
!dist/assets/audio/
release

docs/
textures/
app
*.bak
*.mp4
*.log
*.zip
*.reapeaks
*.sf2
*.7z
*--*
*-new
*copy*
*-mp3.js*
*-ogg.js*
android
mediakit
public
tstex*
heap-*

source/audio/wam2-external/
static/@mediapipe
Hi Roger,.md
.nvmrc-new
