node_modules
.parcel-cache
# there are things already committed in dist/ mainly the smaples
dist/*
!dist/assets
!dist/Fatboy
!dist/FluidR3_GM
!dist/CNAME
!dist/favicon.ico
!dist/humans.txt
!dist/robots.txt
app
*.mp4
*.log
*.zip
*.reapeaks
*.sf2
*-mp3.js*
*-ogg.js*
android
mediakit
electron