
#foot{
	--spacer:0;
	--border:1px solid var(--shade-gray);

	color:var(--shade-brown);
	
	border-top:var(--border);
	border-color: transparent;

	display: flex;
	box-sizing: border-box;
	align-items: flex-end;
	justify-content: flex-end;
	flex-wrap: wrap;
 	flex-direction: row;
	z-index: 707;
	// allow to flood width
	justify-self: stretch;

// 	@media (orientation: portrait) {
		
// 	flex-direction: column-reverse;
			
// 	}

	margin:var(--pad);
	// margin-top:0;
	margin-top: var(--pad);
	
	// max-height:var(--footer-gap);
	
	transition:transform var(--ease-s) var(--ease-out-back);
	transform: translateX(var(--spacer));
	
	// fade it in immediately
	animation: Fade var(--ease-s) 1 0s ease-out both normal;

	.link-copyright{
		line-height: 1.8;
		&::before{
			content:'';
			background-image: url(./assets/logos/photosynth.svg);
			background-position: center left;
			background-repeat: no-repeat;
			background-size: 22px;
			width:33px;
			height:27px;
			display: inline-block;
			vertical-align: middle;
		}
	}

	// allow the contents to hide until hover or focus
	.associates {
		// position: relative;
	    
		h5{
			cursor: pointer;
			&::before{
				content:'+';
				color:inherit;
			}
		}

		ul{
			visibility: hidden;
			display: grid;
			justify-items: center;
    		align-items: center;
			position: absolute;
			background: inherit;
			display: grid;
			position: absolute;
			bottom: 69%;
			background-color:var(--shade-dark);
			z-index: 909;
			left:0;
			max-width: 100%;
		}

		h5:hover ~ ul,
		ul:hover,
		ul:focus,
		ul:focus-within{
			--y:10%;
			visibility: visible;
			animation: Fade var(--ease-s) 1 0.1s linear both normal,
						TranslateY var(--ease-s) 1 0s ease-out both normal;
		}
		
		ul:is(:hover,:focus,:focus-within){
			
		}
	}
	
	small{
		display:flex;
		align-items: center;
		padding-top:var(--pad);
		
		// ensure this is in front of the back to top
		position: relative;
		z-index: 1;
		gap:var(--pad);

		&:last-of-type{
			margin-left:auto;
		}

		#version{
			margin-left: auto;
			display: flex;
			flex-wrap: wrap;
			opacity:0.9;
			
			padding-left:var(--pad);
			padding-right:var(--pad);

			position: relative;

			#release{
				white-space:nowrap;
				text-overflow: ellipsis;
				border:1px solid var(--shade-cream);
				background-color:var(--shade-white);
				padding:var(--pad);
				color:var(--shade-grey);
				visibility: hidden;
				order:-1;
				position: absolute;
				left:50%;
				bottom:100%;
				transform: translateX(-50%);
			}		
			&:hover #release{
				visibility: visible;
			}
		}
	}

	.brand:hover svg, 
	.brand:focus svg{
		// color:var(--shade-white);
		fill: var(--shade-dark);
	}
	
	#year{
		display: inline-flex;
		flex-direction: row;
		white-space: nowrap;
	}

	// this *still* gets read out via screenreaders!!!
	#year::before{
		content:"©";
		margin-left:0.2rem;	
		margin-right:0.2rem;	
		color:var(--shade-cream);
	}

	.link-licenses{
		padding:0 var(--pad);
		order:999;
		border-left:var(--border);
	}

	.link-news{
		&::before{
			content:'';
			display: inline-block;
			vertical-align: middle;
			width: 1rem;
			height: 1rem;
			background: url(./assets/icons/rss_feed_black_24dp.svg) no-repeat center;
			background-size: contain;
			filter:invert(100%);
		}
		font-size: 0;
	}

	.educate{
		display: none;
	}

	a {
		color: currentColor;
	}

	a:hover, a:focus{
		color:var(--shade-active, var(--shade-brand, var(--shade-red, red)) );
	}
}

// ariants of the footbar depending on the state
.loading #foot{
	border-color:var(--shade-dark, black);
}

.player-selection #foot{
	// border-color:var(--shade-dark, black);
	.link-copyright{
		&::before{
			filter: invert(1);
		}
	}
}