// Top section that contains the header text and loader
#intro {

	--multiplier: 1;
	--space:calc( var(--multiplier) * var(--pad) );
	
    box-sizing: border-box;

	width: 100%;
	max-width: min( calc( 100% - 2 * var(--pad) ) , var(--viewport-max-width, 108%) );
	
	grid-gap: var(--space);

	padding:var(--space);
	margin: var(--pad);
	margin-bottom: 0;

	background-color: rgba(255, 255, 255, 0.96); // var(--shade-white, white);

	border-radius: var(--curve);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;

	// text-align: center;
	flex-direction: column;
	align-items: stretch;
	justify-items: center;
	align-self: center;
	position: relative;
	z-index: 909;

	a.logo {
		
		--size: 88px;

		display: grid;
		gap: 0 var(--pad);
		grid-area: heading;
		grid-template-areas: 
			"logo space"
			"logo headline"
			"logo tagline";

		grid-template-columns: auto 1fr;
		grid-template-rows: 
			20%,
			min-content 
			min-content;

		justify-content: space-between;
		align-content: stretch;
		width: 100%;

		p{
			grid-area: tagline;
			color:transparent;
			margin: 0;
			font-size: 1pt;
		}
		
		svg{
			// --aspect-ratio: calc( 3018 / 2502 );
			grid-area: logo;
			// min-width: 44px;
			// min-height: 100%;
			height: 100%;
			// max-height: 80%;
			// width: calc( 100% * var(--aspect-ratio, 1));
			width: auto;
			max-width:none;
		}
	}

	h1,h2{
		// color: inherit;
		color: transparent;

		font-size: 1pt;
		line-height: 1;
		
		// padding:var(--pad) calc(var(--pad) * 2);
		flex-shrink: 0;
		flex-grow: 1;
    	flex-basis: 100%;

		// overwrite any existing
		min-width: 100%;
		max-width: 100%;
		width: 100%;

		display: block;
		height: fit-content;
		position: relative;
		text-align: left;

		// text-align: center;
		// justify-self: center;
		
		&::before{
			content:'';
			// uses aspect ratio of SVG background
			padding-bottom: calc( 100% / var(--aspect-ratio, 1));
			display: block;
			background-image: var( --src, url(/source/assets/logos/photosynth-text.svg) );
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
		}
		
		// @media screen and (min-width:888px){
			
		// 	--size:33%;
		// 	// logo left
		// 	&::before{	
		// 		position: absolute;
		// 		left:var(--pad);
		// 		top:50%;
		// 		min-width:var(--size);
		// 		// min-height:50%;
		// 		min-height:50%;
		// 		transform: translateY(-50%);
		// 	}
		// 	padding-left: calc(var(--pad) * 2 + var(--size));
		// }
	}

	h1 {
		--aspect-ratio: calc( 300 / 53);
		grid-area: headline;
		// margin-bottom: auto;

		/*
		// logo above
		&::before{	
			content:'';
			width:var(--size);
			min-width:25%;
			height:var(--size);
			display: block;
			margin-bottom: var(--pad);
			
			background: url('./assets/logos/photosynth.svg') no-repeat;
			background-size: contain;
			background-position: 0 7px;
			background-repeat: no-repeat;
		}
		*/
	}

	h2 {
		--aspect-ratio: calc( 300 / 23);
		--src: url(/source/assets/logos/sympathetic-synthesizer-text.svg);
		grid-area: tagline;
		align-self: end;
		// margin-top: auto;
	}

	
	> a {
		color: inherit;
	}

	// hide text that is also a tooltip
	p[aria-label] {
		
		// position: absolute;
		// color:transparent;
		// text-shadow: none;
		// user-select: none;
		// // hide links inside these too
		// a{
		// 	color:transparent;
		// }
	}

	#summary {
		grid-area: summary;
	}

	p.info-description {
		grid-area: description;
	}

	.warning {
		grid-area: warning;
		position: sticky;
		bottom: var(--pad);
		// margin-bottom:var(--pad);
		margin-top: var(--pad); //auto;
	}
}

.interface #intro {
	
	// height is 100% - the margins
	// min-height: calc(100% - 2 * var(--pad));
	min-height: calc(100vh - 2 * var(--pad));
	min-height: calc(100dvh - 2 * var(--pad));

	// layouts	
	display: grid;

	grid-template-areas: 
		"heading"
		"poster"
		"tagline"
		"summary"
		"description"
		"menu"
		"warning"
		"requirements"
	;

	@media screen and (min-width:640px) {
		--multiplier: 2;
		grid-template-areas:
			"poster heading"
			"poster summary"
			"poster tagline"
			"poster menu"
			"warning warning"
			"description description"
			"requirements requirements"
		;

		grid-template-columns: minmax(50%, 33vh) minmax(0, 1fr);
		grid-gap: 0 var(--space);

		h1 {
			text-align: left;
		}

		a.logo {
			grid-area: heading;
			flex-direction: column;
			// place-content: start;
			// place-items: start;
			padding-bottom: var(--pad);
			border-bottom: 1px dotted currentColor;
			margin-top: -6.8%;
		}
	}

	@media screen and (min-width:999px) {
		
		--multiplier: 3;
		margin-left: auto;
		margin-right: auto;

		grid-template-areas:
			"poster heading"
			"poster summary"
			"poster tagline"
			"poster menu"
			"poster warning"
			"description description"
			"requirements requirements"
		;
		// grid-template-columns: minmax(50%, 33vh) 1fr;
	}


	@media screen and (min-width:1210px) {
		--multiplier: 4;
		grid-template-areas:
			"poster heading heading"
			"poster tagline tagline"
			"poster summary summary"
			"poster menu menu"
			"poster description description"
			"poster warning warning"
			"requirements requirements requirements"
		;

		grid-template-columns: 2fr minmax(0, 1fr) minmax(44px, 1fr);

		// grid-template-columns: minmax(50%, 33vh) 1fr;
	}
}

#alternate-browsers{

	text-align: right;
	margin-left:auto;
	
	summary{
		margin-left:auto;
		display: block;
	}

	ol {
		margin:0;
		margin-left:auto;
		padding:0;
		list-style: none;
		display: flex;		
		justify-content: flex-end;
		flex-wrap: wrap;
		gap:0;//var(--pad);
	}

	li + li::before{
		content: '/';
		margin:0 calc( var(--pad) * 0.5 );
	}
}


#requirements {
	//grid-area: requirements;
	width: 100%;
}

#requirements-test {
	margin-top:var(--pad);
	width: 100%;
	grid-area: requirements;
}

// table
#compatibility {
	--curve:9px;
	width: 100%;
	
	border-radius: var(--curve, var(--pad));
	overflow: hidden;
	overflow: clip;

	tbody{
		background-color: var(--shade-cream);
		border-radius: var(--curve, var(--pad));
	}

	tr{
		position: relative;
	}

	/*
	tr+tr{
		&::before{
			content:'';
			position: absolute;
			left:var(--pad);
			right:var(--pad);
			height:1px;
			background-color:var(--shade-cream);
		}
	}
	*/

	th {
		text-align: right;
	}

	th,td{
		border-bottom:1px solid var(--shade-cream,white);
	}
	td{
		// border-color:var(--shade-white);
	}
	small{
		display: block;
	}

	// icon
	th::before{
		content:'';
		display: inline-block;
		width: 1rem;
		height: 1rem;
		margin-top:auto;
		margin-bottom:auto;
		margin-right:calc( var(--pad) / 2 ); 
		background-image: var(--icon);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		vertical-align: middle;
		vertical-align: text-top;
	}

	.result::before{
		color:currentColor;
		display: inline-block;
		margin-right: 1ch;
	}

	// 
	.available {
		background-color: var(--shade-green, green);
		color: var(--shade-white, white);
		&::before {
			// content: "✓";
			content: "✔";
		}
	}

	//
	.unavailable {
		background-color: var(--shade-brand, var(--shade-red, red));
		color: var(--shade-white, white);
		&::before {
			content: "✗";
			// content: "☓";
			animation: Pulse 1s 0s infinite both;
		}
	}

	// We cannot determine ahead of time if the device is available
	.unknown {
		background-color: var(--shade-blue, red);
		color: var(--shade-white, white);
		&::before {
			content: "?";
		}
	}

	td.result{
		text-align: center;
	}
}


.capability-camera {
	th::before{
		--icon:url(/source/assets/icons/camera_enhance-24px.svg);
	}
}

.capability-speakers {
	th::before{
		--icon:url(/source/assets/icons/volume_up-24px.svg);
	}
}

.capability-midi {
	th::before{
		--icon:url(/source/assets/icons/midi-copyright-free.svg);
	}
}

.capability-microphone {
	th::before{
		--icon:url(/source/assets/icons/mic-24px.svg);		
	}
}


.capability-gpu {
	th::before{
		--icon:url(/source/assets/icons/developer_board-24px.svg);		
	}
}