
// Loading screen ------------------------------
html.loading{
	--delay:calc( 1s * var(--loader-duration) / 4 );

	max-width:100vw;
	max-height:100vh;
}

.loading {


	// sections
	#intro header{
		
		> *{
			max-height:100vh;
			grid-area: 1/1/1/1;
			visibility:visible;
			animation:Fade var(--ease-s) ease-in 1 0s both;
		}	

		$end:9;
		@for $i from 1 to $end {

			&:nth-child(#{$i}){
				// delay is the amount of time to wait before reveal
				animation-delay:calc( var(--offset) + #{$i - 1} * var(--overlap) * var(--duration) );
			}
		}

		.logo{
			@extend %image-replacement;
			color:#8d3525;
			align-self: center;
			height:100%;
			background-position: center;
			// z-index:-1;
			align-self: center;

			order:1;

			svg{
				animation:TextColours 4s linear infinite 0s both;
			
			}
		}
		h1{
			//background-color: black;
			color: $col-orange;
			//clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 45%);
		}
	}

	main{
		overflow:hidden;
		position: relative;
		pointer-events: none;
		min-height: 100vh;
	
		> *:not(p){
			visibility: hidden;
			opacity:0;
			display: none;
		}
	}
	
	// this is the camera accept popup
	#feedback{
		text-align: center;
		// dunno where best to overlay as will always cover something!
		// but we want it pointing to the allow camera pop up dialog
		top:calc( 1rem * var(--line-height) + var(--pad) );
		left:var(--pad);
		bottom:auto;
		z-index: 909;
		filter:invert(100%);
	}

	#shared-controls{
		visibility: hidden;
	}

	footer{
		z-index:909;
	}
}


.loaded {
	footer{
		visibility: hidden;
	}
}