// Basic resets
html,body,h1,h2,h3,h4,h5,h6,p{
	margin:0;
	padding:0;
	overflow-wrap: break-word;
}

// Special thanks to 
// https://nicolas-hoizey.com/articles/2015/02/18/viewport-height-is-taller-than-the-visible-part-of-the-document-in-some-mobile-browsers/
// for fixing my 100vh not being 100% viewport height on mobile safari
html{
	
	height: 100%;
	// allows 100vh to work on mobile safari (sometimes)
	// height: -webkit-fill-available;
	color:var(--shade-white);	
	background-color:$col-dark;
	accent-color: var(--shade-red, red );
	overflow: auto;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body{ 
	// prevent collapse
	min-height: 100%;
	// regular arrangement for vertical flow
	display: flex;
	flex-direction: column;
    flex-wrap: nowrap;

    align-content: stretch;
    justify-content: space-between;
}

main{
	
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	// min-width:100%;
	
	margin:auto;
	// height: 100%;
	// min-height: 320px;
	//max-height: 100%;

	button{
		//display: none;
	}
}

menu{
	list-style: none;
	::marker {
		display: none;
	}
}

menu,
ul,
ol{
	margin:0;
	padding:0;
	// list-style-position: inside;
}

ol{
	margin-top:var(--pad);
}

ol li{
	
}

// List items
:is(ol,ul)[role=list] li + li{
	margin-top:calc( var(--pad) / 2 );
}

// main control panel for selecting help / about
#nav-main{
	
}	

img,
svg{
	max-width:100%;
	height:auto;
	display: block;
}

details{
	pointer-events: auto;
}

summary::marker {
    color: var(--shade-blue);
	display:none;
	opacity:0;
	margin-right: 0.5rem;
}

summary{
	user-select:none;
	cursor:pointer;
	pointer-events: auto;
}

details[open] {
	summary{
		margin:0;
	}
	summary::marker {
		display:inline-block;
		opacity:1
	}
}

figure{
	margin: 0;
	img{
		width:100%;
	}
}

figcaption{
	text-align: center;
}

// we hide these by default until ready to preserve CPU
video, #interface{
	max-width:100%;
	visibility: hidden;
}

// Single taps are dispatched immediately on clickable elements
a, area, button, input, label, select, summary, textarea, [tabindex] {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

[aria-busy="true"] {
	cursor: progress;
}

hr{
    display:block;
    height: 1rem;
	width:100%;
    padding:0;
    margin:var(--pad);
    border:0;
    background-image:radial-gradient( farthest-corner at 50% 0, rgba(255,255,255,0.6) 0,transparent 50% );
}

a.back-to-top{
	flex:1 1 100%;
	width:100%;
}


// Top section that contains the header text and loader
#intro{
	
	grid-gap:0;//var(--pad);
	grid-column-gap:var(--pad);

	.logo{
		grid-area:heading;
	}

	h1{
		--size:44px;
		
		/*
		// logo above
		&::before{	
			content:'';
			width:var(--size);
			min-width:25%;
			height:var(--size);
			display: block;
			margin-bottom: var(--pad);
			
			background: url('./assets/logos/photosynth.svg') no-repeat;
			background-size: contain;
			background-position: 0 7px;
			background-repeat: no-repeat;
		}

		
		@media screen and (min-width:888px){
			
			--size:33%;
			// logo left
			&::before{	
				position: absolute;
				left:var(--pad);
				top:50%;
				min-width:var(--size);
				// min-height:50%;
				min-height:50%;
				transform: translateY(-50%);
			}
			padding-left: calc(var(--pad) * 2 + var(--size));
		}
		*/

		display: inline-block;
		padding:var(--pad) calc(var(--pad) * 2);
		
		position: relative;
		justify-self: center;

		text-align: left;		
		background-size: 13%;
		line-height: 1;
	}

	h2{
		grid-area: tagline;
		color:inherit;
	}

	> a{
		color:inherit;
	}

	// hide text that is also a tooltip
	p[aria-label]{
		grid-area:summary;
		// position: absolute;
		// color:transparent;
		// text-shadow: none;
		// user-select: none;
		// // hide links inside these too
		// a{
		// 	color:transparent;
		// }
	}
	.warning{
		grid-area:warning;
		position: sticky;
    	bottom: var(--pad);
		// margin-bottom:var(--pad);
		margin-top: var(--pad);//auto;
		z-index: 909;
	}

	grid-template-areas: 
		"poster"
		"heading"
		"tagline"
		"summary"
		"requirements"
		"menu"
		"warning"
	;

	@media screen and (min-width:640px){
		grid-template-areas: 
			"poster heading"
			"poster tagline"
			"poster summary"
			"poster requirements"
			"poster menu"
			"warning warning"
		;
		grid-template-columns: minmax(50%, 33vh) 1fr;
	}

	@media screen and (min-width:999px){
		grid-template-areas: 
			"poster heading"
			"poster tagline"
			"poster summary"
			"poster requirements"
			"poster menu"
			"poster warning"
		;
		// grid-template-columns: minmax(50%, 33vh) 1fr;
	}

	@media screen and (min-width:1024px){
		grid-template-areas: 
			"poster heading heading"
			"poster tagline tagline"
			"poster summary summary"
			"poster requirements menu"
			"poster warning warning"
		;
			
		.logo{
			//grid-area:logo;
		}
		// grid-template-columns: minmax(50%, 33vh) 1fr;
	}
}


// Epilepsy warning
// we dont want any animations here
p.warning{
	--size:34px;
	
	border-radius: calc( var(--curve) * 0.4 );
	max-inline-size: max-content;
	box-sizing: border-box;
	width: 100%;
	position: relative;
	color:var(--shade-white);
	background:var(--shade-red, red);
	padding: var(--pad) calc( 2 * var(--pad) ) var(--pad) calc( 4 * var(--pad) );
	padding-left:calc( var(--pad) * 2 + var(--size) );
	
	flex: 0 1 auto;
	display: block;
	align-self: center;
	justify-self: center;

	strong{
		animation:none;
	}
	em{
		text-decoration: underline;
	}
	&::before{
		content:'!';
		font-size:calc(var(--size) * 0.8 );// 215%;
		width:var(--size);
		height:var(--size);
		margin-right: var(--pad);
		clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
		vertical-align: text-top;
		display: inline-block;
		position: absolute;
		left:var(--pad);
		top:50%;
		transform: translateY(-50%);
		color:var(--shade-red);
		background:var(--shade-white);
	}

}

#licenses{
	
	// prevent it staying single line
	max-inline-size: 55ex;
}


#hero{
	order:-42;
	display: grid;
	grid-area: poster;
	align-items: center;
	justify-content: center;
	grid-template-rows: 1fr;

	a{
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		width: 100%;
		> * {
			//grid-area: 1/-1/ 1/-1;
		}
	}
}

#pwa{
	grid-area:menu;
	display: flex;
	width: 100%;
	gap:var(--pad);
	flex-wrap: wrap;
}

svg.hero-bumper{
	margin:auto;
	width: 100%;
}