// Basic resets
html,body,h1,h2,h3,h4,h5,h6,p{
	margin:0;
	padding:0;
}

// Special thanks to 
// https://nicolas-hoizey.com/articles/2015/02/18/viewport-height-is-taller-than-the-visible-part-of-the-document-in-some-mobile-browsers/
// for fixing my 100vh not being 100% viewport height on mobile safari
html{
	// allows 100vh to work on mobile safari
	height: -webkit-fill-available;
	color:$col-white;	
	background-color:$col-dark;
	overflow: auto;
	overflow-x: hidden;
}


body{ 
	accent-color: #{$col-yellow};

	// prevent collapse
	min-height: -webkit-fill-available;
	min-height: 100vh;
	// max-height:100vh;
	// max-width:100vw;


	position: relative;
	display: flex;
	flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-between;
}

menu{
	list-style: none;
	::marker {
		display: none;
	}
}
menu,
ol{
	margin:0;
	padding:0;
	// list-style-position: inside;
}

ol{
	margin-top:var(--pad);
}

ol li{
	
}

ol li + li{
	margin-top:var(--pad);
}

img,
svg{
	max-width:100%;
	height:auto;
	display: block;
}
summary::marker {
    color: var(--shade-blue);
	display:none;
	opacity:0;
	margin-right: 0.5rem;
}

summary{
	user-select:none;
	cursor:pointer;
}

details[open] {
	summary{
		margin:0;
	}
	summary::marker {
		display:inline-block;
		opacity:1
	}
}

figure{
	margin: 0;
}

figcaption{
	text-align: center;
}

// we hide these by default until ready to preserve CPU
video,#interface{
	max-width:100%;
	visibility: hidden;
}

// Single taps are dispatched immediately on clickable elements
a, area, button, input, label, select, summary, textarea, [tabindex] {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

[aria-busy="true"] {
	cursor: progress;
}

hr{
    display:block;
    height: 1rem;
	width:100%;
    padding:0;
    margin:var(--pad);
    border:0;
    background-image:radial-gradient( farthest-corner at 50% 0, rgba(255,255,255,0.6) 0,transparent 50% );
}