
// form seems to want focus all the time
form{

	// give it a cool border effect
	fieldset{
		--breakpoint:320px;//12ch;

		margin:var(--pad) 0;
		padding:0;
		border:var(--border-size, 9px) double var(--col-white);
		//border-image: linear-gradient( $col-grey, $col-gray );
		
		display:flex;
		position: relative;
		
		box-shadow: rgba($col-dark,0.4) 0 0px 2px,
				rgba($col-dark,0.3) 0 0.5px 2px,
				rgba($col-dark,0.2) 0 1px 2px,
				rgba($col-dark,0.1) 0 1.5px 2px;
		
		// slight hack to fix focus issue		
		pointer-events: none;
		// fade in from empty
		animation:Fade var(--ease-s) linear 1 0s both;
		// NB. ensure in front of the person buttons (202)
		z-index:303;
	}

	fieldset:empty{
		display: none;
	}
	
	// cool intro effects...
	fieldset > *{
		animation-name:Fade, Shift;
		animation-duration: var(--ease-s, 0), var(--ease-s, 0);
		animation-fill-mode: both, both;
		animation-delay: var(--delay,0), var(--delay,0);
		pointer-events: auto;
	}
	
	// kill anims if focussed inside the form
	&:focus-within{
		fieldset > *{
			animation-duration:1ms,1ms;
		}
	}
}


// forms
label{
	--padding:calc( 1 * var(--pad));
	//outline: 1px groove $col-cream;
	cursor: pointer;
	transition:color var(--ease-s) linear, 
				background-color 90ms linear;

	padding:var(--padding);// var(--pad) 0 var(--pad);
	position: relative;
	user-select:none;

	&:hover, &:focus{
		color:var(--col-fg, #{$col-white} );
		//background-color:var(--col-bg, #{$col-blue});
		outline:none;
	}
}

select{
	appearance: none;
	padding:var(--pad);
}

select::-ms-expand {
	display: none;
}


//fieldset 
:is(ol[role="list"],ul[role="list"]) {

	padding: 0;
	margin: 0;
	width: 100%;

	li{
		margin:0;
		padding: 0;
		border-radius: 0;
		width: 100%;

		&::marker{
			display: none;
			width:0;
			height:0;
			overflow: hidden;
			content:'';
		}

		button{
			display: flex;
			place-content: center;
			width: 100%;
			margin:0;
			padding: 0;
			border-radius: 0;

			&::before{
				display: none;
			}
		}		
	}
}