@use "sass:math";
@use "sass:string";
@use "sass:list";

@keyframes EyesBlinking{
	0%{
		content:'o O';	
	}
	33%{
		content:'o o';	
	}
	66%{
		content:'O O';	
	}
	100%{
		content:'O o';	
	}
}

@keyframes EyesSleepy{
	0%{
		content:'o o';	
	}
	50%{
		content:'_ _';	
	}
	100%{
		content:'. .';	
	}
}

@keyframes BGScroll {
	0% { 
		background-position:
			var(--scroll-x,50px) var(--scroll-y,50px),
			var(--scroll-x,50px) var(--scroll-y,50px),
			var(--scroll-x,50px) var(--scroll-y,50px),
			var(--scroll-x,50px) var(--scroll-y,50px),
			var(--scroll-x,50px) var(--scroll-y,50px),
			var(--scroll-x,50px) var(--scroll-y,50px),
			var(--scroll-x,50px) var(--scroll-y,50px),
			var(--scroll-x,50px) var(--scroll-y,50px),
			var(--scroll-x,50px) var(--scroll-y,50px),
			var(--scroll-x,50px) var(--scroll-y,50px),
			var(--scroll-x,50px) var(--scroll-y,50px),
			var(--scroll-x,50px) var(--scroll-y,50px); 
 	}
}
		
// move entire thing across and down
@keyframes BGScroll2 {
	to{
		background-position:
			calc(var(--scroll-x) * var(--x) + (var(--scroll-x) * 1)) calc(var(--scroll-y) * var(--y)),
			calc(var(--scroll-x) * var(--x) + (var(--scroll-x) / 2) ) calc(var(--scroll-y) * var(--y) + var(--scroll-x)) ,
			calc(var(--scroll-x) * var(--x) + (var(--scroll-x) * 1)) calc(var(--scroll-y) * var(--y)) ,
			calc(var(--scroll-x) * var(--x) + (var(--scroll-x) / 2) ) calc(var(--scroll-y) * var(--y) + var(--scroll-x)) ,
			calc(var(--scroll-x) * var(--x) + (var(--scroll-x) / 8) ) calc(var(--scroll-y) * var(--y)),
			calc(var(--scroll-x) * var(--x) + (var(--scroll-x) / 2) ) calc(var(--scroll-y) * var(--y)),
			calc(var(--scroll-x) * var(--x) + (var(--scroll-x) * 1) ) calc(var(--scroll-y) * var(--y)); 
	}
	// from{
	// 	background-position:
	// 		calc((var(--scroll-x) * 1) * var(--x) ) calc(var(--scroll-y) * var(--y)) ,
	// 		calc((var(--scroll-x) / 2) * var(--x) ) calc(var(--scroll-y) * 2 * var(--y)) ,
	// 		calc((var(--scroll-x) * 1) * var(--x) ) calc(var(--scroll-y) * var(--y)) ,
	// 		calc((var(--scroll-x) / 2) * var(--x) ) calc(var(--scroll-y) * 2 * var(--y)) ,
	// 		calc((var(--scroll-x) / 8) * var(--x) ) calc(var(--scroll-y) * var(--y)),
	// 		calc((var(--scroll-x) / 2) * var(--x) ) calc(var(--scroll-y) * var(--y)),
	// 		calc((var(--scroll-x) * 1) * var(--x) ) calc(var(--scroll-y) * var(--y)); 
	// }
	// to { 

	// 	background-position:
	// 		calc( var(--scroll-x) + (var(--scroll-x) * 1) * var(--x) ) calc( var(--scroll-y) + var(--scroll-y) * var(--y)) ,
	// 		calc( var(--scroll-x) + (var(--scroll-x) / 2) * var(--x) ) calc( var(--scroll-y) + var(--scroll-y) * 2 * var(--y)) ,
	// 		calc( var(--scroll-x) + (var(--scroll-x) * 1) * var(--x) ) calc( var(--scroll-y) + var(--scroll-y) * var(--y)) ,
	// 		calc( var(--scroll-x) + (var(--scroll-x) / 2) * var(--x) ) calc( var(--scroll-y) + var(--scroll-y) * 2 * var(--y)) ,
	// 		calc( var(--scroll-x) + (var(--scroll-x) / 8) * var(--x) ) calc( var(--scroll-y) + var(--scroll-y) * var(--y)),
	// 		calc( var(--scroll-x) + (var(--scroll-x) / 2) * var(--x) ) calc( var(--scroll-y) + var(--scroll-y) * var(--y)),
	// 		calc( var(--scroll-x) + (var(--scroll-x) * 1) * var(--x) ) calc( var(--scroll-y) + var(--scroll-y) * var(--y)); 
 	// }
	
}

@keyframes BGScroll3{
	0% { 
		background-position: 
		0 0,
		0 0, 
		0 0, 
		0 0, 
		0 0;
 	}
	50%{
		background-position: 
			calc( var(--scroll-x,50px) ) calc( var(--scroll-y,50px) / 2 ),
			calc( var(--scroll-x,50px) ) calc( var(--scroll-y,50px) / 2 ),
			calc( var(--scroll-x,50px) ) calc( var(--scroll-y,50px) / 2 ),
			calc( var(--scroll-x,50px) ) calc( var(--scroll-y,50px) / 2 ),
			calc( var(--scroll-x,50px) ) calc( var(--scroll-y,50px) / 2 );
	}
	100% { 
		background-position: 
			var(--scroll-x,50px) var(--scroll-y,50px),
			var(--scroll-x,50px) var(--scroll-y,50px), 
			var(--scroll-x,50px) var(--scroll-y,50px),
			var(--scroll-x,50px) var(--scroll-y,50px),
			var(--scroll-x,50px) var(--scroll-y,50px);
 	 }
}
// @keyframes BGScroll3{
// 	0% { 
// 		background-position: 
// 		0 0,
// 		0 0, 
// 		calc(var(--scroll-x) / 2) 0;
//  	 }
// 	100% { 
// 		background-position: 
// 			var(--scroll-x,50px) var(--scroll-y,50px),
// 			var(--scroll-x,50px) var(--scroll-y,50px), 
// 			calc((var(--scroll-x) / 2) + var(--scroll-x,50px)) var(--scroll-y,50px);
// 			// calc(var(--scroll-y) / 2)
//  	 }
// }

// 
@keyframes BGColours{
	0%{
		background-color:hsl(90, 60%, 40%);
	}
	10%{
		background-color: hsl(180, 60%, 40%);
	}
	20%{
		background-color: hsl(180, 60%, 40%);
	}
	30%{
		background-color: hsl(270, 60%, 40%);
	}
	40%{
		background-color: hsl(270, 60%, 40%);
	}
	50%{
		background-color: hsl(360, 60%, 40%);
	}
	70%{
		background-color: hsl(360, 60%, 40%);
	}
	80%{
		background-color:hsl(90, 60%, 40%);
	}
	100%{
		background-color: hsl(90, 60%, 40%);
	}
}

// 
@keyframes TextError{
	0%{
		color: hsl(360, 60%, 40%);
	}
	50%{
		color: hsl(270, 60%, 40%);
	}
	100%{
		color: hsl(360, 60%, 40%);
	}
	
}

@keyframes TextColours{
	0%{
		color:hsl(90, 60%, 40%);
	}
	10%{
		color: hsl(180, 60%, 40%);
	}
	20%{
		color: hsl(180, 60%, 40%);
	}
	30%{
		color: hsl(270, 60%, 40%);
	}
	40%{
		color: hsl(270, 60%, 40%);
	}
	50%{
		color: hsl(360, 60%, 40%);
	}
	70%{
		color: hsl(360, 60%, 40%);
	}
	80%{
		color:hsl(90, 60%, 40%);
	}
	100%{
		color: hsl(90, 60%, 40%);
	}
// 	0%{
// 	 	color: hsl(0, 60%, 40%);
// 	}
// 	50%{
// 		color: hsl(180, 60%, 40%);
// 	}
// 	100%{
// 		color: hsl(360, 60%, 40%);
//    }
}

@keyframes CTA{
	
	12%{
		filter:saturate(200%);
		// filter:hue-rotate(1turn) saturate(0%);
	}
}

@keyframes Rotate{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(var(--rotation,360deg));
	}
}

@keyframes Sway{
	0%, 100%{
		transform: rotate(0deg);
	}
	33%{
		transform: rotate(var(--rotation,360deg));
	}
	66%{
		transform: rotate(calc( -1 * var(--rotation,360deg )));
	}
}

@keyframes TextThrob{
	50%{
		opacity: 0.7;
	}
}
@keyframes Throb{
	50%{
		transform: scale(1.1);
	}
	90%{
		opacity: 0;
	}
}

@keyframes Shift{
	from{
		transform: translate( var(--xa,0), var(--ya,0) );
	}
	to{
		transform: translate( var(--xb,0), var(--yb,0) );
	}
}

@keyframes BackToTopReveal{
	from{
		opacity: 0;
		transform: translateY( 0);
	}
	to{
		opacity: 1;
		transform: translateY( -100% );
	}
}

@keyframes TranslateY{
	from{
		transform: translateY( var(--y,0) );
	}
}

@keyframes Translate{
	from{
		transform: translate( var(--x,0), var(--y,0) );
	}
}

@keyframes Fade{
	from{
		opacity: 0;
	}
	to{
		opacity: var(--opacity,1);
	}
}

@keyframes Fader{
	from{
		opacity: 0;
	}
	to{
		opacity: var(--opacity,1);
	}
}

@keyframes Activate{
	from{
		opacity: 0.97;
		transform:scale(0.99) translateX(2px) translateY(2px);
	}
}

@keyframes Hide{
	99%{
		opacity: var(--opacity,0);
	}
	100%{
		opacity: var(--opacity,0);
		display:none;
	}
}

@keyframes Blink{
	0%{
		opacity: 0;
	}
	49%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 1;
	}
}

@keyframes Loading{
	0%{
		transform:translateX( 0 );
		//background-color: hsl(90, 60%, 40%);
		background-image:linear-gradient(90deg, hsl(90, 60%, 40%), hsl(90, 60%, 40%));
	}
	10%{
		background-image:linear-gradient(90deg, hsl(180, 60%, 40%),hsl(180, 60%, 40%));
	}
	20%{
		transform:translateX( calc(100% - var(--loader-size)) );
		//background-color: hsl(180, 60%, 40%);
		background-image:linear-gradient(90deg, hsl(180, 60%, 40%),hsl(180, 60%, 40%));
	}
	30%{
		background-image:linear-gradient(90deg, hsl(270, 60%, 40%),hsl(270, 60%, 40%));
	}
	40%{
		transform:translateX( calc(100% - var(--loader-size)) ) translateY( calc( 100% - var(--loader-size) ) );
		//background-color: hsl(270, 60%, 40%);
		background-image:linear-gradient(90deg, hsl(270, 60%, 40%),hsl(270, 60%, 40%));
	}
	50%{
		background-image:linear-gradient(90deg, hsl(360, 60%, 40%), hsl(360, 60%, 40%));
	}
	70%{
		transform:translateX( 0 )  translateY( calc( 100% - var(--loader-size) ) );
		//background-color: hsl(360, 60%, 40%);
		background-image:linear-gradient(90deg, hsl(360, 60%, 40%), hsl(360, 60%, 40%));
	}
	80%{
		background-image:linear-gradient(90deg, hsl(90, 60%, 40%),hsl(90, 60%, 40%));
	}
	100%{
		transform:translateX( 0 );
		//background-color: hsl(90, 60%, 40%);
		background-image:linear-gradient(90deg, hsl(90, 60%, 40%),hsl(90, 60%, 40%));
	}
}




@keyframes Hide-Install{
	from{
		transform: translateX( 0 );
	}
	to{
		transform: translateX( calc( -100% + 44px ) );
	}
}


@keyframes TagReveal{
	to{
		transform: translateY( 0 );
	}
}

@keyframes TagHide{

	to{
		transform: translateY( calc(  var(--pad, 0) - 48%  ) );
	}
}

@keyframes DevelopPhotograph {
	0% { 
		opacity: 0; 
		filter: brightness(1) blur(20px);
	}
	10% { 
		opacity: 1; 
		filter: brightness(2) blur(10px);
	}
	100% { 
		opacity: 1; 
		filter: brightness(1) blur(0);
	}
}

@keyframes MIDIConnect{
	0%{
		content:'Connect a MIDI device';
	}
	30%{
		content:'Connect a MIDI device..';
	}
	60%{
		content:'Connect a MIDI device...';
	}
	90%{
		content:'Once connected the device will sing';
	}
}

// mask reveal
@keyframes RevealViaCircle {
    0% {
        clip-path: circle(0.1);
    }

    100% {
        clip-path: var(--circle-size, circle( 499 ));
    }
}

@keyframes FromCircle {
    from {
        clip-path: circle(190);
    }
	to{
		clip-path: circle(0.1);
	}
}

@keyframes Pulse {
	from{
		opacity:var(--opacity, 0.3);
	}   
	to {
		opacity:var(--alpha, 1);
    }
}
@keyframes ToCircle {

	from{
		clip-path: circle(0.1);
	}   
	to {
        clip-path: circle(190);
    }
}

@keyframes OutlineFocus {
	0%{
		outline:4px solid var(--shade-yellow);
	}
	
	33%{
		outline:4px dashed var(--shade-yellow);
	}
	
	66%{
		outline:4px dotted var(--shade-yellow);
	}

	100%{
		outline:4px solid transparent;
	}
}



$emoji:(
	😀,
	😃,
	😄,
	😁,
	😆,
	😅
);
// $emoji:(
// 	GrinningFace:😀,
// 	GrinningFaceWithBigEyes:😃,
// 	GrinningFaceWithSmilingEyes:😄,
// 	BeamingFaceWithSmilingEyes:😁,
// 	GrinningSquintingFace:😆,
// 	GrinningFaceWithSweat:😅
// );

@keyframes Emoji {
	
  	//  @each $name, $value in $emoji {
		
	// 	#{$name} {
	// 		content: $value;
	// 	}
	// }
	$end:6;
	@for $i from 1 to $end {
        #{math.div(100, $end)*$i + "%"} {
			$emoji:list.nth($emoji,$i);
			content:string.quote( $emoji );
		}
	}
}