.reveal .slides{

	figure{

		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap:var(--r-block-margin);

		img{
			margin-left:auto;
			margin-right:auto;
			height: auto;
			width: auto;
			object-fit: contain;
		}
	}

	figure.r-stretch{
		img{
			margin: 0 auto;
		}
	}

	figure:not(.r-stretch){
		img{
			max-width: 100%;
			max-height: 90vh;
		}
	
		figcaption{
			margin-top:var(--pad);
		}
	}
	
	video{
		margin:auto;
		visibility:visible;
	}

}