* {
	--scrollbar-foreground: var(--shade-cream);
	--scrollbar-background: transparent;
	scrollbar-width: thin;
	// scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
  }
  *::-webkit-scrollbar {
	width: 10px; /* Mostly for vertical scrollbars */
	height: 10px; /* Mostly for horizontal scrollbars */
  }
  *::-webkit-scrollbar-thumb { 
	background: var(--scrollbar-foreground);
  }
  *::-webkit-scrollbar-track {
	background: var(--scrollbar-background);
  }