// Feedback text that pops up and dissappears
#toast{

	--max-percent:78vw;
	--left:0;

	--y:var(--top);
	--_x:calc(1px * var(--left, 0));
	--x:clamp(var(--pad), var(--_x), var(--max-percent) );
	
	// is this above or below?
	--_y:clamp(0, calc( var(--top) * 99 ), 1);
	
	--v:calc( var(--left) * 1px - var(--_x) );

	// x coord in pixels - percentage of screen
	--d:calc( var(--_x) - var(--max-percent) );
	--_d:clamp(0 , var(--d) , 1 );

	// remaing width
	--max-width:calc(100vw - var(--x) - var(--pad) * 3 );
	--min-width:calc( var(--d) + var(--pad) * 2 );

	user-select: none;
	//pointer-events: none;
	position: absolute;
	padding: calc( var(--pad) * 1);

	// squish all the way down left as fallback for without clamp
	// left:var(--_x);
	// or stop at min-width
	left:var(--x);
	//right:calc( var(--pad) );
	bottom:calc( var(--footer-gap) + var(--pad) );
	z-index:909;

	// ok this is where things start getting "clever"
	// here we *only* enforce this fixed width IF --_d > 0
	// by specifying a positive min width we prevent collapse
	// min-width:calc( var(--_d) * var(--max-percent) );
	min-width:var(--min-width, 3ch);
	max-width:var(--max-width);
	min-height:1ch;

	color:$col-white;
	background-color:$col-dark;
	font-size:clamp(9px, var(--font-size), 14px);
	text-shadow : 	rgba($col-dark, 0.96) 0 -1px 2px,
					rgba($col-dark, 0.96) 0 0 2px;

	// FIXME
	// filter: drop-shadow(0 0 0.75rem var(--shade-blue) );

	// TRIANGLE POINTER!
	&::before{
		// fancy triangle dimensions
		--triangle-size:2rem;
		// change range from 0->1 to -1->1
		--r:calc(-1 + var(--_y,1) * 2 );
		// reverse it so from 1->-1
		--_r:calc(-1 * var(--r) );
		// -1 or 1 only
		--flipper:clamp(-1, calc( var(--_r) * 9 ), 1 );
		// 0 or 100% only (100% if mouse above)
		--f:calc( ( var(--_y,1) ) * 100% );
		
		--scale:0.7;// clamp(0.5, calc( var(--_y,1) * 9 ), 0.8 );
		// how much to move laterally - if above loads to the right...
		--tx:clamp(0px, calc( var(--_y) * 900px ), var(--_x) );

		
		// if we are above we go 100% + var(--tx)
		--a:calc( var(--d) + 3 * var(--f) );
		--z:max( var(--a), calc( var(--f) - var(--triangle-size) - var(--pad) ) );
		// a little extra offset to position the arrow better
		--_o:(var(--flipper,0) * -8px );
		
		
		clip-path: polygon(0 var(--f), 100% 0, 100% 100%);
		content:'';
		height:var(--triangle-size);
		width:var(--triangle-size);
		background:inherit;
		display: block;
		z-index:-1;
		position:absolute;
		
		// now we have a special case of when on the right hand side...
		// left: clamp( 0%, var(--z), calc(100% - var(--triangle-size) ) );
		left: clamp( 0%, var(--d), calc(100% - var(--triangle-size) ) );

		top:calc( (1 - var(--_y,1)) * 100% );

		//transform:translateY( calc( ( var(--_y,1) ) * -50% ) ) scale( var(--scale,1));
		transform:translateY( calc( ( var(--_y,1) ) * -100% + var(--_o) )  ) scale( var(--scale,1));
		transform-origin: center;
	}

	// hide if no text inside
	&:empty{
		--opacity:0;
		animation: Hide var(--ease-q) 1 0s ease-out both;
	}

	// if you somehow manage to mouse over the tooltip
	&:hover{
		//visibility: hidden;
		opacity: 0;
	}
}