$bg-url-grid: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC";
	

html{
	--scroll-x:50px;
	--scroll-y:50px;
	--stroke:2px;

	--col-bg:black;
	--col-grid:#{$col-dark};

	transition: background-color var(--ease-s) linear;
	background-color:var(--col-bg, #{$col-dark} );
	
	// add some background textures
	body{
						
		background-size: 	100%,
							//15%,
							25%, 
							25%;

		background-position: center, 
							// top 44px right 44px,
							 center,
							 center;

		background-repeat:no-repeat, 
							//no-repeat, 
							repeat, repeat;
	}
}

html.loading{

	--col-bg:#{$col-white};
	background-image: 	url($bg-url-grid);
	background-size:var(--scroll-x);
	background-repeat:repeat;

	// mix-blend-mode: darken;
	// mix-blend-mode: difference;
	// mix-blend-mode: exclusion;
	// mix-blend-mode: multiply;

	//filter: url(#noiseFilter);

	animation: BGScroll 999ms infinite linear reverse;
	//	clip-path: inset(0 0 0 0);
	body{
		// 					linear-gradient(rgba($col-white, 0.9), rgba($col-cream, 0.2) );
		background-image:  linear-gradient( rgba($col-white, 0.5), rgba($col-cream, 0.5) );
	}
}

html.initialising{

}

html.player-selection{

	--col-bg:#{$col-white};
	--grid-x:calc(var(--scroll-x) - var(--stroke) );// 
	--grid-y:calc(var(--scroll-y) - var(--stroke) );// 
	
	// colour that bleeds through the gap
	
	// dash pattern using css
	background-image:
		linear-gradient(0deg, var(--col-grid) var(--grid-x), transparent var(--scroll-x) ),
		linear-gradient(90deg, var(--col-grid) var(--grid-y), transparent var(--grid-y) );
		
	// grid pattern using css
	background-image:
		linear-gradient(0deg, var(--col-grid) var(--grid-x), transparent var(--grid-x) ),
		linear-gradient(90deg, var(--col-grid) var(--grid-y), transparent var(--grid-y) );
		

	&.beginner{
		--scroll-x:150px;
		--scroll-y:150px;

		// bumps!var(--shade-yellow, transparent)
		--c:var(--shade-red, black);
		--_g: 	80%, 
				var(--c) 25.4%,
				transparent 26%;

		background-color: var(--shade-dark);
		background-image:
			radial-gradient(at 80% var(--_g)),
			radial-gradient(at 20% var(--_g)),
			conic-gradient(from 
				-45deg at 50% 41%,
				var(--c) 90deg,
				transparent 0
			);

		// background-position: 
		// 	0 0,
		// 	0 0, 
		// 	calc(var(--scroll-x) / 2) 0;

		animation-name: BGScroll3;
	} 

	background-size:
		var(--scroll-x) 
		var(--scroll-y);

	background-repeat:repeat, repeat;

	animation: BGScroll2 999ms infinite linear reverse;
	//	clip-path: inset(0 0 0 0);
}