article.mixed-content
	header
		h4 MIT Artist
		datetime 2025-01-24
	
	a.link-qr(href="mit.pug" target="_blank")
		img(src="./assets/qr/interface.place-red.png" alt="QR code linking to the MIT PhotoSYNTH website.")
