
.audio-player{

	--size:100px;
	position: relative;
	min-width: var(--size);
	min-height: 3rem;
	display: block;
	
	&::after{
		content:'';
		position: absolute;
		z-index: -2;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background-color: var(--shade-green);
	}
	
	&.paused{
		&::after{
			background-color: var(--shade-yellow);
		}
	}

	// // progress indicator
	// &::before{
	// 	content:'';
	// 	display: block;
	// 	background: var(--shade-blue);
	// 	position: absolute;
	// 	left:0;
	// 	right:0;
	// 	top:0;
	// 	height:100%;
	// 	transform-origin: left center;
	// 	transform:scaleX( calc( 100% * var(--progress, 0) ) );
	// }

	.button-close{
		box-shadow: none;
		color:transparent;
		text-shadow:none;
		position: absolute;
		top:0;
		right:0;
		border-radius: 99px;
		background:var(--shade-red);
		border:var(--border) var(--shade-white) solid;
		padding:0;//var(--pad);
		font-size:0;
		transform: translate(50%,-50%) scale(0.9);
		transition-timing-function: var(--ease-out-back);
		transition:transform var(--ease-m) 0s;
		box-sizing: border-box;
		z-index: 202;
		display: flex;
		align-items: center;
		justify-content: center;
		&::before{
			
			font-size:26px;
			color:var(--shade-white, white);
			filter:none;
		}
		&:hover{
			color:transparent;
			border-color:var(--shade-red);
		}
		&:active{
			animation: none;
		}
		&:hover, &:focus{
			transform: translate(50%,-50%) scale(1);

			&::before{
				opacity: 1;
				outline:o;
			}
		}
	}

	.button-close:hover ~ .waveform-wrapper{
		//opacity:0;
		//filter:invert(100%);
		background-color: var(--shade-red);
	}
}



.button-play-pause{
	--max-width:auto;
	--bg: url(/source/assets/icons/play_circle_black_24dp.svg);
	--bg: url(/source/assets/icons/not_started_black_24dp.svg);
	--bg: url(/source/assets/icons/pause_circle_black_24dp.svg);
	position: absolute;
	padding:0;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:1;
	background: none;
	background-image: var(--bg) center no-repeat;
	border-radius: 0;

	&:focus{
		outline:none;
		box-shadow: none;
		border:3px solid var(--shade-orange);
	}
	&:hover, &:focus{
		animation: none;
		transition: none;
	}
	strong{
		display:block;
		font-size: 70%;
		font-weight:900;
	}
}

.paused .button-play-pause{
	--bg: url(/source/assets/icons/play_circle_outline_black_24dp.svg);
}




.button-download-mp3{
    --bg: url(/source/assets/icons/download_for_offline_black_24dp.svg);
}
.button-download-ogg{
    --bg: url(/source/assets/icons/download_for_offline_black_24dp.svg);
}
.button-download-wave{
    --bg: url(/source/assets/icons/download_for_offline_black_24dp.svg);
}

.audio-progress{
	display: block;
	// background: var(--shade-blue);
	position: absolute;
	left:0;
	right:0;
	top:0;
	width:100%;
	height:100%;
	z-index:-1;
	opacity: .4;
}

.audio-download-menu{
	margin:0;
	padding:0;
	display: flex;
	visibility: hidden;

	button{
		--col-select: var(--shade-yellow);
		--col-hover: var(--shade-green);
		padding:0;
		z-index:2;
		--bg: url(/source/assets/icons/download_for_offline_black_24dp.svg);
		background-position: top center;
	}

	&:focus-within,
	&:hover{
		visibility: visible;
	}
}

.waveform{
	height:100%;
	width:100%;
}

.waveform path{
	stroke:var(--shade-blue);
	stroke-width: 1;
}

.waveform-wrapper{
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
}