@use "../_mixins.scss";
@use "./_button.scss";

// @layer button{
	
	// selector for the tempo
	label[for="select-tempo"]{
		--bg:url(/source/assets/icons/speed-24px.svg);
		--col-hover:var(--shade-blue);
		--col-select:var(--shade-yellow);
		anchor-name: --select-tempo;
	}


	label[for="button-settings"]{
		order:-1;
		grid-area:1/1;
		--col-select:var(--shade-green);
		--col-hover:var(--shade-blue);
		--bg:url(/source/assets/icons/settings-24px.svg);
		anchor-name: --button-settings;
		&:has(input:checked),
		&.checked{
			// arrow down to show that the settings hide
			--bg:url(/source/assets/icons/expand_more-24px.svg);
		}
	}

	label[for="button-quantise"]{
		--col-select:var(--shade-blue);
		--col-hover:var(--shade-blue);
		--bg:url(/source/assets/icons/grid_on-24px.svg);
		anchor-name: --button-quantise;
		&:has(input:checked),
		&.checked{
			--bg:url(/source/assets/icons/grid_off-24px.svg);
		}
	}

	label[for="button-metronome"]{
		--bg:url(/source/assets/icons/hourglass_empty-24px.svg);
		anchor-name: --button-metronome;
		&:has(input:checked),
		&.checked{
			--bg:url(/source/assets/icons/hourglass_disabled-24px.svg);
		}
	}


	// This icon represents the different modes
	a.folder-link[href="#folder-volume"]{
		--col-select:var(--shade-blue);
		--col-hover:var(--shade-blue);

		// off, silent, low, high...
		--bg:url(/source/assets/icons/volume_off-24px.svg);
		--bg:url(/source/assets/icons/volume_mute-24px.svg);
		--bg:url(/source/assets/icons/volume_down-24px.svg);
		--bg:url(/source/assets/icons/volume_up-24px.svg);
		
		anchor-name: --folder-volume;

		&.checked{
			--bg:url(/source/assets/icons/volume_off-24px.svg);
		}
	}

	.mute a.folder-link[href="#folder-volume"]{
		
		--bg:url(/source/assets/icons/volume_off-24px.svg);
		--bg:url(/source/assets/icons/volume_mute-24px.svg);
	}

	.lo a.folder-link[href="#folder-volume"]{
		--bg:url(/source/assets/icons/volume_off-24px.svg);
		--bg:url(/source/assets/icons/volume_down-24px.svg);
	}

	.high a.folder-link[href="#folder-volume"]{
		--bg:url(/source/assets/icons/volume_off-24px.svg);
		--bg:url(/source/assets/icons/volume_mute-24px.svg);
		--bg:url(/source/assets/icons/volume_down-24px.svg);
		--bg:url(/source/assets/icons/volume_up-24px.svg);
	}


	label[for="button-mute"]{
		--col-select:var(--shade-blue);
		--col-hover:var(--shade-blue);
		--bg:url(/source/assets/icons/volume_mute-24px.svg);
		anchor-name: --button-mute;
		&:has(input:checked),
		&.checked{
			--bg:url(/source/assets/icons/volume_off-24px.svg);
		}
	}

	label[for="button-disco"]{
		--col-select:var(--shade-green);
		--col-hover:var(--shade-blue);
		--bg:url(/source/assets/icons/blur_on-24px.svg);
		anchor-name: --button-disco;
		&:has(input:checked),
		&.checked{
			--bg:url(/source/assets/icons/blur_off-24px.svg);
		}
	}

	// Reverb selection
	label[for="select-impulse"]{
		--col-select:var(--shade-blue);
		--col-hover:var(--shade-blue);
		--bg:url(/source/assets/icons/extension-24px.svg);
		anchor-name: --select-impulse;
		&:has(input:checked),
		&.checked{
			--bg:url(/source/assets/icons/extension_off-24px.svg);
		}
	}

	// Face mesh overlays
	label[for="button-meshes"]{
		--col-select:var(--shade-yellow);
		--col-hover:var(--shade-blue);
		--bg:url(/source/assets/icons/face_retouching_off-24px.svg);
		anchor-name: --button-meshes;
		&:has(input:checked),
		&.checked{
			--bg:url(/source/assets/icons/face_retouching_natural-24px.svg);
		}
	}

	// Eye overlays
	label[for="button-eyes"],
	label[for="select-eyes"]{
		--col-select:var(--shade-green);
		--col-hover:var(--shade-blue);
		--bg:url(/source/assets/icons/adjust-24px.svg);
		&:has(input:checked),
		&.checked{
			//--bg:url(/source/assets/icons/extension_off-24px.svg);
		}
	}

	label[for="select-eyes"]{
		// visibility: hidden;
		display: none;
		anchor-name: --select-eyes;
	}
		
	// Toggle show eyes or hide eyes
	label[for="button-eyes"]{
		--bg:url(/source/assets/icons/motion_photos_off-24px.svg);
		anchor-name: --button-eyes;
		&:has(input:checked),
		&.checked{
			--bg:url(/source/assets/icons/motion_photos_on-24px.svg);
		}
	}

	// 
	label[for="button-subtitles"]{
		--col-select:var(--shade-green);
		--col-hover:var(--shade-blue);
		--bg:url(/source/assets/icons/speaker_notes-24px.svg);
		anchor-name: --button-subtitles;
		&:has(input:checked),
		&.checked{
			--bg:url(/source/assets/icons/speaker_notes_off-24px.svg);
		}
	}

	// choose colour scheme
	label[for="select-palette"]{
		--col-select:var(--shade-yellow);
		--col-hover:var(--shade-green);
		--bg:url(/source/assets/icons/color_lens-24px.svg);
		anchor-name: --select-palette;
		&:has(input:checked),
		&.checked{
			//--bg:url(/source/assets/icons/extension_off-24px.svg);
		}
	}

	// choose display
	label[for="select-display"]{
		--col-select:var(--shade-yellow);
		--col-hover:var(--shade-green);
		--bg:url(/source/assets/icons/gradient-24px.svg);
		// --bg:url(/source/assets/icons/settings_overscan_black_24dp.svg);
		// --bg:url(/source/assets/icons/settings_brightness_black_24dp.svg);
		anchor-name: --select-display;
		&:has(input:checked),
		&.checked{
			//--bg:url(/source/assets/icons/extension_off-24px.svg);
		}
	}

	// add beats
	label[for="button-percussion"]{
		--bg:url(/source/assets/icons/auto_fix_high-24px.svg);
		--col-select:var(--shade-green);
		--col-hover:var(--shade-yellow);
		anchor-name: --button-percussion;
		&:has(input:checked),
		&.checked{
			--bg:url(/source/assets/icons/auto_fix_off-24px.svg);
		}
	}


	// recording subfolder
	a.folder-link[href="#folder-record"]{
		--col-select:var(--shade-blue);
		--col-hover:var(--shade-blue);
		--bg:url(/source/assets/icons/adjust-24px.svg);
		anchor-name: --folder-record;
		&.checked{
			--bg:url(/source/assets/icons/adjust-24px.svg);
		}
	}


	label[for="button-fullscreen"]{
		// far right
		order:99;
		--col-select:transparent;
		//--col-hover:transparent;

		@extend %image-replacement;
		--bg:url(/source/assets/icons/fullscreen-24px.svg);

		anchor-name: --button-fullscreen;
		
		// toggled state
		// &.checked{
		// 	--bg:url(/source/assets/icons/fullscreen_exit-24px.svg);
		// }
		
		// override if user has esc'ed
		@media all and (display-mode: fullscreen) {
			--bg:url(/source/assets/icons/fullscreen_exit-24px.svg) !important;
		}
	}


	label[for="button-overlay"]{
		// --col-hover:#{$col-dark};
		--col-select:var(--shade-blue);
		// @extend %image-replacement;

		// --bg:url(/source/assets/icons/image_not_supported-24px.svg);
		--bg:url(/source/assets/icons/visibility-24px.svg);

		anchor-name: --button-overlay;

		&:has(input:checked),
		&.checked{
			// background-image:url(/source/assets/icons/music_off-24px.svg);
			// --bg:url(/source/assets/icons/image-24px.svg);
			--bg:url(/source/assets/icons/visibility_off-24px.svg);
			// background-image:url(/source/assets/icons/music_note-24px-24px.svg);
		}
	}

	label[for="button-spectrogram"]{
		// --col-hover:$col-dark;
		--col-hover:var(--shade-green);
		--col-select:var(--shade-orange);
		--bg:url(/source/assets/icons/graphic_eq_black_24dp.svg);
		anchor-name: --button-spectrogram;

		&:has(input:checked),
		&.checked{
			--bg:url(/source/assets/icons/graphic_eq_black_off_24dp.svg);
		}
	}
	label[for="select-samples"]{
		--col-hover:var(--shade-green);
		--col-select:var(--shade-orange);
		--bg:url(/source/assets/icons/audiotrack-24px.svg);
		anchor-name: --select-samples;
		// &.checked{
		// 	--bg:url(/source/assets/icons/graphic_eq_black_24dp.svg);
		// }
	}

	label[for="select-theme"]{
		--col-hover:var(--shade-green);	
		--col-select:var(--shade-blue);

		--bg:url(/source/assets/icons/color_lens-24px.svg);
		anchor-name: --select-theme;
		// &.checked{
		// 	--bg:url(/source/assets/icons/graphic_eq_black_24dp.svg);
		// }
	}

	// label[for="button-spectrogram"]{
	// 	// --col-hover:$col-dark;
	// 	--col-hover:var(--shade-green);
	// 	--col-select:var(--shade-green);
	// 	background-image:url(/source/assets/icons/piano-24px.svg);
	// 	&.checked{
	// 		background-image:url(/source/assets/icons/piano_off-24px.svg);
	// 	}
	// }

	label[for="button-clear"]{
		// --col-hover:$col-dark;
		--col-hover:var(--shade-blue);
		--col-select:var(--shade-yellow);

		--bg:url(/source/assets/icons/videocam_off-24px.svg);
		anchor-name: --button-clear;

		&:has(input:checked),
		&.checked{
			--bg:url(/source/assets/icons/videocam-24px.svg);
		}
	}

	label[for="button-speak"]{
		--col-hover:var(--shade-blue);
		--col-select:var(--shade-yellow);
		// --bg:url(/source/assets/icons/mic_off-24px.svg);
		--bg:url(/source/assets/icons/voice_over_off_black_24dp.svg);
		anchor-name: --button-speak;

		&:has(input:checked),
		&.checked{
			// background-image:url(/source/assets/icons/music_off-24px.svg);
			--bg:url(/source/assets/icons/record_voice_over_black_24dp.svg);
			// background-image:url(/source/assets/icons/music_note-24px-24px.svg);
		}
	}

	label[for="button-sync-video"]{
		// only display between certain sizes?
		// display: none;
		// --col-hover:$col-dark;
		--col-hover:var(--shade-blue);
		--col-select:var(--shade-yellow);
		--bg:url(/source/assets/icons/web_asset_off-24px.svg);
		anchor-name: --button-sync-video;
		&:has(input:checked),
		&.checked{
			// background-image:url(/source/assets/icons/music_off-24px.svg);
			--bg:url(/source/assets/icons/web_asset-24px.svg);
			// background-image:url(/source/assets/icons/music_note-24px-24px.svg);
		}
	}

	label[for="button-transparent"]{
		// only display between certain sizes?
		display: none;
		// --col-hover:$col-dark;
		--col-hover:var(--shade-blue);
		--col-select:var(--shade-yellow);
		--bg:url(/source/assets/icons/web_asset_off-24px.svg);
		anchor-name: --button-transparent;
		&:has(input:checked),
		&.checked{
			// background-image:url(/source/assets/icons/music_off-24px.svg);
			--bg:url(/source/assets/icons/web_asset-24px.svg);
			// background-image:url(/source/assets/icons/music_note-24px-24px.svg);
		}
	}

	// selector for the tempo
	label[for="select-camera"]{
		--bg:url(/source/assets/icons/camera_enhance-24px.svg);
		--col-hover:var(--shade-blue);
		--col-select:var(--shade-yellow);
		anchor-name: --select-camera;
	}

	// selector for the tempo
	label[for="select-tempo"]{
		--bg:url(/source/assets/icons/speed-24px.svg);
		--col-hover:var(--shade-blue);
		--col-select:var(--shade-yellow);
		anchor-name: --select-tempo;
	}


	a.folder-link[href="#folder-tempo"],
	label[for="input-tempo"]{
		--bg:url(/source/assets/icons/speed-24px.svg);
		--col-select:var(--shade-yellow);
		anchor-name: --input-tempo;
	}

	label[for="button-record-audio"]{
		--bg:url(/source/assets/icons/voicemail-24px.svg);
		--col-select:var(--shade-yellow);
		anchor-name:--button-record-audio;
		&.recording{
			--col-hover:var(--shade-red);
			--col-select:var(--shade-red);
			&::before{
				opacity:1;
				animation: Throb 0.8s 0s both infinite;
			}
		}

		&.progress{

		}
	}


	label[for="button-record-video"]{
		--bg:url(/source/assets/icons/speed-24px.svg);
		--col-hover:var(--shade-blue);
		--col-select:var(--shade-yellow);
		anchor-name: --button-record-video;
	}

	// SHARED CONTROL PANEL
	a.folder-link[href="#folder-midi"],
	button#button-midi{
		// We were looking at all the MIDI Innovation Award apps and noticed that you are using the new MIDI pictogram on your website. 
		// The MIDI logo and Pictogram is the intellectual property of the MIDI Association and can only be used by MIDI Association 
		// members who have signed our logo licensing agreement and certify that their product supports MIDI 2.0. 
		// As we have not publicized the rules about MIDI 2.0 logo usage we are sure this is unintentional on your part.  
		// However we have to insist that you immediately remove the logo from your website. 

		//background-position: left 1px center;
		// --icon-size:36px;
		//background-color: $col-cream;
		--bg:url(/source/assets/icons/midi-copyright-free.svg);
		anchor-name: --folder-midi;
		&:before{
			// also make sure we have set the width for midi as is not square
			//min-width: calc(var(--icon-size) * 1.2);
		}

		// special case for toggled
		&.connected{
			@extend %button-active;
		}
	}

	button#button-record{
		//color:$col-red;
		&.recording{

		}
	}

	button#button-photograph{
		--col-hover:var(--shade-blue);
		--bg:url(/source/assets/icons/add_a_photo-24px.svg);
		anchor-name: --button-photograph;
	}

	button#button-reset{
		--col-hover:var(--shade-blue);
		--bg:url(/source/assets/icons/report_problem_black_24dp.svg);
		anchor-name: --button-reset;
	}

	// we have the top left nav button instead here?
	button#button-help{
		// background-color:vae(--col-hover);
		// background-color: $col-yellow;
		--col-hover:var(--shade-blue);
		--bg:url(/source/assets/icons/help_outline_black_24dp.svg);
		cursor: help;
		display: none;
		anchor-name:--button-help;
	}

	button#button-share{
		--bg:url(/source/assets/icons/share-24px.svg);
		//margin-left: auto;
		z-index:2;
		// second from right
		// order:98;
		anchor-name: --button-share;
	}

	#button-reload{
		--bg:url(/source/assets/icons/autorenew_black_24dp.svg);
		width: 100%;
		text-align: left;
		justify-content: flex-start;
		gap:var(--pad);
		anchor-name: --button-reload;
	}

	// This is the upload midi file button and action
	button.midi-file{
		--bg:url(/source/assets/icons/face_retouching_off-24px.svg);
		anchor-name:--button-upload-midi;
	}

	#button-midi-upload{
		--bg:url(/source/assets/icons/midi-copyright-free.svg);
		gap:var(--pad);
		width: 100%;
		anchor-name: --button-midi-upload;
	}

	// This toggles Virtual Reality XR mode
	#VRButton{
		width: auto !important;
		left: auto !important;
		position: relative !important;
		opacity: 1 !important;
		--bg:url(/source/assets/icons/view_in_ar_black_24dp.svg);
		anchor-name: --button-vr;
	}
// }