
button.arcade{
	
	--size:10;
	
	--bezel:0.8;
	--fade:0.7;
	--hover-size:0.03;
	
	--hue:10;	
	--shadow:calc( var(--hue) + 180 );
	--throw:1px;
	
	--saturation:100%;
	--lightness:50%;

	--button-size:calc(1rem * var(--size));
	--font-size:calc( 240% * var(--size) / 6 );
	
	cursor:pointer;
	
	position:relative;
	outline:none;
	border:1px solid hsla( var(--shadow), var(--saturation), 20%, 0.9 );
	border-radius:999px;
	user-select:none;
	
	// prevent pixel jump
	will-change:transform;//
	
	font-size:var(--font-size);
	font-weight:bolder;
	font-family:monospace;

	text-shadow:0 -1px 1px hsla( var(--hue), var(--saturation), 5%, 0.9 ), 
							0 1px 1px hsla( var(--hue), var(--saturation), 95%, 0.9 );
	// text-shadow:0 1px 1px hsla( var(--hue), var(--saturation), 5%, 0.9 ), 
	// 						0 -1px 1px hsla( var(--hue), var(--saturation), 95%, 0.9 );
			
	color: hsla( var(--hue), var(--saturation), 5%, 0.95 );
	background-color:hsl( var(--hue), var(--saturation), var(--lightness) );
	background-image:linear-gradient( hsla( var(--hue), var(--saturation), 70%, 0.5 ), hsla( var(--hue), var(--saturation), 30%, 0.5 ));
	
	// rotate colour for complementary shadow
	box-shadow: 0 var(--throw) 10px hsla( var(--shadow), var(--saturation), 10%, 0.9 ),
							0 calc( -1 * var(--throw) ) hsla( var(--hue), var(--saturation), 20%, 0.9 );
	
	
	display:inline-block;
	box-sizing:border-box;
	
	min-width:calc(44px);
	min-height:calc(44px);
	
	width:calc(1rem * var(--size));
	height:calc(1rem * var(--size));
	margin:10px;
	
	// (100% - 60rem) / (20 - 60)
	
	box-sizing:border-box;
	
	transition: transform 40ms ease-in, 
							background 90ms ease-out, 
							box-shadow 120ms ease-out;
	
	&::before, 
	&::after{
		box-sizing:border-box;
		content:'';
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		border-radius:100%;
		transition: transform 40ms ease-in, 
								opacity 90ms linear, 
								background 90ms ease-out, 
								box-shadow 120ms ease-out;
	}
	
	&::before{
		--throw:8px;
			transform:scale(var(--fade));
		
		// background-image:linear-gradient( hsla( var(--hue), var(--saturation), 40%, 0.3 ), hsla( var(--hue), var(--saturation), 60%, 0.3 ));
		
		//background-image:linear-gradient( hsla( var(--hue), 100%, 40%, 0.9 ), hsla( var(--hue), 100%, 60%, 0.5 ));
			background-image:linear-gradient( hsla( var(--hue), var(--saturation), 30%, 1 ), hsla( var(--hue), var(--saturation), 80%, 1 ));
		opacity:0.5;
	}
	
	// This is afterwards
	&::after{
		--throw:3px;
		transform:scale( var(--bezel) );	
		border:2px solid hsla( var(--hue), var(--saturation), 15%, 0.6 );
		box-shadow: inset 0 1px var(--throw) hsla( var(--hue), var(--saturation), 90%, 0.9 ), 
								inset 0 -1px var(--throw) hsla( var(--hue), var(--saturation), 10%, 0.3 ),
								0 1px var(--throw) hsla( var(--hue), var(--saturation), 10%, 0.3 ),
								0 -1px var(--throw) hsla( var(--hue), var(--saturation), 10%, 0.3 );
		// margin:20%;
		// transform:scale(var(--fade));
	
		//background-image:linear-gradient( hsla( var(--hue), var(--saturation), 40%, 0.3 ), hsla( var(--hue), var(--saturation), 60%, 0.3 ));
		// box-shadow: inset 0 -1px var(--throw) hsla( var(--hue), 100%, 90%, 0.9 ), 
		// 						inset 0 1px var(--throw) hsla( var(--hue), 100%, 10%, 0.3 );
	}
	
	
	
	&:hover{
		//--hue: var( --shadow );
		--lightness:70%;

		&::before{
			//transform:scale( var(--bezel) );
		}
		&::after{
			//background-image:linear-gradient( hsla( var(--hue), var(--saturation), 30%, 0.3 ), hsla( var(--hue), var(--saturation), 60%, 0.3 ));
		}
	}
	
	///////////////////////////////////////////////////////////////
	// Clicked state : keyframed to present an action
	///////////////////////////////////////////////////////////////
	&:active{
		
		--saturation:100%;
		
		font-size:calc( var(--font-size) * ( 1 - var(--hover-size)) ); 
		
		&::before{
			--throw:8px;
			
			transform:scale( calc(var(--bezel)  ) );
			opacity:0.41;
			//border:2px solid hsla( var(--hue), var(--saturation), 20%, 0.5 );
			
			//background-image:linear-gradient( hsla( var(--hue), 100%, 40%, 0.9 ), hsla( var(--hue), 100%, 60%, 0.5 ));

			box-shadow: inset 0 -1px var(--throw) hsla( var(--hue), var(--saturation), 90%, 0.9 ), 
									inset 0 1px var(--throw) hsla( var(--hue), var(--saturation), 10%, 0.3 ),
									0 -1px var(--throw) hsla( var(--hue), var(--saturation), 90%, 0.3 ),
									0 1px var(--throw) hsla( var(--hue), var(--saturation), 90%, 0.3 );
		}
		
		&::after{
			--throw:3px;
			transform:scale( calc( var(--bezel) - var(--hover-size) ) );
			border:2px solid hsla( var(--hue), var(--saturation), 15%, 0.8 );
			//background-image:linear-gradient( hsla( var(--hue), var(--saturation), 30%, 0.3 ), hsla( var(--hue), var(--saturation), 60%, 0.3 ));
		}
	}
	
	&:focus{
		--lightness:60%;
		//--hue:180;
		//border:1em solid hsla( var(--shadow), var(--saturation), 50%, 0.5 );
	}
		
	
	&:disabled{
		--hue:270;
		--saturation:10%;
		--lightness:83%;
		--hover-size:0;
	
		// --fade:1;
		cursor:not-allowed;
	}
}