@use "./_button.scss";
	
// All buttons!
// :where over :is as otherwise specificity suffers
:where(
	button,
	.button,
	.controls > *:not(div, legend), 
	.controls .folder-link
){
	@include button.button-style;
}

// BUTTON WITH ICON :not(.person-toggle-controls)
:where(
	button,
	.button,
	.controls > *:not(div, legend), 
	.controls .folder-link
):not(.button-push){
	@include button.button-with-icon-style;
}

// Custom button with nice background
// generic close button
:where(
	button,
	.button,  
	a, 
	input, 
	label
){

	// Front page buttons with a larger border, rounder edges
	// and no resizing of contents
	&.button-push{
		@include button.button-with-icon-and-border;
	}
	
	// dual icons (if you want to animate the icon shadow)
	&.button-icons{
		@include button.button-with-dual-icon-style;
	}

	// full rounded edges to make a roundish button
	&.button-round, 
	&.round{
		border-radius: 999px;
	}

	// special CLOSE button with icon 
	&.button-close{
		&:before{
			font-weight: 900;
			content:'×';
		}
	}
}