

// Help Box
dialog::backdrop {

	background: repeating-linear-gradient(
	  45deg,
	  rgba($col-blue, 0.2),
	  rgba($col-blue, 0.2) 1px,
	  rgba($col-cream, 0.3) 1px,
	  rgba($col-cream, 0.3) 20px
	);
	//backdrop-filter: blur(3px);
}
// -
dialog{
	&:not([open]) {
		pointer-events: none;
		opacity: 0;
		display: none;
	}
	
	&[loading] {
		visibility: hidden;
	}	
}

// pop over (is this accessible?)
dialog[open]{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;

	max-width:calc( 100% - var(--pad) * 4 );
	max-height:calc( 100% - var(--pad) * 4 );

	margin:auto;//calc( 2 * var(--pad) );
	padding:calc( 3 * var(--pad) );
	overflow: auto;
	overflow-x: hidden;
	overscroll-behavior-y: contain;

	// king of the castle
	z-index:999;
	border:0;
	border-radius: var(--curve);
	//position: static;
	// top right is a fake close icon...
	background: url(./assets/icons/close-24px.svg) no-repeat, 
				linear-gradient( white, $col-white );

	background-position:top calc( 1 * var(--pad) ) right calc( 1 * var(--pad) ), center;
	color:var(--shade-dark);

	// filter:drop-shadow(var(--shadow));
	box-shadow:var(--shadow) ;
	
	transition: opacity 90ms linear;

	// &::before {
	// 	content: "";
	// 	z-index: -1;
	// 	position: absolute;
	// 	top: 0;
	// 	right: 0;
	// 	bottom: 0;
	// 	left: 0;
	// 	background: linear-gradient(-45deg, var(--shade-blue) 0%, var(--shade-green) 100% );
	// 	transform: translate3d(0px, 20px, 0) scale(0.95);
	// 	filter: blur(20px);
	// 	opacity: 0.7;
	// 	transition: opacity 0.3s;
	// }
	
	--y:-8%;
	animation:TranslateY var(--ease-q) linear 0s 1 both;

	> *{
		user-select: none;
		animation:Fade var(--ease-q) linear 0s 1 both;
	}

	h4{
		--font-scale: 3;
		color:var(--shade-red);
		display: flex;
		align-items: center;
		// justify-content: center;
		margin-bottom:var(--pad);
		margin-left: calc(-1 * var(--pad));
		line-height: 1;

		//default icon
		&::before{
			--size:calc( var(--s5) * 1.5rem );
			--bg:url(/source/assets/icons/support_black_24dp.svg);
			content: '';
			display: inline-block;
			min-width:var(--size);
			min-height:var(--size);
			background-size: contain;
			background-image:var(--bg);
			//filter: invert(90%) sepia(10%) saturate(395%) hue-rotate(324deg) brightness(105%) contrast(81%);
			margin-right:calc( 0.5 * var(--pad) );
			opacity: 0.1;
		}
	}
		
	ol{
		padding:calc(var(--pad) * 1) calc(var(--pad) * 2);
	}

	a{
		color:$col-orange;
		// FIXME:
		text-decoration:underline ;
		text-decoration-style:dashed;
		text-decoration-color: $col-red;
		text-underline-offset: 4px;
		z-index:909;
		pointer-events: auto;

		&:hover{
			text-decoration-style:solid;
		}

		&:focus{
			text-decoration-style:wavy;
		}
	}

	.version{
		order:-1;
		position:absolute;
		top:calc( 1 * var(--pad) );
		right:calc( 2rem + var(--pad ) );
		opacity:0.3;
		z-index:909;
		
		&:hover{
			opacity:1;
		}
	}

	.learn-more{
		border-top:1px solid $col-gray;
		margin-top:var(--pad);
		padding-top:var(--pad);
		z-index:909;
	}

	form[method=dialog]{
		order:-1;
		pointer-events: none;
		z-index:-1;
		
		button{
			pointer-events: auto;
			position:fixed;
			top:0;
			left:0;
			right:0;
			bottom:0;
			z-index:-1;
			opacity: 0;
			background: none;

			&:hover{
				
			}
		}
	}

}