input[type="radio" i]{

	display:inline-block;
	overflow: hidden;

	min-width:48px;
	min-height:48px;

	background-color: var(--shade-blue);
	border:var(--stroke) solid var(--shade-white);
	border-radius: 999px;

	// transform:translateY(var(--y,-10%)) scale(0.8);
	
	&:checked{
		// transform:translateY(0) scale(1);
		transform:scaleX(1);
		background-color: var(--shade-accent, var(--shade-yellow, yellow));
	}
}
