@use "../_palette.scss";
@use "../_ease.scss";
@use "./_button.scss";

// replace regular with a classic radio style toggle button
// square emerald with a big tick
input[type="checkbox" i]{
	display: inline-block;
	padding:var(--pad);
	border:0;
	text-shadow: none;
	box-shadow: none;
	//border-radius:999px;
	// from ios guidelines
	// min-width:44px;
	// min-height:44px;
	// max-width:var(--max-width-override, var(--max-width,auto) );
	&:focus{
		//border-color:$col-orange;
	}
	&:active{
		@extend %button-active;
	}
	&:checked{
		background-color:var(--col-accent);
	}
}

// different kind of switchbox for one toggle only
input[type="checkbox" i].toggle{

	--saturation:50%;

	// brighter towards the bottom
	--col-inner-top:hsla( var(--hue), var(--saturation, 50%), 35%, 100% );
	--col-inner-bottom:hsla( var(--hue), var(--saturation, 50%), 45%, 100% );

	// Padding : brighter towards the top
	--col-pad-top:hsla( var(--hue), var(--saturation, 50%), 45%, 100%);
	--col-pad-bottom:hsla( var(--hue), var(--saturation, 50%), 35%, 100%);
		
	// BEVEL :brighter towards the bottom
	--col-back-top:hsla( var(--hue), var(--saturation, 50%), 35%, 40% );
	--col-back-bottom:hsla( var(--hue), var(--saturation, 50%), 55%, 10% );

	--col-ring:hsla( var(--hue), var(--saturation, 50%), 15%, 100%);
	
	// border:var(--button-border-size) solid rgba($col-brown, 0.9);
	// border-top-color: rgba($col-white, 0.6 );
	// border-left-color: rgba($col-white, 0.3);
	// border-right-color: rgba($col-white, 0.7);
	// border-radius:3px;
	
	background-image: 
		linear-gradient( var(--col-inner-top), var(--col-inner-bottom)), 
		linear-gradient( var(--col-pad-top), var(--col-pad-bottom) ), 
		linear-gradient( var(--col-back-top), var(--col-back-bottom) );

	background-origin:
		content-box, 
		padding-box, 
		border-box;

	background-clip: 
		content-box, 
		padding-box, 
		border-box;
	
	background-repeat: 
		repeat,
		repeat,
		repeat;

	background-position:
		0 0,
		0 0,
		0 0 ;
	
	background-size:auto;
	box-shadow: inset 0 0 0 var(--line) var((--col-ring));
	
	border-radius: var(--curve);
	min-width:44px;
	min-height:44px;

	// , &:after
	&:before{
		content:'';
		position: absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		color:var(--shade-white, white);
		text-align: center;
		display: grid;
		align-items: center;
		justify-content: center;
		font-size: 200%;
		line-height: 0;
		visibility: hidden;
		@extend %text-glow;
	}

	// FIXME:
	&:checked{
		border-color:var(--shade-white);
		// background-color:$col-red;
		// background:linear-gradient( $col-red, $col-dark );
		// background-size:80%, 100%;
		&:before, &:after{
			visibility: visible;
		}

		&:before{
			content:'✔';
			color:var(--shade-white, red);
		}
	}
}

// Swtich latch styled checkbox
input[type="checkbox" i][role="switch" i],
input[type="checkbox" i].switch{

	--button-border-size:2px;
	--width:100%;
	--col-top:var(--shade-brand, var(--shade-red, red));
	--col-bottom:var(--shade-grey);

	// margin-left:var(--pad);

	// border-color:$col-dark;
	border:var(--button-border-size, 2px) solid var(--shade-white);
	// border-top-color: rgba($col-white, 0.6 );
	// border-left-color: rgba($col-white, 0.3);
	// border-right-color: rgba($col-white, 0.7);
	border-radius:var(--button-curve, var(--border-radius, 3px));
	
	//background:linear-gradient( $col-green, $col-gray );
	background:var(--shade-grey) linear-gradient( to right, rgba(palette.$col-grey, 0.5), rgba( palette.$col-cream, 0.5) );
	//min-width:var(--width);
	position: relative;
	box-sizing: border-box;
	border-radius:99px;	
	flex-grow: 1;
	order:1;
	display: flex;
	align-items: center;
	justify-content: center;
	
	label{
		--col-bg:transparent;
		//background:transparent;
	}
	
	&:before, &:after{
		content:'';
		position:absolute;
		box-sizing: border-box;
		font-weight:600;
		color:var(--shade-dark);
	}
	
	// knob
	&:before{
		display: flex;
		align-items: center;
		justify-content: center;
		// content:'SIMPLE';
		content:'🧸';
		font-family:"noto-emoji";
		@extend %drop-shadow;
		color: var(--shade-white);

		
		left:0;
		height:100%;
		text-align: center;
		top:0;
		width:calc( var(--width) / 2 );
		//margin-left:calc( -1 * var(--width) / 4 );
		z-index: 1;

		// font-size: 8px;
		border-radius:99px;
		border:inherit;
		// border://calc( 0.5 * var(--button-border-size,4px)) solid var(--shade-white);
		background-color:var(--shade-brand, var(--shade-red, red));
		background-image:linear-gradient( var(--shade-brand, var(--shade-red, red)), var(--shade-dark, palette.$col-dark));
		transition:transform 195ms ease.$easeInOutQuad;
	}

	// just shows the type in the switch space
	&:after{
		content:'SIMPLE';
		mix-blend-mode: normal;
		right:calc( var(--pad) * 2);
		left:auto;
		padding-top:4px;
		animation:Fade var(--time-quick) 0.2s 1 both;
	}

	&:checked{
		// background-color:var(--shade-blue);
		// background:linear-gradient( to right, $col-green, $col-green );
		// background-size:80%, 100%;

		// border-color:$col-dark;
		// 
		&:before{
			// content:'COMPLEX';
			content:'🤓';
			//border-color:$col-cream;
			transform: translateX(100%);
			// background-image:linear-gradient($col-tan, var(--shade-red));
		}
		&:after{
			content:'COMPLEX';
			left:calc( var(--pad) * 2);
			right:auto;
			animation:Fader var(--time-quick) 0.2s 1 both;
		}
	
	}

	// user has higighted it
	&:focus-visible{
		outline:0;
		background-color:var(--shade-blue);
		background:linear-gradient( to right, var(--shade-blue), var(--shade-blue) );
		
	//	border:var(--button-border-size) solid rgba($col-brown, 0.7);
		
	// border-color:$col-dark;
		// border-top-color: rgba($col-white, 0.4 );
		// border-left-color: rgba($col-white, 0.2);
		// border-right-color: rgba($col-white, 0.5);
	}


	@media screen and (max-width:480px) {

		// &:before{
		// 	content:'🧸 SIMPLE';
		// }
		// &:checked::before{
		// 	content:'🤓 COMPLEX';
		// }
	}
}