@use "../_palette.scss";

.theme-mit{
	// :root{
		--hue-dark:305;
		
		// --hue-green:
		--stroke:2px;
		--curve:3px;
		
		// blues, purples, and yellows in your project
		--hue: #{palette.$hue-purple};
		--hue-selected: #{palette.$hue-blue};
		--hue-active: #{palette.$hue-yellow};
		--hue-accent: #{palette.$hue-purple};
		
		--hue-brand: #{palette.$hue-purple};
		
		--s:58%;
		--s-selected:98%;
		--s-active:98%;

		--l:24%;
		--l-selected:48%;
		--l-active:48%;

		--loader-size-small: clamp(59px, 15vmin, 128px);// 
	
	// }
	
	:is(
		button,
		.button,
		input[type=list],
		.controls > *:not(div), 
		.controls .folder-link
	){
		--range:0%;
		--button-border-size:4px;


		// blues, purples, and yellows in your project
		--hue: #{palette.$hue-purple};
		--hue-selected: #{palette.$hue-blue};
		--hue-active: #{palette.$hue-yellow};
		--hue-accent: #{palette.$hue-purple};
		
		--s:58%;
		--s-selected:98%;
		--s-active:98%;

		--l:24%;
		--l-selected:48%;
		--l-active:48%;
	}


}

// Force the footer to show with the new creds
.interface.loaded .theme-mit{
	#link-about{
		background-image:url(./assets/logos/mit-realityhack.png);
		&::after{
			visibility: hidden;
		}
	}
	#foot{
		visibility: visible;
		z-index:1;
		color: var(--shade-yellow);
		.link-pages{
			display: none;
		}
		.link-copyright::before{
			filter: invert(1);
		}
	}
}

// Force the footer to show with the new creds
.interface.loaded .theme-wac{
	#link-about{
		background-image:url(./assets/logos/massig.svg);
		&::after{
			visibility: hidden;
		}
	}
	#foot{
		visibility: visible;
		z-index:1;
		color: var(--shade-yellow);
		.link-pages{
			display: none;
		}
		.link-copyright::before{
			filter: invert(1);
		}
	}
}
