
// Force the footer to show with the new creds
.interface.loaded .theme-wac{
	#link-about{
		background-color: transparent;
		background-image:url(./assets/logos/massig.svg);
		filter: invert(1);
		&::after{
			visibility: hidden;
		}
	}
	#foot{
		visibility: visible;
		z-index:1;
		color: var(--shade-yellow);
		.link-pages{
			display: none;
		}
		.link-copyright::before{
			filter: invert(1);
		}
	}
}
