
//- In APP CONTROLS ------------------------------------------------------
menu#control-panel

	div#transport(hidden)
		include transport-panel.pug

	//- PERSON A ------------------------------------------------------------------------------
	//- Button is the face of the user
	button(type="button", hidden).person#person-a Change instrument for the person on the left
	
	//- the toggle button & panel is hidden until activated by user interaction
	div(hidden, aria-live="polite").instrument-panel.person-a-panel
		// FIXME: ADD ARIA
		button(type="button" aria-label="Show the instrument control panel for top left user").person-a-toggle-controls.person-toggle-controls Show instrument panel for the person on the left
		//- element that fills with instruments 
		menu.person-controls.person-a-controls
			
	//- PERSON B ------------------------------------------------------------------------------
	button(type="button", hidden).person#person-b Change instrument for the person on the right 
	
	div(hidden, aria-live="polite").instrument-panel.person-b-panel
		button(type="button" aria-label="Show the instrument control panel for top right user").person-b-toggle-controls.person-toggle-controls Show instrument panel for the person on the right 
		menu.person-controls.person-b-controls
			
	//- PERSON C ------------------------------------------------------------------------------
	button(type="button", hidden).person#person-c Change instrument for the person on the lower left 

	div(hidden, aria-live="polite").instrument-panel.person-c-panel
		button(type="button" aria-label="Show the instrument control panel for lower left user").person-c-toggle-controls.person-toggle-controls Show instrument panel for the person on the lower left
		menu.person-controls.person-c-controls
			
	//- PERSON D ------------------------------------------------------------------------------
	button(type="button", hidden).person#person-d Change instrument for the person on the lower right 

	div(hidden, aria-live="polite").instrument-panel.person-d-panel
		button(type="button" aria-label="Show the instrument control panel for lower right user").person-d-toggle-controls.person-toggle-controls Show instrument panel for the person on the lower right
		menu.person-controls.person-d-controls
			


	//- #shared-settings
		

	//- 	button#button-midi(aria-label="Connect a MIDI instrument and click here") MIDI<span id="midi-device">Connected</span>
	//- 	//- button#load-midi( aria-label="Load in a MIDI file" ) Load MIDI File
	
	//- Controls for all players
	div#shared-controls.controls

		p.sr-only Shared controls that apply to all players

		//- button.button-install#button-install( type="button" hidden aria-label="Install this application to your homescreen") Install
		//- button.button-upgrade#button-upgrade( type="button" hidden aria-label="Upgrade this app to the latest version") Upgrade

		button#button-help( type="button" aria-label="Show help screen" onclick="window.help.showModal();" ) Help!<span class="hide-text"> me</span>
				
		//- Equipment Settings 
		//- TODO: Put into a dialog?
		//- label#camera(for="select-camera") <span class="hide-text">Select </span>Camera
		//- 	select(aria-label="Select a different camera")#select-camera
		label(for="button-settings") <span class="hide-text"> Change and edit </span>Settings<span class="hide-text"> that modify behaviour and sound</span>
			input(type="checkbox" aria-label="Show the settings panel")#button-settings
						

		//- Record / Save / Load --------------------------------------------------------------
		#control-panel-record.folder-menu.bottom.horizontal.right
			a.folder-link(href="#folder-record" aria-label="Show Recording options") <span class="hide-text">Show </span>Record<span class="hide-text">Optionss </span>
			menu.folder-content#folder-record
				include record-panel.pug
				a(href="#control-panel") Return to the control menu

		//- label(for="button-midi-menu" ) MIDI<span class="hide-text"> Menu</span>
		//- 	input#button-midi-menu(type="checkbox" aria-label="Show MIDI Options")
		#control-panel-midi.folder-menu.bottom.horizontal.right
			a.folder-link(href="#folder-midi" aria-label="Show MIDI instruments") <span class="hide-text">Show </span>MIDI<span class="hide-text"> options</span>
			menu.folder-content#folder-midi
				include midi-panel.pug
				a(href="#control-panel") Return to the control menu

		label(for="button-quantise") Quantise
			input(type="checkbox" aria-label="Ensure that the notes are played at regular intervals")#button-quantise

	
		//- Percussion and background accompanyment 
		label(for="button-percussion") Beats <span class="hide-text"> to jam along to</span>
			input#button-percussion(type="checkbox" aria-label="Play some background beats")
		
		//button#button-percussion( aria-label="Toggle the backing track" ) Backing track
		//button#button-donk( aria-label="Put a donk on it" ) Add Donk
		//button#button-cowbell( aria-label="More cowbell!" ) Add Cowbell

		label(for="button-disco") MTV Mode
			input#button-disco(type="checkbox" aria-label="activate Psychedlic visual style")
		
		label(for="button-spectrogram") V.U<span class="hide-text"> Spectro&shy;gram</span>
			input#button-spectrogram(type="checkbox" aria-label="Show a funky bar chart of frequencies")
	
		//- Volumes -------------------------------------------------------------------------------
		#control-panel-volume.folder-menu.inline.up
			a.folder-link(href="#folder-volume" aria-label="Show volume controls") Volume
			menu.folder-content#folder-volume
				include volume-panel.pug
				a(href="#control-panel") Return to the control menu

		//- button#toggle-synth( aria-label="Swap between synth and samples" ) Swap Engines
		
		//- Metronome ---------------------------------------------------------------------
		label(for="button-metronome") <span class="hide-text">Toggle </span>Metro&shy;nome
			input#button-metronome(type="checkbox" aria-label="Play a metronome to help you keep time")
		
		//- TEMPO -------------------------------------------------------------------------
		//- Drop up / down list of tempos with typeable option too
		label(for="select-tempo", hidden) <span class="hide-text">Set </span>Tempo
			select#select-tempo(aria-label="Choose a tempo from the list" name="select-tempo")
				//- optgroup Select Tempo
				option 45 BPM
				option 60 BPM
				option 75 BPM
				option 85 BPM
				option 90 BPM
				option 100 BPM
				option 110 BPM
				option 120 BPM
				option 130 BPM
				option 140 BPM
				option 150 BPM
				option 200 BPM
				option 300 BPM
				option 400 BPM
				option 500 BPM

		#control-panel-tempo.folder-menu.bottom.horizontal.right
			a.folder-link(href="#folder-tempo" aria-label="Show timing options") <span class="hide-text">Show </span>tempo<span class="hide-text"> options</span>
			menu.folder-content#folder-tempo
				include tempo-panel.pug
				a(href="#control-panel") Return to the control menu

		//- put share and full screen at the end
		button.hide-text#button-share( type="button" aria-label="Share this with your friends" onclick="document.getElementById('share-menu').share()" ) <span class="sr-only">Share</span>
		
		label.hide-text(for="button-fullscreen") Toggle Fullscreen
			input#button-fullscreen(type="checkbox"  aria-label="Toggle full screen mode")
	

	//- This covers the entire video and canvas elements
	//- aria-label="Click screen to change instruments"
	button#button-video(type="button" ) Swap instruments for all people
	
	//- Once the user has taken some photos they appear here
	output(hidden for="folder-record").recordings
		#taken-photographs
		#recorded-audio
		button(type="button")#toggle-recordings.hide-text Toggle Recordings



	//- ALL PLAYER SETTINGS --------------------------------------
	//- Settings for all players... usually hidden
	menu#midi-settings.controls
	
		legend MIDI Connections and options

		//- Should this be in an options select? 
		label(for="button-sync-midi") Internal<br>Clock
			input#button-sync-midi(type="radio" name="midi-synch-to" value="internal" aria-label="Use the internal tempo and clock")
	
		label(for="button-sync-midi") Synch<br>MIDI
			input#button-sync-midi(type="radio" name="midi-synch-to" value="external-1" aria-label="Synchronise the tempo with this MIDI device")
	

	//- Settings for all users --------------------------------------------------------------- 
	menu#settings.controls

		legend Global settings and options

		//- only appears when there are multiple cameras on the computer?
		//- FIXME: TODO: add a refresh button to enumerate if a device was plugged in?
		label#camera(for="select-camera") <span class="hide-text">Select </span>Camera
			select#select-camera(aria-label="Select a different camera")
			//- Equipment Settings 
			//- TODO: Put into a dialog?
			//- 	label#camera(for="select-camera") <span class="hide-text">Select </span>Camera
			//- 		select(aria-label="Select a different camera")#select-camera
		
		label(for="button-clear") Clear<span class="hide-text"> Video</span>
			input#button-clear(type="checkbox" aria-label="Clear visuals & video")
	
		label(for="button-sync-video") Synch<br>Video
			input#button-sync-video(type="checkbox" aria-label="Toggle whether to try to synch video to performance")
			
		label(for="button-overlay" ) Overlay<span class="hide-text"> virtual reality</span>
			input#button-overlay(type="checkbox" aria-label="Toggle augmented reality mode")

		//- label(for="button-pattern") Drum Pattern
		//- 		input#button-pattern(type="checkbox" aria-label="Change percussion arrangement")
				
		//- label(for="button-transparent") Synch<span class="hide-text">ronise the movements (prevents judder)</span>
		//- 	input#button-transparent(type="checkbox" aria-label="Synch video to movements")
	
		label(for="button-meshes") Faces<span class="hide-text"> have overlays</span>
			input#button-meshes(type="checkbox" aria-label="Toggle Face overlays")
	
		label(for="button-subtitles") Subtitles<span class="hide-text"> text overlay</span>
			input#button-subtitles(type="checkbox" aria-label="Toggle text overlays")
		
		label(for="button-eyes") Eye<span class="hide-text"> tracking</span>
			input#button-eyes(type="checkbox" aria-label="Toggle eye tracking and overlays")

		label(for="select-eyes") <span class="hide-text">Choose </span>Eyes<span class="hide-text"> Style</span>
			select#select-eyes(aria-label="Select some eyes!")
				option(value="s:0,i:0,p:0,a:1") Disabled (no eyes)
				option(value="s:0.2,i:0.1,p:0.05,a:1") Tiny Eyes
				option(value="s:0.5,i:0.2,p:0.1,a:1") Small Eyes
				option(value="s:1.2,i:1,p:0.4,a:1") Regular Eyes
				option(value="s:4,i:3,p:2,a:0.8") Sidebottom
				option(value="s:7,i:5,p:2,a:0.9") Googly Eyes
	
		label(hidden, for="select-palette") <span class="hide-text">Choose </span>Colours
			select#select-palette(aria-label="Select different colours" name="select-palette")
				option(value="s:80,l:80") Neon 
				option(value="s:30,l:40") Pastel 
				option(value="s:2,l:80") Monochrome (B&amp;W)
				option(value="s:100,l:0") Dark
			
		//- We removed the other soound font options for now
		label(hidden for="select-samples") <span class="hide-text">Choose </span>Sound<span class="hide-text"> Library</span>
			select#select-samples(aria-label="Select a sound font to change sounds" name="select-samples")
				option(value="FatBoy") FatBoy 
				option(value="FluidR3_GM") Fluid
				option(value="MusyngKite") Musyng Kite 


		//- DISPLAY ---------------------------------------------------------------
		label(for="select-display") <span class="hide-text">Choose </span>Display
			select#select-display(name="select-display" aria-label="Select the display mode")
				option.hidden(value="DISPLAY_COMPOSITE") DISPLAY_COMPOSITE
				option(value="DISPLAY_CANVAS_2D") Regular 2D
				option(value="DISPLAY_MEDIA_VISION_2D") Regular 2D+
				option(value="DISPLAY_WEB_GL_3D") Regular 3D
				option(value="DISPLAY_LOOKING_GLASS_3D" hidden) Looking Glass Portrait

		include theme-selector.pug
	
		label(for="select-impulse") <span class="hide-text">Select </span>Reverb
			select#select-impulse(aria-label="Select a different reverb" name="select-impulse")
				//- options are injected via javascript  
				
		label(for="button-speak") <span class="hide-text">Toggle </span>Speech
			input#button-speak(type="checkbox" aria-label="Read out instructions and help")
	
		button#button-reset( type="button" aria-label="Reset to Factory Defaults" ) Reset<span class="hide-text"> to Factory Defaults</span>
	
		//- bit of a hack...
		label.button-close(for="button-settings") Hide Settings