section#timeline
	article.mixed-content
		h3 History
		h4 Timeline
		ol(role="list" reversed)
			
			li
				time(datetime="2025-01-22") January 2025, 
				| showcased at the <a href="https://mitrealityhack.com"><abbr title="Massecheusis Institute of Technology">M.I.T.</abbr> Reality Hack</a> 
			
			li
				time(datetime="2024-11-25") November 2024, 
				| Presented at <a href="https://beyondconference.org">Beyond 2024</a> 
			
			li
				time(datetime="2024-09-28") September 2024, 
				| invited to present at the prestigious <a href="https://internetofsounds2024.ieee-is2.org">IEEE 2024</a> for the <a href="https://internetofsounds.net/1st-international-workshop-on-the-musical-metaverse/">1st International Workshop on the Musical Metaverse.</a> 

			li
				time(datetime="2024-08-12") August 2024, 
				| shortlisted for MIDI Innovation award.

			li
				time(datetime="2024-07-29") July 2024, 
				| marked the release of the first holographic accessible musical instrument in the world, with the launch of the _PhotoSYNTH4D_ permanent installation at the <a href="https://amicdrakemusic.wordpress.com/">Accessible Musical Instrument Collection <abrv title="Accessible Musical Instrument Collection">AMIC<abrv></a>. I <a href="https://youtu.be/rBZGWsk5lxw">presented a talk about the project at DMLab.</a> The slides for that talk are also <a href="presentation.pug">available online</a>

			li
				time(datetime="2024-07-29") July 2024, 
				| started working with <a href="https://futureeverything.org/">Future Everything</a>

			li
				time(datetime="2024-06-28") June 2024, 
				| <i>PhotoSYNTH4D</i>, the holographic version, was <a href="https://youtu.be/F4-92MKgQVE">publicly demonstrated for the first time</a> at the <a href="https://www.emfcamp.org/">Electromagnetic Fields festival '24.</a>

			li
				time(datetime="2023-1-20") November 2023, 
				| demonstrated live at a #DMLab event and <a href="https://www.drakemusic.org/news/introducing-our-new-accessible-instrument-grantees/">received a grant for further development from Drake Music.</a>

			li
				time(datetime="2022-03-20") September 2022, 
				| an early prototype was <a href="https://youtu.be/u4lX-8LAQ5g?si=_Q8YdIRcB1LfLGAa">publicly presented as an installation at the Web Audio Conference '22.</a>

			li
				time(datetime="2022-06-20") June 2022, 
				| <i>PhotoSYNTH3#interFACE</i> was featured at the <a href="https://www.youtube.com/watch?v=1HzlwlekZQk">MIDI Innovation Award</a>

			li
				time(datetime="2021-03-20") March 2022, 
				| <i>PhotoSYNTH3#interFACE</i> was presented at <a href="https://www.makermusicfestival.com/projectdirectory/interface/">Music Maker Festival</a>

			li
				time(datetime="2021-03-20") March 2021, 
				| presented a talk about the <i>PhotoSYNTH3 #interFACE</i> at <a href="https://youtu.be/gTwf6ii6Lak">SXSW21 music technology conference titled, <i>'Give a man a record and they dance for day, give that man a synthesizer and they dance for a lifetime'</i></a>

			li
				time(datetime="2021-02-20") February 2021, 
				| represented the UK at <a href="https://audienceofthefuture.live/interface/">Audience of the Future</a>

			li
				time(datetime="2021-01-01") January 2021, 
				| <i>PhotoSYNTH3#interFACE</i> receives Creative Industries Council's <a href="https://www.thecreativeindustries.co.uk/ones-to-watch-2021/designerzen-ltd">Createch “One to Watch” winner 2021</a>

			li
				time(datetime="2020-12-04") December 2020, 
				| <i>PhotoSYNTH3#interFACE</i> was first presented at the <a href="https://youtu.be/hkIp5QB01iQ">Xmas DMLab event.  (Alpha version being demoed by Tim Yates from DMLab)</a>

			li
				time(datetime="2021-11-25") October 2014, 
				| <i>PhotoSYNTH II</i> was presented at the <a href="https://www.drakemusic.org/pages-that-are-currently-not-live-on-the-site/instrument-led-projects/photosynth-by-zenon-olenski/">DMHackDay accessible technology contest</a>

			li
				time(datetime="2011-11-25") November 2011, 
				| <i>PhotoSYNTH</i> was presented at <a href="https://www.synthtopia.com/content/2011/12/04/62-new-music-hacks-from-music-hack-day-london/">Music Hack Day 2011</a>
