button#button-midi( type="button" aria-label="Connect a MIDI instrument and click here") MIDI<span id="midi-device">Connected</span>
//- button#load-midi( aria-label="Load in a MIDI file" ) Load MIDI File
		