<svg xmlns="http://www.w3.org/2000/svg" class="piano-keys" viewBox="0 0 1197.8 140.7" draggable="false">
	
	<g y="20" class="piano-key-notes">

		<rect x=".5" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="A0" rx="1.5"/>
		<rect x="23.5" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="B0" rx="1.5"/>
		<rect x="20.2" y="20" class="piano-key piano-key-black" width="13" height="80" data-attribute-note="A#0" rx="1.5"/>
		<rect x="46.5" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="C1" rx="1.5"/>
		<rect x="69.5" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="D1" rx="1.5"/>
		<rect x="92.5" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="E1" rx="1.5"/>
		<rect x="115.5" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="F1" rx="1.5"/>
		<rect x="138.5" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="G1" rx="1.5"/>
		<rect x="161.5" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="A1" rx="1.5"/>
		<rect x="184.5" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="B1" rx="1.5"/>
		<rect x="60.8" y="20" class="piano-key piano-key-black" width="13" height="80" data-attribute-note="C#1" rx="1.5"/>
		<rect x="88.2" y="20" class="piano-key piano-key-black" width="13" height="80" data-attribute-note="D#1" rx="1.5"/>
		<rect x="128.8" y="20" class="piano-key piano-key-black" width="13" height="80" data-attribute-note="F#1" rx="1.5"/>
		<rect x="154.8" y="20" class="piano-key piano-key-black" width="13" height="80" data-attribute-note="G#1" rx="1.5"/>
		<rect x="181.2" y="20" class="piano-key piano-key-black" width="13" height="80" data-attribute-note="A#1" rx="1.5"/>
		<rect x="207.5" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="C2" rx="1.5"/>
		<rect x="230.5" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="D2" rx="1.5"/>
		<rect x="253.5" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="E2" rx="1.5"/>
		<rect x="276.5" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="F2" rx="1.5"/>
		<rect x="299.5" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="G2" rx="1.5"/>
		<rect x="322.5" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="A2" rx="1.5"/>
		<rect x="345.5" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="B2" rx="1.5"/>
		<rect x="221.8" y="20" class="piano-key piano-key-black" width="13" height="80" data-attribute-note="C#2" rx="1.5"/>
		<rect x="249.2" y="20" class="piano-key piano-key-black" width="13" height="80" data-attribute-note="D#2" rx="1.5"/>
		<rect x="289.8" y="20" class="piano-key piano-key-black" width="13" height="80" data-attribute-note="F#2" rx="1.5"/>
		<rect x="315.8" y="20" class="piano-key piano-key-black" width="13" height="80" data-attribute-note="G#2" rx="1.5"/>
		<rect x="342.2" y="20" class="piano-key piano-key-black" width="13" height="80" data-attribute-note="A#2" rx="1.5"/>
		<rect x="368.5" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="C3" rx="1.5"/>
		<rect x="391.5" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="D3" rx="1.5"/>
		<rect x="414.5" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="E3" rx="1.5"/>
		<rect x="437.5" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="F3" rx="1.5"/>
		<rect x="460.5" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="G3" rx="1.5"/>
		<rect x="483.5" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="A3" rx="1.5"/>
		<rect x="506.5" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="B3" rx="1.5"/>
		<rect x="382.8" y="20" class="piano-key piano-key-black" width="13" height="80" data-attribute-note="C#3" rx="1.5"/>
		<rect x="410.2" y="20" class="piano-key piano-key-black" width="13" height="80" data-attribute-note="D#3" rx="1.5"/>
		<rect x="450.8" y="20" class="piano-key piano-key-black" width="13" height="80" data-attribute-note="F#3" rx="1.5"/>
		<rect x="476.8" y="20" class="piano-key piano-key-black" width="13" height="80" data-attribute-note="G#3" rx="1.5"/>
		<rect x="503.2" y="20" class="piano-key piano-key-black" width="13" height="80" data-attribute-note="A#3" rx="1.5"/>
		<rect x="529.5" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="C4" rx="1.5"/>
		<rect x="552.5" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="D4" rx="1.5"/>
		<rect x="575.5" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="E4" rx="1.5"/>
		<rect x="598.5" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="F4" rx="1.5"/>
		<rect x="621.5" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="G4" rx="1.5"/>
		<rect x="644.5" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="A4" rx="1.5"/>
		<rect x="667.5" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="B4" rx="1.5"/>
		<rect x="543.8" y="20" class="piano-key piano-key-black" width="13" height="80" data-attribute-note="C#4" rx="1.5"/>
		<rect x="571.2" y="20" class="piano-key piano-key-black" width="13" height="80" data-attribute-note="D#4" rx="1.5"/>
		<rect x="611.8" y="20" class="piano-key piano-key-black" width="13" height="80" data-attribute-note="F#4" rx="1.5"/>
		<rect x="637.8" y="20" class="piano-key piano-key-black" width="13" height="80" data-attribute-note="G#4" rx="1.5"/>
		<rect x="664.2" y="20" class="piano-key piano-key-black" width="13" height="80" data-attribute-note="A#4" rx="1.5"/>
		<rect x="690.52" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="C5" rx="1.5"/>
		<rect x="713.52" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="D5" rx="1.5"/>
		<rect x="736.52" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="E5" rx="1.5"/>
		<rect x="759.52" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="F5" rx="1.5"/>
		<rect x="782.52" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="G5" rx="1.5"/>
		<rect x="805.52" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="A5" rx="1.5"/>
		<rect x="828.52" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="B5" rx="1.5"/>
		<rect x="704.82" y="20" class="piano-key piano-key-black" width="13" height="80" data-attribute-note="C#5" rx="1.5"/>
		<rect x="732.12" y="20" class="piano-key piano-key-black" width="13" height="80" data-attribute-note="D#5" rx="1.5"/>
		<rect x="772.72" y="20" class="piano-key piano-key-black" width="13" height="80" data-attribute-note="F#5" rx="1.5"/>
		<rect x="798.72" y="20" class="piano-key piano-key-black" width="13" height="80" data-attribute-note="G#5" rx="1.5"/>
		<rect x="825.22" y="20" class="piano-key piano-key-black" width="13" height="80" data-attribute-note="A#5" rx="1.5"/>
		<rect x="851.52" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="C6" rx="1.5"/>
		<rect x="874.52" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="D6" rx="1.5"/>
		<rect x="897.52" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="E6" rx="1.5"/>
		<rect x="920.52" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="F6" rx="1.5"/>
		<rect x="943.52" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="G6" rx="1.5"/>
		<rect x="966.52" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="A6" rx="1.5"/>
		<rect x="989.52" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="B6" rx="1.5"/>
		<rect x="865.82" y="20" class="piano-key piano-key-black" width="13" height="80" data-attribute-note="C#6" rx="1.5"/>
		<rect x="893.12" y="20" class="piano-key piano-key-black" width="13" height="80" data-attribute-note="D#6" rx="1.5"/>
		<rect x="933.72" y="20" class="piano-key piano-key-black" width="13" height="80" data-attribute-note="F#6" rx="1.5"/>
		<rect x="959.72" y="20" class="piano-key piano-key-black" width="13" height="80" data-attribute-note="G#6" rx="1.5"/>
		<rect x="986.22" y="20" class="piano-key piano-key-black" width="13" height="80" data-attribute-note="A#6" rx="1.5"/>
		<rect x="1012.52" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="C7" rx="1.5"/>
		<rect x="1035.52" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="D7" rx="1.5"/>
		<rect x="1058.52" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="E7" rx="1.5"/>
		<rect x="1081.52" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="F7" rx="1.5"/>
		<rect x="1104.52" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="G7" rx="1.5"/>
		<rect x="1127.52" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="A7" rx="1.5"/>
		<rect x="1150.52" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="B7" rx="1.5"/>
		<rect x="1026.82" y="20" class="piano-key piano-key-black" width="13" height="80" data-attribute-note="C#7" rx="1.5"/>
		<rect x="1054.12" y="20" class="piano-key piano-key-black" width="13" height="80" data-attribute-note="D#7" rx="1.5"/>
		<rect x="1094.72" y="20" class="piano-key piano-key-black" width="13" height="80" data-attribute-note="F#7" rx="1.5"/>
		<rect x="1120.72" y="20" class="piano-key piano-key-black" width="13" height="80" data-attribute-note="G#7" rx="1.5"/>
		<rect x="1147.22" y="20" class="piano-key piano-key-black" width="13" height="80" data-attribute-note="A#7" rx="1.5"/>
		<rect x="1173.52" y="20" class="piano-key piano-key-white" width="23" height="120" data-attribute-note="C8" rx="1.5"/>
	</g>

	<g class="piano-key-indicators">
		<circle cx="541.1" cy="125" r="5.7" class="middle-c"/>
		<circle cx="13.6" cy="9" r="5.7" class="note indicator" data-attribute-note="A0"/>
		<circle cx="26.7" cy="9" r="5.7" class="note indicator" data-attribute-note="A#0"/>
		<circle cx="39.8" cy="9" r="5.7" class="note indicator" data-attribute-note="B0"/>
		<circle cx="53.4" cy="9" r="5.7" class="note indicator" data-attribute-note="C1"/>
		<circle cx="67" cy="9" r="5.7" class="note indicator" data-attribute-note="C#1"/>
		<circle cx="80.7" cy="9" r="5.7" class="note indicator" data-attribute-note="D1"/>
		<circle cx="94.4" cy="9" r="5.7" class="note indicator" data-attribute-note="D#1"/>
		<circle cx="108.1" cy="9" r="5.7" class="note indicator" data-attribute-note="E1"/>
		<circle cx="121.9" cy="9" r="5.7" class="note indicator" data-attribute-note="F1"/>
		<circle cx="135" cy="9" r="5.7" class="note indicator" data-attribute-note="F#1"/>
		<circle cx="148" cy="9" r="5.7" class="note indicator" data-attribute-note="G1"/>
		<circle cx="161.1" cy="9" r="5.7" class="note indicator" data-attribute-note="G#1"/>
		<circle cx="174.5" cy="9" r="5.7" class="note indicator" data-attribute-note="A1"/>
		<circle cx="187.7" cy="9" r="5.7" class="note indicator" data-attribute-note="A#1"/>
		<circle cx="200.9" cy="9" r="5.7" class="note indicator" data-attribute-note="B1"/>
		<circle cx="214.6" cy="9" r="5.7" class="note indicator" data-attribute-note="C2"/>
		<circle cx="228.3" cy="9" r="5.7" class="note indicator" data-attribute-note="C#2"/>
		<circle cx="242" cy="9" r="5.7" class="note indicator" data-attribute-note="D2"/>
		<circle cx="255.6" cy="9" r="5.7" class="note indicator" data-attribute-note="D#2"/>
		<circle cx="269.4" cy="9" r="5.7" class="note indicator" data-attribute-note="E2"/>
		<circle cx="283.1" cy="9" r="5.7" class="note indicator" data-attribute-note="F2"/>
		<circle cx="296.3" cy="9" r="5.7" class="note indicator" data-attribute-note="F#2"/>
		<circle cx="309.3" cy="9" r="5.7" class="note indicator" data-attribute-note="G2"/>
		<circle cx="322.4" cy="9" r="5.7" class="note indicator" data-attribute-note="G#2"/>
		<circle cx="335.5" cy="9" r="5.7" class="note indicator" data-attribute-note="A2"/>
		<circle cx="348.7" cy="9" r="5.7" class="note indicator" data-attribute-note="A#2"/>
		<circle cx="361.9" cy="9" r="5.7" class="note indicator" data-attribute-note="B2"/>
		<circle cx="375.4" cy="9" r="5.7" class="note indicator" data-attribute-note="C3"/>
		<circle cx="389" cy="9" r="5.7" class="note indicator" data-attribute-note="C#3"/>
		<circle cx="402.8" cy="9" r="5.7" class="note indicator" data-attribute-note="D3"/>
		<circle cx="416.4" cy="9" r="5.7" class="note indicator" data-attribute-note="D#3"/>
		<circle cx="430.1" cy="9" r="5.7" class="note indicator" data-attribute-note="E3"/>
		<circle cx="443.9" cy="9" r="5.7" class="note indicator" data-attribute-note="F3"/>
		<circle cx="457" cy="9" r="5.7" class="note indicator" data-attribute-note="F#3"/>
		<circle cx="470" cy="9" r="5.7" class="note indicator" data-attribute-note="G3"/>
		<circle cx="483.1" cy="9" r="5.7" class="note indicator" data-attribute-note="G#3"/>
		<circle cx="496.2" cy="9" r="5.7" class="note indicator" data-attribute-note="A3"/>
		<circle cx="509.5" cy="9" r="5.7" class="note indicator" data-attribute-note="A#3"/>
		<circle cx="522.6" cy="9" r="5.7" class="note indicator" data-attribute-note="B3"/>
		<circle cx="536.5" cy="9" r="5.7" class="note indicator" data-attribute-note="C4"/>
		<circle cx="550.2" cy="9" r="5.7" class="note indicator" data-attribute-note="C#4"/>
		<circle cx="563.9" cy="9" r="5.7" class="note indicator" data-attribute-note="D4"/>
		<circle cx="577.5" cy="9" r="5.7" class="note indicator" data-attribute-note="D#4"/>
		<circle cx="591.2" cy="9" r="5.7" class="note indicator" data-attribute-note="E4"/>
		<circle cx="605" cy="9" r="5.7" class="note indicator" data-attribute-note="F4"/>
		<circle cx="618.2" cy="9" r="5.7" class="note indicator" data-attribute-note="F#4"/>
		<circle cx="631.2" cy="9" r="5.7" class="note indicator" data-attribute-note="G4"/>
		<circle cx="644.3" cy="9" r="5.7" class="note indicator" data-attribute-note="G#4"/>
		<circle cx="657.4" cy="9" r="5.7" class="note indicator" data-attribute-note="A4"/>
		<circle cx="670.6" cy="9" r="5.7" class="note indicator" data-attribute-note="A#4"/>
		<circle cx="683.7" cy="9" r="5.7" class="note indicator" data-attribute-note="B4"/>
		<circle cx="697.3" cy="9" r="5.7" class="note indicator" data-attribute-note="C5"/>
		<circle cx="710.9" cy="9" r="5.7" class="note indicator" data-attribute-note="C#5"/>
		<circle cx="724.6" cy="9" r="5.7" class="note indicator" data-attribute-note="D5"/>
		<circle cx="738.3" cy="9" r="5.7" class="note indicator" data-attribute-note="D#5"/>
		<circle cx="752" cy="9" r="5.7" class="note indicator" data-attribute-note="E5"/>
		<circle cx="765.8" cy="9" r="5.7" class="note indicator" data-attribute-note="F5"/>
		<circle cx="778.9" cy="9" r="5.7" class="note indicator" data-attribute-note="F#5"/>
		<circle cx="791.9" cy="9" r="5.7" class="note indicator" data-attribute-note="G5"/>
		<circle cx="805" cy="9" r="5.7" class="note indicator" data-attribute-note="G#5"/>
		<circle cx="818.1" cy="9" r="5.7" class="note indicator" data-attribute-note="A5"/>
		<circle cx="831.3" cy="9" r="5.7" class="note indicator" data-attribute-note="A#5"/>
		<circle cx="844.5" cy="9" r="5.7" class="note indicator" data-attribute-note="B5"/>
		<circle cx="858.5" cy="9" r="5.7" class="note indicator" data-attribute-note="C6"/>
		<circle cx="872.2" cy="9" r="5.7" class="note indicator" data-attribute-note="C#6"/>
		<circle cx="885.9" cy="9" r="5.7" class="note indicator" data-attribute-note="D6"/>
		<circle cx="899.5" cy="9" r="5.7" class="note indicator" data-attribute-note="D#6"/>
		<circle cx="913.2" cy="9" r="5.7" class="note indicator" data-attribute-note="E6"/>
		<circle cx="927" cy="9" r="5.7" class="note indicator" data-attribute-note="F6"/>
		<circle cx="940.2" cy="9" r="5.7" class="note indicator" data-attribute-note="F#6"/>
		<circle cx="953.2" cy="9" r="5.7" class="note indicator" data-attribute-note="G6"/>
		<circle cx="966.3" cy="9" r="5.7" class="note indicator" data-attribute-note="G#6"/>
		<circle cx="979.4" cy="9" r="5.7" class="note indicator" data-attribute-note="A6"/>
		<circle cx="992.6" cy="9" r="5.7" class="note indicator" data-attribute-note="A#6"/>
		<circle cx="1005.7" cy="9" r="5.7" class="note indicator" data-attribute-note="B6"/>
		<circle cx="1019.3" cy="9" r="5.7" class="note indicator" data-attribute-note="C7"/>
		<circle cx="1032.9" cy="9" r="5.7" class="note indicator" data-attribute-note="C#7"/>
		<circle cx="1046.6" cy="9" r="5.7" class="note indicator" data-attribute-note="D7"/>
		<circle cx="1060.3" cy="9" r="5.7" class="note indicator" data-attribute-note="D#7"/>
		<circle cx="1074" cy="9" r="5.7" class="note indicator" data-attribute-note="E7"/>
		<circle cx="1087.8" cy="9" r="5.7" class="note indicator" data-attribute-note="F7"/>
		<circle cx="1100.9" cy="9" r="5.7" class="note indicator" data-attribute-note="F#7"/>
		<circle cx="1113.9" cy="9" r="5.7" class="note indicator" data-attribute-note="G7"/>
		<circle cx="1127" cy="9" r="5.7" class="note indicator" data-attribute-note="G#7"/>
		<circle cx="1140.1" cy="9" r="5.7" class="note indicator" data-attribute-note="A7"/>
		<circle cx="1153.3" cy="9" r="5.7" class="note indicator" data-attribute-note="A#7"/>
		<circle cx="1166.5" cy="9" r="5.7" class="note indicator" data-attribute-note="B7"/>
		<circle cx="1180.5" cy="9" r="5.7" class="note indicator" data-attribute-note="C8"/>
	</g>
</svg>