.choose-scale

	label Key
		select.tuning-scale-key(name="key")
			option(value="Ab3") Ab
			option(value="A3") A
			option(value="Bb3") Bb
			option(value="B3") B
			option(value="Cb4") Cb
			option(value="C4") C
			option(value="C#4") C#
			option(value="Db4") Db
			option(value="D4") D
			option(value="Eb4") Eb
			option(value="E4") E
			option(value="F4") F
			option(value="F#4") F#
			option(value="Gb4") Gb
			option(value="G4") G

	label Parent Scale Type
		select.tuning-scale-type
			option(value="major") Major
			option(value="natural_minor") Natural Minor
			option(value="harmonic_minor") Harmonic Minor
			option(value="melodic_minor") Melodic Minor

	label Mode
		select.tuning-scale-mode
			option(value="0") 1 Major
			option(value="1") 2 Dorian
			option(value="2") 3 Phrygian
			option(value="3") 4 Lydian
			option(value="4") 5 Mixolydian
			option(value="5") 6 Aeolian
			option(value="6") 7 Locrian