//- theme selector - changes colour palette and fonts
label(for="select-theme") <span class="hide-text">Choose </span>Theme<span class="hide-text"> and skin</span>
	select#select-theme(aria-label="Change theme" name="select-theme") 
		option(value="theme-high-contrast") High Contrast
		option(value="theme-clash") Colour Clash
		option(value="theme-neon") Neon
		option(value="theme-pastel") Pastel
		option(value="theme-friendly") Friendly
		option(value="theme-mit") M.I.T
		option(value="theme-default" selected) Default