@layer fonts{

	// headings like the old PhotoSYNTH2 days!
	@font-face {
		font-family: 'Ostritch';
		src: url('./assets/fonts/ostritch/OstrichSans-Bold.woff2') format('woff2');
		// src: url('./assets/fonts/oxanium/Oxanium.ttf') format('truetype');
		font-weight: 100 900;
		// font-stretch: 75% 125%;
		font-style: normal;
		font-display: swap;
	}

	// @import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@774&display=swap');
	@font-face {
		font-family: 'Oxanium';
		src: url('./assets/fonts/oxanium/Oxanium[wght].ttf') format('truetype');
		// src: url('./assets/fonts/oxanium/Oxanium.ttf') format('truetype');
		font-weight: 100 900;
		// font-stretch: 75% 125%;
		font-style: normal;
		font-display: swap;
	}

	// EMOJI ------------------------------------------------
	@font-face {
		font-family: 'noto-emoji';
		src: url('./assets/fonts/noto-emoji/NotoEmoji-VariableFont_wght.ttf') format('truetype');
		font-style: normal;
		font-display: swap;
	}

	// DSYLEXIA ------------------------------------------------

	// @import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@774&display=swap');
	@font-face {
		font-family: 'OpenDyslexic';
		src: url('./assets/fonts/opendyslexic/OpenDyslexic-Regular.woff2') format('woff2');
		font-style: normal;
		font-display: swap;
	}

	// DISPAXIA ------------------------------------------------

	// https://github.com/ThomasJockin/readexpro/tree/master
	@font-face {
		font-family: 'ReadexPro';
		src: url('./assets/fonts/readexpro/Readexpro[HEXP,wght].ttf') format('truetype');
		font-style: normal;
		font-display: swap;
	}

	// inherit fonts and set default weight
	html{
		font-family: 'Oxanium', "windows fallback for Oxanium", "linux fallback for Oxanium", sans-serif;
	}

	// html{
	// 	font-family: 'OpenDyslexic', "windows fallback for OpenDyslexic", "linux fallback for OpenDyslexic", sans-serif;
	// }

	// p{
	// 	font-family: 'ReadexPro', "fallback for ReadexPro", sans-serif;
	// }



	// https://github.com/khempenius/font-fallbacks-dataset
	// ascent-override	0.79	
	// descent-override 0.21	
	// line-gap-override 0.25
	@font-face {
		font-family: "windows fallback for Oxanium";
		src: local("Arial");
		ascent-override: 79%;
		descent-override: 21%;
		line-gap-override: 25%;
	}
	// line-gap-override 0.25
	@font-face {
		font-family: "fallback for ReadexPro";
		src: local("Arial");
		ascent-override: 100%;
		descent-override: 25%;
		line-gap-override: 0%;
	}
	// @font-face {
	// 	font-family: "linux fallback for Poppins";
	// 	src: local("Roboto");
	// 	ascent-override: 79%;
	//     descent-override: 21%;
	//     line-gap-override: 25%;
	// }
	// p, small{
	// 	font-family:'Lexend', 'Oxanium', sans-serif;
	// }
}