extends interface.pug

block title
	+title('Desktop')

//- FIXME: Context Security Policy vurrently breaks webasm
block CSP 
	//- meta( http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'")
	//- meta( http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'")

block preload 
	//- link(rel="preload" href="app.js" as="script") 

block scripts
	script(type="module" src="app.js")