extends _base.pug

block title
	+title('Copyright')

block nav

block preload 

block main
	h3  PhotoSYNTH3:InterFACE v #{package.version} Copyright 2020-2022 &copy; <a href="https://designerzen.com/">designerzen ltd</a>
	p
		| This project is licensed under the GPL2.0 license and the works contained within also have their own 
		a(href="./licenses.pug") Licenses

	h4 Libraries Used
	p.
		The following libraries are used in this project and I sincerly thank them for their hard work and input with this project
		
	ul.libraries
		li TensorFlow 
		li MediaPose 
		li WorkBox