extends _base.pug

block title
	+title('Copyright')

block nav

block preload 

block main
	main#copyright
		h3  PhotoSYNTH3:InterFACE v #{package.version} Copyright 2020-2022 &copy; <a href="https://designerzen.com/">designerzen ltd</a>
		p
			| This project is licensed under the GPL2.0 license and the works contained within also have their own 
			a(href="./licenses.pug") Licenses
			
		h4 Copyright and Trademarks 
		p MIDI is a trademark of the MIDI Association

		h4 Libraries Used
		p.
			The following libraries are used in this project and I sincerly thank them for their hard work and input with this project
			
		ul.libraries
			li 
				h5 TensorFlow 
				h6 Google 
				p TensorFlow and TensorFlowJS is owned and used with permission from Google / Alphabet

			li 
				h5 MediaPose 
				h6 Google 
				p MediaPose is owned and used with permission from Google / Alphabet
			
			li 
				h5 WorkBox 
				h6 Google 
				p WorkBox is owned and used with permission from Google / Alphabet
