extends _base.pug

block title
	+title('Credits')

block nav

block preload 

block main
	main#credits
		section
			article
				h3 Credits & Acknowledgements
				h4 Thank you
				ul
					li: p <a href="https://www.drakemusic.org/technology/dmlab-community/">DMLab</a>
					li: p <a href="https://gawainhewitt.co.uk/">Gawain Hewitt</a>
					li: p Tim Yates from <a href="https://hackoustic.org/">Hackoustic</a>
					li: p Rob Parton from <a href="https://www.drakemusic.org/technology/dmlab-community/">DMLab</a>
					li: p Deborah Borg Brincat from <a href="https://www.drakemusic.org/technology/dmlab-community/">DMLab</a>
					li: p Phil Burk from Google 
					li: p <a href="https://futureeverything.org/">Future Everything</a>
			
			article 
				small.
					The MediaCity Immersive Technologies Innovation Hub is part of the pilot
					Innovation Accelerator programme. Led by Innovate UK on behalf of UK
					Research and Innovation, the pilot Innovation Accelerators programme is
					investing £100m in 26 transformative R&D projects to accelerate the
					growth of three high-potential innovation clusters – Glasgow City Region,
					Greater Manchester and West Midlands.