extends _base.pug

block title
	+title('Credits')

block nav

block preload 

block main
	main#credits
		section
			article
				h3 Credits & Acknowledgements
				h4 Thank you
				ul
					li: p Phil Burk from Google 
			
			small.
				The MediaCity Immersive Technologies Innovation Hub is part of the pilot
				Innovation Accelerator programme. Led by Innovate UK on behalf of UK
				Research and Innovation, the pilot Innovation Accelerators programme is
				investing £100m in 26 transformative R&D projects to accelerate the
				growth of three high-potential innovation clusters – Glasgow City Region,
				Greater Manchester and West Midlands.