extends _base.pug

block title
	+title('Credits')

block nav

block preload 

block main
	main#credits
		section
			article
				h3 Credits & Acknowledgements
				h4 Thank you
				ul
					li: p Phil Burk from Google 
					li: p Phil Burk from Google 