extends _base.pug

block title
	+title('Help')

block tagline
	em Help for the 
		| Smile Powered Synthesizer

block nav

block preload 

block main
	h3 Help
	include:markdown-it ./instructions.md

	
