@import "./assets/styles/_ease.scss";
@import "./assets/styles/_palette.scss";

%image-replacement{
	text-indent: -9999px;
	overflow:hidden;
	color:transparent;
	text-shadow:none;
	white-space: pre;
	font-size: 0;
	background-position: center center;
	justify-content: center;
}
  
:root{

	// forces dark scrollbars
	color-scheme: dark;

	// tints (use anywhere for colour with cpntrols)
	--shade-white:hsl( #{$hue-white}, var( --s, 27%), var( --l, 87%) );
	--shade-dark:hsl( #{$hue-dark}, var( --s, 6%), var( --l, 14%) );
	--shade-grey:hsl( #{$hue-grey}, var( --s, 6%), var( --l, 50%) );
	--shade-gray:hsl( #{$hue-gray}, var( --s, 6%), var( --l, 55%) );
	--shade-cream:hsl( #{$hue-cream}, var( --s, 18%), var( --l, 53%) );
	--shade-tan:hsl( #{$hue-tan}, var( --s, 30%), var( --l, 45%) );
	--shade-brown:hsl( #{$hue-brown}, var( --s, 22%), var( --l,30%) );
	--shade-blue:hsl( #{$hue-blue}, var( --s, 18%), var( --l,33%) );
	--shade-green:hsl( #{$hue-green}, var( --s, 18%), var( --l,33%) );
	--shade-yellow:hsl( #{$hue-yellow}, var( --s, 34%), var( --l,50%) );
	--shade-orange:hsl( #{$hue-orange}, var( --s, 69%), var( --l,38%) );
	--shade-red:hsl( #{$hue-red}, var( --s, 58%), var( --l,35%) );
	
	--curve:12px;
	// global padding
	--pad:clamp(10px,2vmin,20px);

	// FIXME:
	--footer-gap:calc(61px);
	
	@media (orientation: portrait) {
		--footer-gap:var(--pad);
	}

	// ease speeds (see overriding media queries)
	--ease-s:450ms;
	--ease-m:90ms;
	--ease-q:45ms;
		
	// no animation 
	// NB. this is also passed into JS as a safety net
	@media (prefers-reduced-motion: reduce) {
		--ease-s:1ms;
		--ease-m:1ms;
		--ease-q:1ms;
	}

	// do not change
	--duration:calc( 1 * var(--ease-s) );//var(--ease-out-quick);
	--duration-scroll:calc( 5 * var(--ease-s) );

	// animation stagger 
	--overlap:0.3;  // the smaller, the closer together the nimations are
	--offset:0s;	// initial delay for all

	--shadow:
		1.9px 1.9px 2.1px rgba(0, 0, 0, 0.014),
		4.7px 4.7px 4.6px rgba(0, 0, 0, 0.02),
		8.8px 8.8px 8.4px rgba(0, 0, 0, 0.025),
		15.6px 15.6px 14.9px rgba(0, 0, 0, 0.03),
		29.2px 29.2px 28.9px rgba(0, 0, 0, 0.036),
		70px 70px 80px rgba(0, 0, 0, 0.05)
	;
  

	--noise:url("data:image/svg+xml,%3Csvg class='filter' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='filter-noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='6.29' numOctaves='6' stitchTiles='stitch'%3E%3C/feTurbulence%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23filter-noise)'%3E%3C/rect%3E%3C/svg%3E");
}

// debug
// @import url('https://cdn.jsdelivr.net/npm/checka11y-css@:version/checka11y.css');

// Load reset, fonts & set typography
@import "./assets/styles/base.scss";
@import "./assets/styles/fonts.scss";
@import "./assets/styles/typography.scss";

// elements and sections\
@import "./assets/styles/forms.scss";
@import "./assets/styles/toast.scss";
@import "./assets/styles/feedback.scss";
@import "./assets/styles/gadgets.scss";
@import "./assets/styles/progress.scss";
@import "./assets/styles/dialog.scss";
@import "./assets/styles/icons.scss";
@import "./assets/styles/keyframes.scss";
@import "./assets/styles/scrollbars.scss";
@import "./assets/styles/wallpapers.scss";
@import "./assets/styles/sections/dialog-fund.scss";

@import "./assets/styles/sections/loading.scss";
@import "./assets/styles/sections/onboarding.scss";
@import "./assets/styles/sections/interface.scss";
@import "./assets/styles/sections/timeline.scss";

@import "./assets/styles/states.scss";
@import "./assets/styles/domains.scss";
@import "./assets/styles/utils.scss";