
extends interface.pug

block manifest
	//- Imports the manifest to represent the web application. A web app must have a manifest to be a PWA. 
	link(rel="manifest", href="manifest.webmanifest")
		
block preload 
	//- tfhub-tfjs-modules/tensorflow/tfjs-model/blazeface/1/default/1/model.json
	//- link(rel="preconnect" href="https://storage.googleapis.com/" crossorigin)
	
block header 
	
	a#hero(href="#app-frame") Jump straight to the app
		include /assets/diagrams/hero.svg 

	#summary
		p(aria-label="Summary")
			| It's hard work learning how to play a musical instrument...<br>
			| <em>So, how about letting the musical instrument play you instead?.</em><br>
			//- details
				summary Requirements
				ul(role="list") 
					li A face
					li Web camera / phone camera 
					li A cutting edge web-browser preferably <a href="https://www.google.com/chrome/">Chrome</a> / <a href="https://www.microsoft.com/en-us/edge/download">Edge</a> / <a href="https://www.apple.com/safari/">Safari</a>
					li Relatively modern computer with <abbr title="Graphics Processing Unit">GPU</abbr>
					li Speakers, headphones or a <abbr title="Musical Instrument Digital Interface">MIDI</abbr> instrument 

		//- In Javascript we show this if the user already has this installed
		p(aria-label="Summary" hidden).returning-client.
			Welcome back old friend! It is so nice to see your face again! Continuing session.
	
		p The <strong>original</strong> face-controlled musical instrument! 
			a.link-to-requirements(href="#requirements-test") Show requirements.
	
	p.info-description
		| This will grant musical superpowers to anybody nearby.
		| Your head movements, facial expressions and mouth shape will control all aspects of sound to help you make beautiful music.  
		| Press the screen or hold your eyes closed to change instruments, or select one by name from the side panels.<br>
		small Improving human-machine relationships. Made with love by <a class="link-designerzen" href="https://designerzen.com" rel="noopener noreferrer" target="_blank">designer<wbr>zen</a>. 
		
	p.warning 
		strong Warning : 
		| Please be 
		em very careful
		|  if you are photo<wbr>sensitive. 
		| Contains flashing lights.


	//- each lower down warning hides the previous
	p(hidden).warning.fatal.
		You do not have all of the requirements to continue


	menu#pwa

		a.button.button-push.button-start.text-always#start(href="#button-start-label") Play!

		label(for="install-pwa" hidden).text-always Install this app
			button#install-pwa.button-install( hidden type="button" title="Install this application to your homescreen") Install
		
		label(for="upgrade-pwa" hidden).text-always Upgrade to the latest version v.#{package.version}
			button#upgrade-pwa.button-upgrade( type="button" hidden title="Upgrade this app to the latest version") Upgrade


	#requirements-test
		table#compatibility
			caption Requirements & Compatibility
			
			//- tr.capability-face
			//- 	th(scope="row") A Face
			//- 		small 
			//- 	td.result.available Available!
			
			tr.capability-camera
				th(scope="row") Video Camera 
					small Web camera / phone camera 
				td.result.checking Checking...
			
			tr.capability-speakers
				th(scope="row") Speakers / Headset
					small Make sure that the vvolume is not too quiet or muted
				//- td.not-available Not Available
				//- td.available Available
				td.result.checking Checking...
		
			//- OR
			tr.capability-midi
				th(scope="row") <abbr title="Musical Instrument Digital Interface">MIDI</abbr>
					small Optional Electronic musical instrument with MIDI ports
				//- td.not-available Unavailable in Safari
				td.result.checking Checking...
			
			tr(hidden).capability-microphone
				th(scope="row") Microphone
					small Optional. Used for pitch detection for humming melodies.
				td.result.checking Checking...

			tr.capability-gpu
				th(scope="row") Graphics Processing Unit <abbr title="Graphics Processing Unit">GPU</abbr>
					small Powerful computer prefered, desktop or gaming machines wrk best
				td.result.checking Checking...

			tr.capability-browser
				th(scope="row") Optimised Web Browser <span class="browser-name"> </span>
					small Not all features are available or are restricted in certain browsers. <br>Recommended browsers include <a href="https://www.google.com/chrome/">Chrome</a> / <a href="https://www.microsoft.com/en-us/edge/download">Edge</a>
				
					details#alternate-browsers
						summary Alternate Browsers in terms of recommended features
						ol
							li: <a href="https://www.google.com/chrome/" rel="noopener noreferrer" target="_blank">Chrome</a>
							li: <a href="https://www.microsoft.com/en-us/edge/download" rel="noopener noreferrer" target="_blank">Edge</a> 
							li: <a href="https://brave.com" rel="noopener noreferrer" target="_blank">Brave</a> 
							li: <a href="https://arc.net" rel="noopener noreferrer" target="_blank">Arc</a> 
							li: <a href="https://opera.com" rel="noopener noreferrer" target="_blank">Opera</a> 
							li: <a href="https://vivaldi.com" rel="noopener noreferrer" target="_blank">Vivaldi</a> 
							li: <a href="https://www.apple.com/safari/" rel="noopener noreferrer" target="_blank">Safari</a> 
							li: <a href="https://firefox.com" rel="noopener noreferrer" target="_blank">Firefox</a> 
							li: <a href="https://www.zen-browser.app" rel="noopener noreferrer" target="_blank">Zen</a>

				td.result.checking Checking...