extends abstract.pug

block header 
	p.warning 
			strong Warning : 
			| Please be careful if you are photosensitive
		
	label#progress-bar(for="progress") Please wait, loading takes some time...
	progress(min=0 max=1)#progress