extends _abstract.pug

block header 

	p.warning 
		strong Warning : 
		| Please be 
		em very careful 
		| if you are photosensitive. 
		| Contains flashing lights.
	
	#load-progress
		label(for="progress-bar") Please wait, loading takes some time...
		progress(max=1)#progress-bar


block nav
	li: a#link-about(href="#fund" onclick="window.fund.showModal()") About<span class="hide-text"> this project and how to help fund it<span>
	li: a(href="#help" onclick="window.help.showModal()") Help!
	
block scripts
	script(type="module", src="index.js", rel="preload")
		
block main
	h3#title Augmented Reality Synthesizer
	p#feedback
	p#toast
	
	#app-frame
		
		//- ONBOARDING ---
		form#onboard(action="/") 
			
			fieldset#player-selector
				legend How many people are going to participate?
				//- button#button-solo( aria-label="Single player mode" ) <strong>Solo</strong> : 1 Player
				//- button#button-duet( aria-label="<strong>DUET</strong> mode!<br>Invite a friend and play together" ) <strong>Duet</strong> : 2 Players
				//- button#button-trio( aria-label="Swap to <strong>multiplayer</strong> mode!<br>Invite all your friend and play together" ) <strong>Trio</strong> : 3 People
				

				//- https://adrianroselli.com/2020/01/my-priority-of-methods-for-labeling-a-control.html
				label.button(for="button-solo") <strong>Solo</strong> 1 Player
					input#button-solo(name="players" type="radio" aria-label="Single player mode" checked)
				label.button(for="button-duet") <strong>Duet</strong> 2 Players
					input#button-duet(name="players" type="radio" aria-label="<strong>DUET</strong> mode!<br>Invite a friend and play together" )
				label.button(for="button-trio") <strong>Trio</strong> 3 People
					input#button-trio(name="players" type="radio" aria-label="Swap to <strong>multiplayer</strong> mode!<br>Invite all your friend and play together" )
				
				//- Simple / Advanced mode
				label(for="toggle-advanced-mode" aria-label="Show advanced mode and features" ) Kid Mode
					input#toggle-advanced-mode.switch(type="checkbox")
	
				// feedback
				p.simple Kid friendly version with a simpler interface suitable for beginners
				p.advanced Advanced mode with MIDI connectivity and many more controls

			//- Start buttons
			//- button#button-start()
			label(for="button-start" ) Start
				input#button-start( type="submit" value="Begin")

		video#webcam(autoplay, playsinline, width="640", height="480")
			p No Video available - unable to playback ;(

		//- we clone the video onto the canvas every frame
		canvas(width="640", height="480")

		//- In APP CONTROLS ------------------------------------------------------
		form#control-panel(action="/") 

			//- Button is the face of the user
			button(type="button").person#person-a Change instrument for the person on the left
		
			//- Fieldsets that fills with instruments 
			// FIXME: ADD ARIA
			fieldset.person-controls#person-a-controls
			
			//- Same for Player 2
			button(type="button").person#person-b Change instrument for the person on the right 
			// FIXME: ADD ARIA
			fieldset.person-controls#person-b-controls


			//- fieldset#shared-settings
				
			//- 	//- Equipment Settings 
			//- 	//- TODO: Put into a dialog?
			//- 	label#camera(for="select-camera") <span class="hide-text">Select </span>Camera
			//- 		select(aria-label="Select a different camera")#select-camera
				
			//- 	button#button-midi(aria-label="Connect a MIDI instrument and click here") MIDI<span id="midi-device">Connected</span>
			//- 	//- button#load-midi( aria-label="Load in a MIDI file" ) Load MIDI File
			
			//- Controls for all players
			fieldset#shared-controls.controls

				legend Shared controls that apply to all players

				button#button-install( type="button" hidden aria-label="Install this application to your homescreen") Install
				button#button-upgrade( type="button" hidden aria-label="Upgrade this app to the latest version") Upgrade

				button#button-help( type="button" aria-label="Show help screen" onclick="window.help.showModal();" ) Help!<span class="hide-text"> me</span>
										
				//- Equipment Settings 
				//- TODO: Put into a dialog?
				//- label#camera(for="select-camera") <span class="hide-text">Select </span>Camera
				//- 	select(aria-label="Select a different camera")#select-camera
				label(for="button-settings") <span class="hide-text"> Change and edit </span>Settings<span class="hide-text"> that modify behaviour and sound</span>
					input(type="checkbox" aria-label="Show the settings panel")#button-settings
				
				button#button-midi( type="button" aria-label="Connect a MIDI instrument and click here") MIDI<span id="midi-device">Connected</span>
				//- button#load-midi( aria-label="Load in a MIDI file" ) Load MIDI File
				
				label(for="button-quantise") Quantise
					input(type="checkbox" aria-label="Ensure that the notes are played at regular intervals")#button-quantise

				button#button-record.hide(type="button" aria-label="Record a loop or two" ) Record Loop

				label(for="button-percussion") Beats
					input#button-percussion(type="checkbox" aria-label="Play some background beats")
				
				label(for="button-clear") Clear
					input#button-clear(type="checkbox" aria-label="Clear visuals")
				
				label(for="button-disco") MTV Mode
					input#button-disco(type="checkbox" aria-label="activate Psychedlic visual style")
				
				label(for="button-spectrogram") U.V.<span class="hide-text"> Spectrogram</span>
					input#button-spectrogram(type="checkbox" aria-label="Show a funky bar chart of frequencies")
				
				label(for="button-overlay" ) Overlay<span class="hide-text"> virtual reality</span>
					input#button-overlay(type="checkbox" aria-label="Toggle augmented reality mode")
					
				label(for="button-mute" ) Mute
					input#button-mute(type="checkbox" aria-label="Toggle mute")
					
				button#button-photograph(type="button" aria-label="Take a photograph" ) <span class="hide-text">Take </span>Photo<span class="hide-text">graph</span>
			
				//button#button-percussion( aria-label="Toggle the backing track" ) Backing track
				//button#button-donk( aria-label="Put a donk on it" ) Add Donk
				//button#button-cowbell( aria-label="More cowbell!" ) Add Cowbell
				
				//- button#toggle-synth( aria-label="Swap between synth and samples" ) Swap Engines
				
				label.hide-text(for="button-fullscreen") Toggle Fullscreen
					input#button-fullscreen(type="checkbox"  aria-label="Toggle full screen mode")
				
				button.no-text#share( type="button" aria-label="Share this with your friends" onclick="document.getElementById('share-menu').share()" ) <span class="sr-only">Share</span>
			
				//- label(for="input-tempo" aria-label="Set the tempo" ) Tempo
				//- 	input(type="number" value="1")#input-tempo
				//- 	input(type="button")#input-tempo-increase
				//- 	input(type="button")#input-tempo-decrease
				
				//- Drop up / down list of tempos with typeable option too
				//- label(for="set-tempo") <span class="hide-text">Set </span>Tempo
				//- 	input(list="tempos")
				//- 	datalist#tempos
				//- 		option( value="45 BPM")
				//- 		option( value="60 BPM")
				//- 		option( value="75 BPM")
				//- 		option( value="85 BPM")
				//- 		option( value="90 BPM")
				//- 		option( value="95 BPM")
				//- 		option( value="100 BPM")
				//- 		option( value="110 BPM")
				//- 		option( value="120 BPM")
				//- 		option( value="130 BPM")
				//- 		option( value="140 BPM")
				//- 		option( value="150 BPM")
				//- 		option( value="170 BPM")
				//- 		option( value="200 BPM")
				//- 		option( value="300 BPM")
				//- 		option( value="400 BPM")
				//- 		option( value="500 BPM")
				
				label(for="button-metronome") <span class="hide-text">Toggle </span>Metronome
					input#button-metronome(type="checkbox" aria-label="Play a metronome to help you keep time")
					
				label(for="select-tempo") <span class="hide-text">Set </span>Tempo
					select#select-tempo(aria-label="Choose a tempo from the list")
						//- optgroup Select Tempo
						option 45 BPM
						option 60 BPM
						option 75 BPM
						option 85 BPM
						option 90 BPM
						option 100 BPM
						option 110 BPM
						option 120 BPM
						option 130 BPM
						option 140 BPM
						option 150 BPM
						option 200 BPM
						option 300 BPM
						option 400 BPM
						option 500 BPM
			
		
			//- This covers the entire video and canvas elements
			button#button-video(type="button" aria-label="Click screen to change instruments") Swap instruments for all people
			
			//- Once the user has taken some photos they appear here
			result#photographs

			//- Settings for all players... usually hidden?
			fieldset#settings.controls
				legend Global settings and options

				//- only appears when there are multiple cameras on the computer?
				//- FIXME: TODO: add a refresh button to enumerate if a device was plugged in?
				label#camera(for="select-camera") <span class="hide-text">Select </span>Camera
					select#select-camera(aria-label="Select a different camera")
					
				label(for="button-transparent") Synch<span class="hide-text">ronise the movements (prevents judder)</span>
					input#button-transparent(type="checkbox" aria-label="Synch video to movements")
			
				label(for="button-meshes") Faces<span class="hide-text"> have overlays</span>
					input#button-meshes(type="checkbox" aria-label="Toggle Face overlays")
			
				label(for="button-subtitles") Subtitles<span class="hide-text"> text overlay</span>
					input#button-subtitles(type="checkbox" aria-label="Toggle text overlays")
			
				//- label(for="button-pattern") Drum Pattern
				//- 		input#button-pattern(type="checkbox" aria-label="Change percussion arrangement")
			
				label(for="select-palette") <span class="hide-text">Choose </span>Colours
					select#select-palette(aria-label="Select different colours")
						option(value="s:80,l:80") Neon 
						option(value="s:30,l:40") Pastel 
						option(value="s:2,l:80") Monochrome (B&amp;W)
						option(value="s:100,l:0") Dark
				
				label(for="button-eyes") Eye<span class="hide-text"> tracking</span>
					input#button-eyes(type="checkbox" aria-label="Toggle eye tracking and overlays")

				label(for="select-eyes") <span class="hide-text">Choose </span>Eyes<span class="hide-text"> Style</span>
					select#select-eyes(aria-label="Select some eyes!")
						option(value="s:0,i:0,p:0,a:1") Disabled (no eyes)
						option(value="s:0.2,i:0.1,p:0.05,a:1") Tiny Eyes
						option(value="s:0.5,i:0.2,p:0.1,a:1") Small Eyes
						option(value="s:1.2,i:1,p:0.4,a:1") Regular Eyes
						option(value="s:4,i:3,p:2,a:0.8") Sidebottom
						option(value="s:7,i:5,p:2,a:0.9") Googly Eyes
					
				label(for="select-samples") <span class="hide-text">Choose </span>Sound<span class="hide-text"> Library</span>
					select#select-samples(aria-label="Select a sound font to change sounds")
						option(value="FatBoy") FatBoy 
						option(value="FluidR3_GM") Fluid
						option(value="MusyngKite") Musyng Kite 
			
				label(for="select-impulse") <span class="hide-text">Select </span>Reverb
					select#select-impulse(aria-label="Select a different reverb")
				
				label(for="button-speak") <span class="hide-text">Toggle </span>Speech
					input#button-speak(type="checkbox" aria-label="Read out instructions and help")
			
				button#button-reset( type="button" aria-label="Reset to Factory Defaults" ) Reset<span class="hide-text"> to Factory Defaults</span>
			
				//- bit of a hack...
				label.button-close(for="button-settings") Hide Settings

		form#midi-file
		
			label(for="midi-upload") Upload a MIDI backing track!
			input#midi-upload(type="file" hidden)
			button#button-midi-upload( type="button" ) Upload MIDI file
		
	//-  For users with javascript disabled 
	noscript
		p This application requires javascript to work unfortunately and doesn't do much without it
