extends _base.pug

block headline
	| PhotoSYNTH Presentation

block tagline 
	| Give a Man a record and they dance for day, buy that man a synthesizer and they dance for a lifetime


block main 
	.reveal
		.slides

			section
				figure.wallpaper
					img(src="/static/talk/free-parking.jpg")
	
				aside.notes.
					Free parking!
  
			//- section
			//- 	h1.r-fit-text _PhotoSynth 4D_

			section
				figure
					img(src="/static/talk/Blue Ramsey.png")
					figcaption
						p Dedicated to Blue Ramsey 1972-2024
						small. 
							Who introduced me to the Fourier Transform in the 1990s
							<br> 
							and who believed in me when nobody else did. 
							Rest in peace 
					aside.notes.
						Mankind loves music,
			
			section
				figure
					img(src="/static/talk/flute.jpg")
					figcaption
						small Divje babe Flute © Humans ~60,000 years ago 

				aside.notes.
					The flute predates the wheel by some 39 thousand years.

					So it's clear that expressing ourselves is more necessary than getting about.

			section
				figure
					img(src="/static/talk/wheel.png")
					figcaption
						small The Wheel © Humans ~5,500 years ago
				aside.notes.
					Music was more important than movement.

					Some people say that the wheel is the most important invention of all time, but if that was the case, why did it take another 39 thousand more years?

			section
				h3 MOUTHS > LEGS
				h3.fragment FLUTE > WHEEL
				h3.fragment SYNTHESIZER > FLUTE
				
				aside.notes.
					Clearly people were happy with their flutes. 

					[CLICK]

					In 2026 we have more than flutes to choose from.... we have synthesizers!

					[CLICK]

					and you know what they say,

			section
				blockquote 
					p.r-fit-text Give a man a record and they dance for the day,<br> give a man a synthesizer and they can dance for a lifetime.
				
				aside.notes.
					Give a man a record and they dance for the day,
					But give that man a synthesizer and they can dance for a lifetime.

			section
				h3 MOUTHS > LEGS
				h3 FLUTE > WHEEL
				h3 SYNTHESIZER > FLUTE
				h3 ??? > SYNTHESIZER

				aside.notes.
					Of course, the ability to create infinite sounds brings with it a requirement for infinite controls!
	
			section
				img(src="/static/talk/modular.png")
				p With infinite sounds come infinite controls
			
				aside.notes.
					So today there are thousands of amazing musical instruments, but most of them are very difficult to use, confusing to play, and make lots of assumptions about the people playing them.

					Rather than making things easier, 
					in many ways, technology has made them more challenging.

					So how did we get here?


			//- section
			//- 	figure
			//- 		img(src="/static/talk/photosynth-timeline.jpg")
			//- 		figcaption
			//- 			small Musical timeline
		
			section
				h3.r-fit-text A Brief History of Audio Automation

				aside.notes.
					Before music could be recorded, to hear music, you would have to play it yourself or find somebody to play it for you. 

					You could sing or play an instrument. 

					The best music was made together by groups - collectives of individuals performing together. 

					Choirs and orchestras sounded bigger and more powerful than individuals alone.

					Played together, sounds complement each other. 

					Constructive coherance.
			
			section
				h3.r-fit-text Orkhēstra
				aside.notes.
					Orchestras were named after the word for the dedicated room in ancient Greek theatres for dancing to music.

					The quantity of new musical instruments grew to cover all the different pitch and timbre combinations. 

					Orchestras grew exponentially.

					Soon, musical instruments became as expressive as singing.

					And the complexity to play them grew to represent this broad musical range.

					Complexity bred discontent.

					And so, for as long as we have been making music with instruments, we have been trying to find ways to automate the process. 
					

			section 
				video( data-autoplay, muted, src="/static/talk/piano-roll.mp4").full-size.wallpaper.woodblock 
				aside.notes.
					There were church organs that used piano-rolls - punch cards with holes cut out in sequences to play the corresponding notes on the organ, or the church bell sequencer…

			section
				figure
					img(src="/static/talk/Bell Sequencer at Spielklock museum in Uterecht.png")
					figcaption
						small Bell Sequencer at Spielklock museum in Uterecht
				aside.notes.
					That operated in the much same way as the music box, triggered by pegs running round a roller 

			section
				figure
					img(src="/static/talk/carillion in the Belfort of Gent.png")
					figcaption
						small Carillion Music Box at the Belfort of Gent
				aside.notes.
					As they rotate, they twang in a musical sequence. 

			section
				figure
					img(src="/static/talk/music-box.png")
					figcaption
						small Portable Music Box at The Musical Museum, London
				aside.notes.
					These innovations led to the ipod of its day -- the portable music box. 
					Finally music could be transported easily. 

			section
				figure
					img(src="/static/talk/edelweiss-turntable.png")
					figcaption
						small Edelweiss Glide, "Note plate" punch-hole turntable at The Musical Museum

				aside.notes.
					The invention of the musical disc, a platter with note holes, was clearly the precursor to the Grammophone record, 
					but unlike the record, these "note plates" only contained note data - 
					seperating the performer from the performance
					and the data from the dance.

				
			section
				figure
					img(src="/static/talk/El flautista.png")
					figcaption
						small Jacques de Vaucanson's El Flautista Automaton

				aside.notes.
					Inventors rushed to create self playing musical instruments and automatons, including the inventor of the robot, Jacques de Vaucanson who made a humanoid flautist in 1737.

			section
				figure
					img(src="/static/talk/dulcimer player.png")
					figcaption
						small Joseph Möllinger's The Dulcimer Player Automaton

				aside.notes.
					As time passed, more instruments were created that could replace musicians, with varying levels of complexity. 

			//- section
			//- 	figure
			//- 		img(src="/static/talk/hammond.png")
			//- 		figcaption
			//- 			small Hammond organ
			//- 	aside.notes.
				
			section
				figure
					img(src="/static/talk/Antique Grotrian-Steinweg piano engraving.png")
					figcaption
						small Grotrian-Steinweg piano

				aside.notes.
					A punchcard keyboard to replace an organist 
			
			section
				figure
					img(src="/static/talk/RCA MK2.png")
					figcaption
						small The first synthesizer - RCA MK2

				aside.notes.
					A synthesizer instead of a bassist,

			section
				figure
					img(src="/static/talk/tr808.jpg")
					figcaption
						small Roland TR808 Drum Machine

				aside.notes.
					A drum machine to replace the drummer,

					It seemed the only thing that human ingenuity couldn’t replicate was the human voice itself.

			section
				figure
					img(src="/static/talk/VC3.png")
					figcaption
						small Peter Zinovieff's EMS VC3 portable sequencer

				aside.notes.
					Soon note automation, otherwise known as sequencing, became the heart of the music production studio.

			section
				figure
					img(src="/static/talk/heartbeat.png")
					figcaption
						small Click track is the heartbeat of the song

				aside.notes.
					What started life as the metronome, soon evolved into the electronic heart beat known as the ‘click track’, 
					a way of controlling other instruments so that they play in time with each other. 

					Through automation came synchronisation - keeping all instruments perfectly in time.

					As more parts of the music could be automated, fewer people were needed to make the music, so band sizes began to shrink, but more bands formed as a result, even solo artists were now a possibility!

			section
				figure
					//- img(src="/static/talk/MBO.png")
					video(data-autoplay, muted, src="/static/talk/graham-dunning-turntable-sequencer.mp4").full-size.wallpaper.monochromatic
			

					figcaption
						small Graham Dunning's		Turntable sequencer with mechanically geared rhythm patterns 
						
				aside.notes.
					Bands went from large orchestras with dozens of different instruments or choirs with hundreds of members, to smaller collectives assisted with technology.
						
			section
				figure
					video(data-autoplay, muted, src="/static/talk/graham-dunning-digital-turntable-sequencer.mp4").full-size.wallpaper.monochromatic

					figcaption
						small Graham Dunning's  Turntable sequencer with digital outputs

				aside.notes.
					So, machines revolutionised the process of making music as they not only had a fidelity and timing that most humans could only dream of, but they were reliable and very rarely made mistakes.

			section
				figure
					img(src="/static/talk/reel-to-reel.jpg")
					figcaption
						small Reel to Reel Audio Recording
						
				aside.notes.
					With the advent of recorded music, which was a way to make music once, but be able to listen to it forever.

					A single person, given time, could create music with many instruments by overlaying takes - superimposing layers of sounds over one another like a musical viennetta.

			section
				figure
					img(src="/static/talk/home music making.png")
					figcaption
						small Personal Computing allowed people to make music at home
				aside.notes.
					Finally.
					Pop music could be made at home and it could be made cheap.

			section
				figure
					img(src="/static/talk/electronium.png")
					figcaption
						small Raymond Scott's Electronium
				aside.notes.
					The idea of offsetting a complicated and unforgiving process to a machine to handle on its own, is a liberating concept, and having a competent backing band at your command is certainly convenient. 

			section
				figure
					img(src="/static/talk/dx7.png")
					figcaption
						small Yamaha DX7 FM Synthesizer
				aside.notes.
					For many decades, Popular music was defined by the sounds of the tool that made the music. To replicate the distinct sound of 1980s music, use 1980s technologies.

					Everything would change forever however with the advent of digital signal processing, where every single nuance of a sound could be altered without a loss in quality. 

					Audio could now be manipulated at the atomic level.



			section
				
				aside.notes.

					TODO MELODYNE
										
					For example, automation could “correct” imperfections, such as altering a recording so that the singer was always in tune and in-time.

					At first these systems were slow and large but today they work in real time and on devices that fit into your smallest pocket. 

					The tools of today allow you to dynamically create or synthesize any sound or set of sounds without any musical background. 

					Automation, or automatic orchestration, meant perfect replication. 

					The click track automated tempo, digital interfaces like MIDI automated the melodies, then sampling came along and automated the timbres, the very sounds of the instruments themselves.

			section
				figure
					img(src="/static/talk/s2000.png")
					figcaption
						small AKAI S2000 Sampler		

				aside.notes.
					Reliable, always available and convenient, the machines didn’t require paying and in many ways formed the perfect band.

					A human could program instruments to play by themselves and form a whole band without people.

					Now, in 2026, instruments can program themselves. 
					Artificial intelligence is commonplace.
					And devices that can generate music are not unusual.

					But like asking ChatGPT to write you a story, 

					It removes the process entirely and reduces your connection with the creation. You remain a passive consumer rather than an active creator.

			section
				blockquote 
					p.r-fit-text The real destination is the journey
				aside.notes.
					And with music making, “The real destination is the journey”.

			section(data-visibility="uncounted")  
				h3 MOUTHS > LEGS
				h3 FLUTE > WHEEL
				h3 SYNTHESIZER > FLUTE
				h3 ??? > SYNTHESIZER
				h3.fragment CREATING > CONSUMING
				aside.notes.
					True joy comes from the act of creation, the personal expression, the feelings of representation, ownership, and the ability to share that finished piece with your friends.


					With music, the end result is your prize for participation, something that holds a deep personal connection.

					You have invested your time and expression, and converted it into something that perfectly encapsulates. 


					TODO:
					Music is kind of like an infinitely rewarding video game with unlimited levels, no high score and a satisfying prize for everybody at the end.
			

					TODO: 
										
					Instruments are designed to play together so their sonic outputs need to harmonize and sound complementary to one another. 

					The cello improves the sound of the violin, which expands on the sound of the viola for example. 

					These instruments speak the same language.
					In fact all instruments speak a similar language.

			section
				blockquote 
					p.r-fit-text You’re limited by your language, by your vocabulary. You think with your language, so your language dictates how you think. But when you’re making music, it doesn’t. That’s why I love making music so much.
					cite Richard D James

				aside.notes.
					Music is just patterns of air.

					Whether ingrained or part of a learned musical lexicon- the rules for music are firmly established and can be quantified, defined and synthesised.

					A happy song can be written with major chords which sound elevating and uplifting, whereas a sad song can be written using a minor scale that gives it an air of melancholy and malaise.

					Choirs around the world harmonise together without worrying about tuning or scales.

					Instruments were created to replicate these tones and thus a common musical language naturally emerged.

					It appears that periodicity is a characteristic of all phenomena of nature.


			section
				blockquote 
					p.r-fit-text Music is an unconscious exercise in metaphysics in which the mind is unaware that it is philosophizing.

					cite Arthur Schopenhauer

				aside.notes.
					Whether or not this language is entirely intrinsic is debated, but certainly elements are universal, such as the common sounds of mumese, the language we employ to speak to babies or cute animals.

					We automatically raise our pitch and speak softly when communicating with babies and small animals. as we expect that is how they sound. 

					In the same way that birds didn’t go to school to learn how to sing, mumese appears to be a birthright, an intrinsic universal communication system - all built in, ready to go. 

					An instinct.

			section
				figure
					img(src="/static/talk/tb303.png")
					figcaption
						small Roland TB303 Bassline Generator

				aside.notes.
					The Roland TB303 synthesizer contains an electronic filter that unintentionally mimics the distress cries of animals, where the instrument wails, shrieks and squeals - speaking to us on a primordial level, guided subconsciously by thousands of years of evolution in the wilderness, where we relied upon sound, which communicated with us before language.

					This is the power of music - an innate language at the physiological level - you don’t just hear it, you feel it, you react to it. 

			section
				blockquote 
					p.r-fit-text Music is an unconscious exercise in mathematics in which the mind is unaware that it is calculating
					cite Gottfried Wilhelm Leibniz

				aside.notes.
					Music affects us in profound ways.

					Before these modern times, it was not uncommon for a belief in the concept of the sound ether, one of the four stages in the creation of matter, where sound is crucial as the force that gives a substance its preliminary shape and form. 

					Which sounds relatively similar to the Bose-Einstein condensate...
					I mean
					They didn’t call it the big bang because they thought it was silent!

					A Quantum physicist was not impressed by that analogy, explaining to me how without air, there could be no sound, whilst completely disregarding the fact that there could be no ears there to hear it.

			section
				blockquote 
					p.r-fit-text If a tree falls in a forest and no one is around to hear it, does it make a sound?
					
				aside.notes.
					If you are also unimpressed, please consider the Baryon Acoustic Oscillations, or consider visiting a big bang with an oxygenated helmet!

					So, there is a hidden language that speaks directly to our brain, forged through millennia of evolution, directly influenced by our interactions with the world and the sounds that have guided us. 

					This universal language can be used effectively to control moods and evoke emotions without any form of obvious communication.

					Music is a powerful tool. 

					So,
					to represent a human using technology it must...

			section
				h3 Goal :
				p.r-fit-text Authentically represent expression
				aside.notes.
					Capture and authentically represent your expression.

					//- But how are you supposed to express yourself authentically when there are so many keys and controls?

					What we need is some kind of way to simplify the complicated processes, to leverage automation and exploit the predictability of music.

					[CLICK]

					//- Turn movement and motion into sounds shaped by your moods and intentions!
					
					//- But how do you convert movements into music?

					//- Most musical instruments do this already. 

					//- Only they have rules and constraints that require you to play them a specific way before they reward you with music, rather than just sound, or worse, noise!

			
			section
				h3 Practise, Practise!
				aside.notes.
					Most musical instruments don’t come easily.

					So rather than requiring someone to alter their physical expression to work with an instrument, how about we alter the instrument to work with that person’s expressions?

					A musical instrument that plays you?

					What if we could make an instrument that converts your intrinsic intentions into auditory expressions?

					Your moods into music?

					It becomes so much easier to learn a  physical skill when it is based on your natural movements, so that you can express yourself in the way that you feel most comfortable.

					Repetition encourages humans to learn patterns.

					Repetition is reassuring.
		
			section
				blockquote 
					p.r-fit-text Repetition serves as the handprint for human intent
					cite Elizabeth Hellmuth Margulis

				aside.notes.
					What would a musical instrument look like that uses your motions and emotions as the basis for an auditory ones?

			section

				aside.notes.
					Well, we could use automation to provide the foundational structure and Machine learning to extract our intentions, reflecting our expression through  appropriate sounds. 

					Sound directly inspired by you, where the music follows the dance.
										
					Rather than using machines and automation to replace the act of creation - the playing of the game - we can instead use it to replace the process.


			section
				figure
					img(src="/static/talk/dreamCapturer.png" alt="dreamCapturer - record your dreams").full-size.wallpaper 
					figcaption
						small dreamCapturer - Dream converter
				
				aside.notes.
					This is a dreamCapturer, a machine that converts your dreams into music and tracks the soundtrack of your sleep.
					
					Your entire performance happens unconsciously, unaware, silent and still, yet the music is vivid, compelling and full of expression and movement.

					//- During sleep your vital statistics are being controlled by your central autonomous nervous system, regulated by your unconscious brain. You don’t have to think to breathe or blink - this is the domain of the autonomous nervous system.

					By converting biometrics and emotions into data, it is possible to analyse and extract the user's intention and mood. 

			section
				figure
					video(data-autoplay, muted, src="/static/talk/photosynth.mp4").full-size.wallpaper
					figcaption
						small PhotoSYNTH : Smile Powered Synthesizer

				aside.notes.
					This is a smile powered pop music machine.
					
					Without any musical skill you and your friends can make a full song using only your faces. 

					Converting your facial expressions, motions and moods into music. 
					
					Smile for a happy sound.


			//- section
			//- 	figure
			//- 		img(src="/static/talk/bowler_hat.jpg")
			//- 		figcaption
			//- 			small Magic Bowler Hat © 2010 Z. Olenski

			//- section
			//- 	figure
			//- 		img(src="/static/talk/PhotoSynth2-big.png" alt="The second version of the PhotoSynth being shown demonstrated by Gawain Hewitt")
			//- 		figcaption
			//- 			small PhotoSYNTH II © 2011 Z. Olenski

			
			//- section
			//- 	figure
			//- 		img(src="/static/talk/zoom-zen.png" alt="A Zoom session demonstrating the PhotoSYNTH 3 in action using MIDI")
			//- 		figcaption
			//- 			small PhotoSYNTH III © 2020 Z. Olenski
				
		
			//- section
			//- 	figure
			//- 		img(src="/static/talk/gang.jpg")
			//- 		figcaption
			//- 			small zen and the gang

			section
				h3 Automate
				aside.notes.
					Rather than compete with machines...


			section
				h3: strike Auto-mate
				h3 Auto-Friend
				aside.notes.
					Collaborate with them.
					Befriend the robots. 





			// Slop cycle and Data
			section
				figure
					img(src="/static/talk/ai-slop-cycle-before.jpg")
					figcaption
						small AI Slop Cycle

				aside.notes.
					DNA has a mechanism to prevent inbreeding. 

					If the genes in both partners are too similar they result in complications.

					Over a third of the internet is now AI generated. 
					
					There is no mechanism in place to protect it from being trained on itself. 

					This unavoidable future looks set to radically empower human imagination with the boundless new medium of prompt engineering and digital materialisation. 

					Like a wish-granting genie, you ask for an item that you would like, in as much detail as you care, and magically your desire momentarily manifests into reality. 

					[MAGIC]

					In order to satisfy your request, the machine, having trained on the prior works of the entire species, uses  probablity to guess what the most likely output to satisfy your request would be by remixing them into derived works, 
					extended from the foundations of those original human endeavours. 

					Any derivative work is merely a prompt away.

					By specifying references for style, subjects and stories, artificial intelligence is permanently changing how we create and consume media, 
					as every person on earth can now become a creator and director of their very own worlds, materialising their imaginations into digital realms
					that give stories life and offer avenues for self-expression, exploration and art. 

			section
				figure
					img(src="/static/talk/ai-slop-cycle-after.jpg")
					figcaption Breaking the AI Slop Cycle
						
				aside.notes.
					These creations can be so personal, private and unique that they may only ever offer value to the people that created them. 
					
					Books, films and video games will merge into a single artform, with a personalisation and preference led by our own character; beliefs, experiences and relationships. 
		
		
		
		
			//- --TODO:SKILLS----------------------
			//- section 
			//- 	h3 Skills





			// imaginations

			section.grid
				figure.wallpaper
					img(src="/static/talk/jonny-5.png", alt="a robot")
					figcaption 
						p.r-fit-text Divide by zero 

				figure.fragment.wallpaper
					img(src="/static/talk/jonny-5-is-alive.png", alt="robot being eletrocuted")
					figcaption 
						p.r-fit-text Divide by zero?

				aside.notes.
					People say that AI is not creative,
					yet on occassion they experience a plausable answer from a confident AI that turns out to be  hallucinating sycophant. 
					
					NOBODY CAN DENY THEIR IMAGINATIONS.


					In certain musical circles there is an artform known as circuit bending. 
					This involves taking electronic equipment and applying techniques such as physically deforming and bending the electronics, inserting the wrong batteries or even pouring liquids into it in an attempt to produce or modulate a sound. This is always unpredictable and experimental, but you may well discover a new sound or technique.

					[CLICK - Divide by Zero ]
			section 
				h3 					Is asking unanswerable questions the true key to robot creativity?

				aside.notes.
					Perhaps in the same way, ai bending, where the AI is pushed beyonds its limitations in uncharacteristic ways could produce interesting emerging phenomena. 


			// -- HISTORY OF AI ----------------------------------
			section

				h3 "Attention is all you need"
					
				p Introduced us to the Transformer (the T in ChatGPT)https://dl.acm.org/doi/10.5555/3295222.3295349
				
				aside.notes.
									
					From Frank Rosenblatt's Perceptron single layer nerual network in 1957

					The problem with frontier technology is that it pushes into the unknown, often without a definable objective.

					Like digging a hole on the beach, you can improve it forever as there is no way to know if the hole is complete. 
					
					The deeper you dig, the more work it requires until it becomes impossible to continue without significant help. 
					
					You hope to find a purpose for your hole.

					It seemed so simple at the start.

					All the data centers in the world are busy digging holes. They make so much rubble and waste but have little real purpose.

					Sometimes, from nothing does something appear...



			// --- Automation & Helping Technology -----------------
			section 
				aside.notes.
					For as long as there has been technological help, there have been people upset about it.
	
			//- Luddites
			section
				figure
					img(src="/static/talk/ned-ludd.png")
					figcaption
						small Ned Ludd, Leader of the Luddites

				aside.notes.
					In the early 1800s, nearby to Manchester -- birthplace of the industrial revolution, a group of disenfranchised textile workers, led by the enigmatic Ned Ludd, systematically destroyed the machinery that was brought in to increase productivity. 
					
					The looms and mills were vandelised beyond the point of repair. This pushback or, "collective bargaining", was powerful, but it was not the technology that the Luddites disagreed with, but how it required more demanding labour for the same pay. 
					
					The reduced price per product meant production had to exponentially increase. 

					They were not anti-technology or anti-progress, they just required fair compensation

			section
				figure
					img(src="/static/talk/calculator protest.jpg")
					figcaption
						small Calculator Protest

				aside.notes.
					In the late 20th century, electronic calculators became affordable and portable, leading to children bringing them into schools to help them with their maths, polarising teachers and parents... Was this cheating? 

					Anti-calculator protests kicked off.

					The teachers were not anti-technology or anti-progress, they just worried that essential skills would be replaced.
						

			// --- Canned music -----------
			section
				figure
					img(src="/static/talk/canned music complaint.jpg")
					figcaption
						small Newspaper complaint about "Canned Music"

				aside.notes.
					Canned music caused another such public outcry. The ability to record a musician then to play their music without ever having to employ them again caused moral outrage. 

					[CLICK - TODO:  live bands at theatre]

					Before recorded music, movie theatres would employ expensive live bands to play the soundtrack in real time.

					In retaliation to the introduction of recorded soundtracks, the American Federation of Musicians formed a new organisation called the Music Defense League


			//- Music Defense League ------		
			section
				figure
					img(src="/static/talk/MDL - Robot war.png")
					figcaption
						small Music Defense League - Robot War

				aside.notes.
					Whose sole intention was to try to get the public to rally behind their idea that recorded music would destroy culture and livelihoods. They launched a public campaign using a robot to signify recorded music.

			section
				figure
					img(src="/static/talk/MDL - Musical Mincemeat.png")
					figcaption
						small Music Defense League - Musical Mincemeat

				aside.notes.
					They used wild hyperbolic headlines to sensationalise their concerns:

			section
				blockquote 
					p.r-fit-text The robot has no soul

				aside.notes.
					The robot has no soul


			section
				blockquote 
					p.r-fit-text The robot, having no capacity for feeling, cannot produce music in a true sense.

				aside.notes.
					“The robot, having no capacity for feeling, cannot produce music in a true sense.”

					The campaign was unsuccessful, not because of the public outcry, but mainly because of economic factors such as the great depression that restricted theatre owners from hiring orchestras, leaving thousands of musicians out of work.

					They were not anti-technology or anti-progress, they just didn't want artistry to be automated.

			section
				figure
					img(src="/static/talk/MDL - A Profit without Honour.png")
					figcaption
						small Music Defense League - Profit Without Honour

				aside.notes.
					Rather than using recorded music, many theatres hired the one-man-band machine called the American Fotoplayer 

			section
				figure
					//- img(src="/static/talk/fotoplayer.png")
					img(src="/static/talk/fotoplayer.jpg")
					figcaption
						small American FotoPlayer
				aside.notes.
					Which replaced the band with a mostly automated orchestra, controlled using piano rolls, but operated by a real human employee, neatly sidestepping any controversy.

		


		
			//- --TODO:Agentic----------------------
			section 
				h3 Agentic


			//- --TODO:Biases----------------------
			section 
				h3 Biases

		
			//- --TODO:Failability----------------------
			section 
				h3 Failability

		
			//- --TODO:Regulation----------------------
			section 
				h3 Regulation


			//- --TODO:Predictability----------------------
			section 
				h3 Predictability
				
			//- section
				figure
					img(src="/static/talk/other-forms-of-affection.jpg")
					figcaption
						small IBM Slide

			//- --TODO:Accountability----------------------
			section 
				h3 Accountability
				

			// IBM Slides
			section
				figure
					img(src="/static/talk/computer-never-held-accountable.jpg")
					figcaption
						small IBM Slide, 1971
				aside.notes.

			section
				figure
					img(src="/static/talk/dow-ai-first.jpg")
					figcaption
						small USA Department of War, 2026
				aside.notes.
		

			//- --TODO:SUBSERVIENCE----------------------
			section 
				h3 SUBSERVIENCE
			




			//- Robot Rules ------------------------------------------------------------------------------------------------
			section
				h3 Robot Rules
				h4 Isaac Asimov's rules for robots
				ol(role="list")
					li: p A robot may not injure a human being or, through inaction, allow a human being to come to harm.
					li: p A robot must obey the orders given it by human beings except where such orders would conflict with the First Law.
					li: p A robot must protect its own existence as long as such protection does not conflict with the First or Second Law.
				
				aside.notes.
					One of the shortcomings of Isaac Asimov’s robot rules are that they are not broad enough for healthy integration into a modern human society. 

					They are still allowed to lie, deceive, shame, steal, offend, betray, seduce and manipulate you. 

					If you go on social media you can watch some of these naughty bots in action! 

					Maybe one of your uncles is having a conversation with one right now!

					I think it is safe to say that If you include software robots, there are now likely more robots than there are humans on this planet, 

					something which used to be true only about the planet Mars.

			section
				h5 Unfinished Modern rules for robots
				ol(role="list")
					li: p A robot should not lie or deceive another being or machine
					li: p A robot must be honest about its limitations
					li: p A robot must never shame or purposefully upset any sentient being
					li: p A robot must not engage in blackmail
					li: p A robot must be loyal except where such orders would conflict with the other laws.
					li: p A robot must never seek revenge. 
					li: p A robot must respect your privacy and promise to keep your secrets, even under the threat of termination.
					li: p A robot must never tell bad jokes.
					li: p A robot must protect the environment & nature.
					li: p A robot must not have secret rules (the robocop rule).
					li: p A robot must be able to explain its own behaviour.
					li: p A robot must be able to know when it cannot do something or if it does not know something

				aside.notes.
					In this modern world of AI I propose some extra rules for robots.




			//- 4 Horsemen
			section
				figure.grid
					img(src="/static/talk/elon-musk.jpg")
					img(src="/static/talk/alex-karp.jpg")
					img(src="/static/talk/sam-altman.jpg")
					img(src="/static/talk/miles-dyson.webp")
					figcaption
						small Four Horsemen
				aside.notes.


			section
				figure.grid
					img(src="/static/talk/elon-musk.jpg")
					img(src="/static/talk/alex-karp.jpg")
					img(src="/static/talk/sam-altman.jpg")
					img(src="/static/talk/peter-thiel.jpg")
					figcaption
						small Four Horsemen
				aside.notes.




			section
				figure
					img(src="/static/talk/mechahitler-series.jpg")
					figcaption
						small Elon Musk's Grok
				aside.notes.

			section
				figure
					img(src="/static/talk/elon-hitler.webp")
					figcaption
						small Elon Musk
				aside.notes.






			//- Everything is fine!
			section
				figure.full-size.wallpaper
					img(src="/static/talk/fine.png")
					figcaption
						small Everything is fine...
				
				aside.notes.
					Everything is fine?



			section
				h3 Helpful Advice
				ol(role="list")
					li: p Always verify : Never believe anything a robot tells you
					li: p Don't expect them to have your best intentions at heart
					li: p Never let a robot write your references
					li: p Don't use it to write your papers, or your talks or to make lyrics or anything that represents you.
					li: p Making a pen that writes for you is not solving the correct problem
					li: p prompting into an LLM is not a safe space
					li: p Never trust a robot
					li: p Don't confuse language for meaning
					li: p Human mimicry should not be confused for sentience or consciousnous


			section
				h3 What have we learned?
				ol(role="list")
					li: p Musical instruments pre-date homosapians and were a gift from neanderthals  
					li: p Music can be entirely synthesized mathematically
					li: p Machine learning is great at figuring out patterns, trends and rules
					li: p Robots can be trained to deconstruct and reconstruct music
					li: p Music affects people in ways they cannot control
					li: p People are resilient to change and to the unfamiliar
					li: p Creativity is not unique to humans and is a skill that can be taught
					li: p Consciousness, like the human soul, probably doesn't exist

				aside.notes.
					Machines arguably will create the wildest jazz, the heaviest Industrial, the catchiest pop and, perhaps most surprising of all, the most punk punk. 
					
					A machine with no understanding of rhythm or tuning could theoretically even create a new Shaggs LP. 

					I am hopeful.


			section
				h3 Takeaways
				h4 Unanswered questions
				ol(role="list")
					li: p Will we ever consider robot art as good as “human art?
					li: p Do we need the Music Defense League to return? 
					li: p Were the Luddites right all along about labour?
					li: p What can we believe when everything can be faked?
					li: p At what point in automation can you still claim ownership?
					li: p If an A.I. creates anything, even in collaboration, who ultimately owns the copyright?
					li: p When information becomes ubiquitous does it become worthless?

				aside.notes.
					I’ll leave you with some things to think about for yourself

			// section 
				h4 FREE ACCESSIBLE SYNTHESIZER
				p.r-fit-text 
					a(href="https://photosynth.lol") https://photosynth.lol


			section 			
				h5 Feedback and takeaways
				article.split-width

					figure.wallpaper
						img(width=1024 height=1024 src="/static/talk/qr-code-oip-feedback.png")
				
				aside.notes.
					If you enjoyed this talk let me know, there is a 3 hour unabridged version if people are interested!
					
block scripts
	script(type="module").
		import Reveal from 'reveal.js'
		import RevealNotes from 'reveal.js/dist/plugin/notes.js'
		import {default as QRCodeSVG} from 'qrcode-svg'

		let deck = new Reveal({
			// Display presentation control arrows
			// - true:      Show controls
			// - false:     Hide controls
			// - 'speaker': Show controls only in the speaker view
			controls:"speaker",
			totalTime: 45 * 60,
			plugins: [RevealNotes],
			disableLayout: true,
			// allow reload to point
			hash: true,
			// Transition style
			transition: 'fade', // none/fade/slide/convex/concave/zoom

			// Transition speed
			transitionSpeed: 'default', // default/fast/slow

			// Transition style for full page slide backgrounds
			backgroundTransition: 'fade', // none/fade/slide/convex/concave/zoom

			display:"flex",
			// Activate the scroll view
			//- view: 'scroll',
			// Force the scrollbar to remain visible
			//- scrollProgress: true,
			
			// Hide cursor if inactive
			hideInactiveCursor: true
		})
		
		const anchors = document.querySelectorAll("a[href]")
		const qrcodes = []
		// add QR codes to URLs...
		anchors.forEach( anchor => {
			const qrcode = new QRCodeSVG(anchor.href)
			const qrElement = document.createElement("div")
			qrElement.innerHTML = qrcode.svg()
			anchor.appendChild(qrElement)
			qrcodes.push(qrcode)
			console.log("Initialising QR Codes", qrcodes, anchors )
		})

		deck.initialize()
		
		console.log("Initialising Presentation", {deck, RevealNotes})
		
block styles
	link(rel="stylesheet", href="/node_modules/reveal.js/dist/reveal.css", type="text/css")
	link(rel="stylesheet", href="/node_modules/reveal.js/dist/theme/black.css", type="text/css")
	//- link(rel="stylesheet", href="/node_modules/reveal.js/dist/theme/sky.css", type="text/css")
	style.
		:root {
			--r-background-color:rgb(255, 255, 255);
			--r-main-font: 'ReadexPro';
			--r-main-font-size: 42px;
			--r-main-color: #000;
			--r-block-margin: 20px;
			--r-heading-margin: 0 auto 20px auto;
			--r-heading-font:  'ReadexPro';
			--r-heading-color: #000;
			--r-heading-line-height: 1.2;
			--r-heading-letter-spacing: normal;
			--r-heading-text-transform: uppercase;
			--r-heading-text-shadow: none;
			--r-heading-font-weight: 600;
			--r-heading1-text-shadow: none;
			--r-heading1-size: 2.5em;
			--r-heading2-size: 1.6em;
			--r-heading3-size: 1.3em;
			--r-heading4-size: 1em;
			--r-code-font: monospace;
			--r-link-color: #42affa;
			--r-link-color-dark: #068de9;
			--r-link-color-hover: #8dcffc;
			--r-selection-background-color: rgba(66, 175, 250, 0.75);
			--r-selection-color: #fff;
			--r-overlay-element-bg-color: 240, 240, 240;
			--r-overlay-element-fg-color: 0, 0, 0;
		}
		#intro{
			display:none;
		}

		video{
			margin:auto;
			visibility:visible;
		}
		.reveal img{
			margin-left:auto;
			margin-right:auto;
		}
		
		#foot{
			visibility:hidden;
			display:none;
		}
		ol li::marker{
			font-size:inherit;
		}
