extends _base.pug

block title
	+title('Licences')

block nav

block preload 

block main
	main#licenses
		h3 Licenses
		h4 Thanks
		p This project could not have been made possible without the software with the following gracious licenses
		//- include ../licenses.md
		

		section#licenses
			include:markdown-it ./licenses.md

block footer
	a(href="#").back-to-top Jump back to the top
