extends abstract.pug

block title
	+title('Licences')

block nav

block preload 

block main
	h3 Licenses
	h4 Thanks
	p This project could not have been made possible without the following software and the following licenses
	//- include ../licenses.md
	
	include:markdown-it ./licenses.md