extends _base.pug

block title
	+title('Locations')

block nav

block preload 

block main
	main(style="color:darkcyan;")
		
		a(href="./scienceandindustrymuseum.pug") Science & Industry Museum
		a(href="./ieee.pug") Internet of Sounds 2024
		
				
block scripts

block styles 
	style.
		body{
			background-image:none;
		}