extends _base.pug

block title
	+title('MIDI Device Aggregator')

block nav

block preload 

block main
	main#midi
				

block scripts
	script(type="module").
		// list al midi devices on this device

block styles 
	style.
		body{
			background-image:none;
		}