extends index.pug

//- custom options go here
//- We strongly encourage the use of blues, purples, and yellows in your project
block options
	script.
		globalThis._synth = { 
			advancedMode:false, 
			text:true, 
			autoHide:true, 
			backingTrack:false, 
			photoSensitive:true,
			automationMode:true,
			referer:'mit',
			theme:'theme-mit'
		}

block headline
	| Reality Hack
	| PhotoSynth #Inter
	strong FACE


block tagline
	strong Instant Musical Superpowers!