extends index.pug

//- custom options go here
//- We strongly encourage the use of blues, purples, and yellows in your project
block options
	script.
		globalThis._synth = { 
			advancedMode:false, 
			text:true, 
			autoHide:true, 
			// 4:20 from culture
			timeout:(60 * 4 + 20) * 1000,
			inactiveAfter:1000,
			backingTrack:false, 
			photoSensitive:true,
			automationMode:false,
			referer:'newham-citizens-science-fair',
			theme:'theme-science-fair'
		}

block headline
	| Newham Citizen`s Science Fair
	| #PhotoSynth #Inter
	strong FACE

block tagline
	strong Musical Installation

block smallprint 
	a(href="https://https://www.linkedin.com/in/designerzen/" target="_blank") by <strong>Zenon Olenski</strong>