//- Just for getting peoples infos and setup before passing that 
//- data as a JSON encoded URL variable

extends _abstract.pug

block header 
	p.warning 
			strong Warning : 
			| Please be 
			em very careful 
			| if you are photosensitive
		
	label#progress-bar(for="progress") Please wait, loading takes some time...
	progress(max=1)#progress

block main

	main#app
		h3#title Choose from the following
	
		#app-frame

			form#onboard(action="/") 
				
				fieldset#player-selector
					legend How many people are going to participate?
					//- button#button-solo( aria-label="Single player mode" ) <strong>Solo</strong> : 1 Player
					//- button#button-duet( aria-label="<strong>DUET</strong> mode!<br>Invite a friend and play together" ) <strong>Duet</strong> : 2 Players
					//- button#button-trio( aria-label="Swap to <strong>multiplayer</strong> mode!<br>Invite all your friend and play together" ) <strong>Trio</strong> : 3 People
					

					//- https://adrianroselli.com/2020/01/my-priority-of-methods-for-labeling-a-control.html
					label(for="button-solo") <strong>Solo</strong> : 1 Player
						input#button-solo(name="players" type="radio" aria-label="Single player mode" checked)
					label(for="button-duet") <strong>Duet</strong> : 2 Players
						input#button-duet(name="players" type="radio" aria-label="<strong>DUET</strong> mode!<br>Invite a friend and play together" )
					label(for="button-trio") <strong>Trio</strong> : 3 People
						input#button-trio(name="players" type="radio" aria-label="Swap to <strong>multiplayer</strong> mode!<br>Invite all your friend and play together" )
					
					//- Simple / Advanced mode
					label(for="toggle-advanced-mode" aria-label="Show advanced mode and features" ) Simple Mode
						input#toggle-advanced-mode.switch(type="checkbox" checked)

					// feedback
					p.simple Kid friendly with a simple interface suitable for beginners
					p.advanced Advanced mode with MIDI connectivity and many more controls

				//- Start buttons
				//- button#button-start()
				label(for="button-start" ) Start
					input#button-start( type="submit" value="Begin")

