extends _base.pug

block title
	+title('Presets')

block nav

block preload 

block main
	main(style="color:darkcyan;")
		section 
			header
				h3 Installation Presets 
				
			article
				h4 Newham Citizen's Science Fair Presets
				nav.internal-links
					a(href="/newham-citizens-science-fair?timeout=200000&referer=newham-citizens-science-fair") 3:20 4xPlayer
					a(href="/newham-citizens-science-fair?timeout=120000&referer=newham-citizens-science-fair") 120 seconds 4xPlayer
					a(href="/newham-citizens-science-fair?timeout=90000&referer=newham-citizens-science-fair") 90 seconds 4xPlayer
					a(href="/newham-citizens-science-fair?timeout=60000&referer=newham-citizens-science-fair") 60 seconds 4xPlayer
					a(href="/newham-citizens-science-fair?divisions=3&referer=newham-citizens-science-fair") 60 seconds 4xPlayer

			article
				h4 V&A Presets
				nav.internal-links
					a(href="/va?timeout=200000&referer=va") 3:20 4xPlayer
					a(href="/va?timeout=120000&referer=va") 120 seconds 4xPlayer
					a(href="/va?timeout=90000&referer=va") 90 seconds 4xPlayer
					a(href="/va?timeout=60000&referer=va") 60 seconds 4xPlayer
			
	
block scripts

block styles 
	style.
		body{
			background-image:none;
		}
		.internal-links{
			display: flex;
			flex-direction:column;
		}