extends index.pug

//- custom options go here
//- We strongly encourage the use of blues, purples, and yellows in your project
block options
	script.
		globalThis._synth = { 
			advancedMode:false, 
			text:true, 
			autoHide:true, 
			backingTrack:false, 
			photoSensitive:true,
			automationMode:true,
			referer:'mit',
			theme:'theme-mit'
		}

block headline
	| Royal Society Summer Exhibition 2025
	| #PhotoSYNTH

block tagline
	strong Collaborative Music Making! 

block smallprint 
	a(href="https://https://www.linkedin.com/in/designerzen/" target="_blank") by <strong>Zenon Olenski</strong>