extends _base.pug

block title
	+title('Sitemap')

block nav

block preload 

block main
	main
		h3 Sitemap

		section 
			article
				h4 Pages
				
					ul
						li: a(href="./404.pug") 404
						li: a(href="./app.pug") Application
						li: a(href="./offline.pug") Offline
						li: a(href="./blog.pug") Blog
						li: a(href="./changelog.html") Changelog
						li: a(href="./changes.html") Changes
						li: a(href="./copyright.pug") Copyright
						li: a(href="./credits.pug") Credits
						li: a(href="./faq.pug") Frequently Asked Questions
						li: a(href="./help.pug") Help
						li: a(href="./index.pug") Index
						li: a(href="./index.pug") InterFACE
						li: a(href="./licenses.pug") Licenses
						li: a(href="./version.pug") Version
						li: a(href="./roadmap.pug") Roadmap
						li: a(href="./midi.pug") MIDI
						li: a(href="./presentation.pug") Presentation
						li: a(href="./talk.pug") Talk
						li: a(href="./updates.pug") Updates
						li: a(href="./version.pug") Version
		section 
			article
				h4 Locations
				
					ul
						li: a(href="./locations.pug") Site Locations
						li: a(href="./scienceandindustrymuseum.pug") scienceandindustrymuseum
						li: a(href="./ieee.pug") IEEE
	
		section
			article
				h4 Tests
				
					ul
						li: a(href="./test.buttons.pug") Buttons
						li: a(href="./test.controls.pug") Controls
						
						li: a(href="./test.dialogs.pug") Dialogs
						li: a(href="./test.tooltips.pug") Tooltips
						li: a(href="./test.sidebars.pug") Sidebars
						
						li: a(href="./test.state.pug") State
						li: a(href="./test.displays.pug") Displays
						li: a(href="./test.hologram.pug") Hologram

						li: a(href="./test.timing.pug") Timing

						li: a(href="./test.scales.pug") Scales
						
						li: a(href="./test.microphone.pug") Microphone
						
						li: a(href="./test.notation.pug") Notation
						li: a(href="./test.instrument.pug") Instrument
						li: a(href="./test.drumkit.pug") Drum Kit
						
						li: a(href="./test.qr.pug") QR Code

						li: a(href="./test.midi.pug") MIDI
						li: a(href="./test.wam.pug") Web Audio Modules
						
						li: a(href="./test.xr-drum.pug") Face Drum Sequencer
					
block scripts

block styles 
	style.
		body{
			background-image:none;
		}