extends _base.pug

block title
	+title('Tests')

block nav

block preload 

block main
	main(style="color:red;")
		h3 Sitemap

		section 
			article
				h4 Pages
				nav
					a(href="./404.pug") 404
					a(href="./app.pug") Application
					a(href="./offline.pug") Offline
					a(href="./blog.pug") Blog
					a(href="./changelog.html") Changelog
					a(href="./changes.html") Changes
					a(href="./copyright.pug") Copyright
					a(href="./credits.pug") Credits
					a(href="./faq.pug") Frequently Asked Questions
					a(href="./help.pug") Help
					a(href="./index.pug") Index
					a(href="./index.pug") InterFACE
					a(href="./licenses.pug") Licenses
					a(href="./version.pug") Version
					a(href="./roadmap.pug") Roadmap
					a(href="./midi.pug") MIDI
					a(href="./presentation.pug") Presentation
					a(href="./version.pug") Version
		section 
			article
				h4 Locations
				nav
					a(href="./locations.pug") Site Locations
					a(href="./scienceandindustrymuseum.pug") scienceandindustrymuseum
					a(href="./ieee.pug") IEEE
	
		section
			article
				h4 Tests
				nav
					a(href="./test.buttons.pug") Buttons
					a(href="./test.controls.pug") Controls
					
					a(href="./test.dialogs.pug") Dialogs
					a(href="./test.tooltips.pug") Tooltips
					a(href="./test.sidebars.pug") Sidebars
					
					a(href="./test.state.pug") State
					a(href="./test.displays.pug") Displays
					a(href="./test.hologram.pug") Hologram

					a(href="./test.timing.pug") Timing

					a(href="./test.scales.pug") Scales
					
					a(href="./test.microphone.pug") Microphone
					
					a(href="./test.notation.pug") Notation
					a(href="./test.instrument.pug") Instrument
					a(href="./test.drumkit.pug") Drum Kit
					
					a(href="./test.qr.pug") QR Code

					a(href="./test.midi.pug") MIDI
					a(href="./test.wam.pug") Web Audio Modules
					
					a(href="./test.xr-drum.pug") Face Drum Sequencer
					
					
block scripts

block styles 
	style.
		body{
			background-image:none;
		}