extends _base.pug

block headline
	| PhotoSYNTH Presentation

block tagline 
	| Give a Man a record and they dance for day, buy that man a synthesizer and they dance for a lifetime


block main 
	.reveal
		.slides

			//- section
			//- 	h1.r-fit-text _PhotoSynth 4D_

			section
				figure
					img(src="/mediakit/talk/Blue Ramsey.png")
					figcaption
						p Dedicated to Blue Ramsey 1972-2024
						small Who introduced me to the Fourier Transform in the 1990s
			
			section
				figure
					img(src="/mediakit/talk/flute.jpg")
					figcaption
						small Divje babe Flute © Humans ~60,000 years ago 
			section
				figure
					img(src="/mediakit/talk/wheel.png")
					figcaption
						small The Wheel © Humans ~5,500 years ago

			section
				h3 MOUTHS > LEGS
				h3.fragment FLUTE > WHEEL
				h3.fragment SYNTHESIZER > FLUTE
				
				//- 	img(src="/mediakit/Drake/dreamcapturer.jpg")

			section
				blockquote 
					p.r-fit-text Give a man a record and they dance for the day,<br> give a man a synthesizer and they can dance for a lifetime.
						
			section
				h3 MOUTHS > LEGS
				h3 FLUTE > WHEEL
				h3 SYNTHESIZER > FLUTE
				h3 ??? > SYNTHESIZER

			section
				img(src="/mediakit/talk/modular.png")
				p.fragment With infinite sounds come infinite controls
			
			section
				h3.r-fit-text A Brief History of Audio Automation
			
		


			section
				figure
					img(src="/mediakit/talk/Bell Sequencer at Spielklock museum in Uterecht.png")
					figcaption
						small Bell Sequencer at Spielklock museum in Uterecht
		
			section
				figure
					img(src="/mediakit/talk/carillion in the Belfort of Gent.png")
					figcaption
						small Carillion Music Box at the Belfort of Gent
				
		
		
			section
				figure
					img(src="/mediakit/talk/El flautista.png")
					figcaption
						small Jacques de Vaucanson's El Flautista Automaton
		
			section
				figure
					img(src="/mediakit/talk/dulcimer player.png")
					figcaption
						small Joseph Möllinger's The Dulcimer Player Automaton
		

			section
				figure
					img(src="/mediakit/talk/RCA MK2.png")
					figcaption
						small The first synthesizer - RCA MK2
						

			section
				figure
					img(src="/mediakit/talk/VC3.png")
					figcaption
						small Peter Zinovieff's EMS VC3 portable sequencer
					
			section
				figure
					img(src="/mediakit/talk/electronium.png")
					figcaption
						small Raymond Scott's Electronium
		
			section
				figure
					img(src="/mediakit/talk/home music making.png")
					figcaption
						small Personal Computing allowed people to make music at home
		
					
			section
				figure
					img(src="/mediakit/talk/MDL - A Profit without Honour.png")
					figcaption
						small Music Defense League
			section
				figure
					img(src="/mediakit/talk/MDL Robot War.png")
					figcaption
						small Music Defense League
			section
				figure
					img(src="/mediakit/talk/MDL - Musical Mincemeat.png")
					figcaption
						small Music Defense League
		
		
			section
				figure
					img(src="/mediakit/talk/photosynth-timeline.jpg")
					figcaption
						small Music Defense League
			section
				blockquote 
					p.r-fit-text Repetition serves as the handprint for human intent
					cite Elizabeth Hellmuth Margulis
			section
				blockquote 
					p.r-fit-text Music is an unconscious exercise in metaphysics in which the mind is unaware that it is philosophizing.
					cite Arthur Schopenhauer
			
			section
				h3 Goal :
				p.r-fit-text Authentically represent expression
			
			
			section
				h3 Practise, Practise!

			section
				blockquote 
					p.r-fit-text What would a musical instrument look like that uses your natural physical expressions as the basis for an auditory one?

			section
				h3 Automate

			section
				h3: strike Auto-mate
				h3 Auto-Friend

			//- section
			//- 	figure
			//- 		img(src="/mediakit/history/bowler_hat.jpg")
			//- 		figcaption
			//- 			small Magic Bowler Hat © 2010 Z. Olenski

			//- section
			//- 	figure
			//- 		img(src="/mediakit/history/PhotoSynth2-big.png" alt="The second version of the PhotoSynth being shown demonstrated by Gawain Hewitt")
			//- 		figcaption
			//- 			small PhotoSYNTH II © 2011 Z. Olenski

			
			//- section
			//- 	figure
			//- 		img(src="/mediakit/history/zoom-zen.png" alt="A Zoom session demonstrating the PhotoSYNTH 3 in action using MIDI")
			//- 		figcaption
			//- 			small PhotoSYNTH III © 2020 Z. Olenski
				
		
			//- section
			//- 	figure
			//- 		img(src="/mediakit/history/gang.jpg")
			//- 		figcaption
			//- 			small zen and the gang
			section
				blockquote 
					p.r-fit-text You’re limited by your language, by your vocabulary.You think with your language, so your language dictates how you think. But when you’re making music, it doesn’t. That’s why I love making music so much.
					cite Richard D James
			
			section
				blockquote 
					p.r-fit-text The robot has no soul

			section
				blockquote 
					p.r-fit-text The robot, having no capacity for feeling, cannot produce music in a true sense.


			section
				h3 Robot Rules
				h4 Isaac Asimov's rules for robots
				ol 
					li: p A robot may not injure a human being or, through inaction, allow a human being to come to harm.
					li: p A robot must obey the orders given it by human beings except where such orders would conflict with the First Law.
					li: p A robot must protect its own existence as long as such protection does not conflict with the First or Second Law.
			
		
			section
				h3 Updated Robot Rules
				h4 Unfinished Modern rules for robots
				ol 
					li: p A robot should not lie or deceive another being or machine
					li: p A robot must never shame or purposefully upset any sentient being
					li: p A robot must not engage in blackmail
					li: p A robot must be loyal except where such orders would conflict with the original Three Laws.
					li: p A robot must never seek revenge. 
					li: p A robot must promise to always keep your secrets, even under the threat of termination.
					li: p A robot must never tell bad jokes
					li: p A robot must protect the environment & nature
					li: p A robot must not have secret rules (the robocop rule)
					li: p A robot must be able to explain its own behaviour


			section
				h3 Takeaways
				h4 Unanswered questions
				ol 
					li: p Will the Music Defense League return to complain about the rise of music thought up entirely by a machine? 
					li: p At what point in automation can you still claim ownership?
					li: p If an A.I. creates a new melody, who ultimately owns the copyright?
					li: p Will we ever consider robot music as good as “human music”?
					li: p If there was a magic musical spell, what musical skill would you wish for?

	
			//- section
			//- 	h4 Scientific Papers based on this research
			//- 	ul 
			//- 		li: p PhotoSYNTH3 - A novel interFACE (2022)
			//- 		li: p Instant Musical Superpowers (preprint) 2023)
			//- 		li: p Instant musical superpowers by augmenting intrinsic movements, expressions and emotions (2023)
			//- 		li: p Musical Avatars (2024)

			//- section
			//- 	figure
			//- 		img(src="/mediakit/history/musica_avatars.png")
			//- 		figcaption
			//- 			small Musical Avatars © 2024 Z. Olenski

			section 			
				img(width=1024 height=1024 src="/mediakit/talk/qr.svg")
				p.r-fit-text 
					a(href="./index.pug") https://interface.place
		

			//- section
			//- 	h4 Special thanks =)
			//- 	ul 
			//- 		li: p Gawain "OG" Hewitt
			//- 		li: p Becky Morris Knight, Tim Yates, John Kelly and Rob Parton from DMLab
			//- 		li: p Caroline "Liquid" Swords from <a href="https://myvolts.com" target="_blank">MyVolts (myvolts.com)</a>
			//- 		li: p Michel Buffa from the WAC
			//- 		li: p Jonathon Hogg from <a href="https://www.outputarts.com/" target="_blank">Output Arts</a> and EMF
			//- 		li: p Philip "Froggy" Watson from ARM
			//- 		li: p Dami "PainterDM" Kim for helping with the videos
			//- 		li: p Ciocia, Mama i wszyscy w domu
			//- 		li: p All the people who have helped develop and support the project
			//- 		//- li.fragment: p Every hater
		
			//- optional if there is time at the end!
			section(data-visibility="uncounted")  
				h3 MOUTHS > LEGS
				h3 FLUTE > WHEEL
				h3 SYNTHESIZER > FLUTE
				h3 ??? > SYNTHESIZER
				h3.fragment CREATING > CONSUMING
				
				p 
					a(href="./index.pug") https://interface.place
		
block scripts
	script(type="module").
		import Reveal from 'reveal.js'
		import Markdown from 'reveal.js/plugin/markdown/markdown.esm.js'

		let deck = new Reveal({
			plugins: [Markdown],
			// Activate the scroll view
			//- view: 'scroll',
			// Force the scrollbar to remain visible
			//- scrollProgress: true,
		})
		deck.initialize()
		console.log("Initialising Presentation", deck)

block styles
	link(rel="stylesheet", href="/node_modules/reveal.js/dist/reveal.css", type="text/css")
	link(rel="stylesheet", href="/node_modules/reveal.js/dist/theme/black.css", type="text/css")
	//- link(rel="stylesheet", href="/node_modules/reveal.js/dist/theme/sky.css", type="text/css")
	style.
		:root {
			--r-background-color:rgb(255, 255, 255);
			--r-main-font: 'Oxanium';
			--r-main-font-size: 42px;
			--r-main-color: #000;
			--r-block-margin: 20px;
			--r-heading-margin: 0 0 20px 0;
			--r-heading-font:  'ReadexPro';
			--r-heading-color: #000;
			--r-heading-line-height: 1.2;
			--r-heading-letter-spacing: normal;
			--r-heading-text-transform: uppercase;
			--r-heading-text-shadow: none;
			--r-heading-font-weight: 600;
			--r-heading1-text-shadow: none;
			--r-heading1-size: 2.5em;
			--r-heading2-size: 1.6em;
			--r-heading3-size: 1.3em;
			--r-heading4-size: 1em;
			--r-code-font: monospace;
			--r-link-color: #42affa;
			--r-link-color-dark: #068de9;
			--r-link-color-hover: #8dcffc;
			--r-selection-background-color: rgba(66, 175, 250, 0.75);
			--r-selection-color: #fff;
			--r-overlay-element-bg-color: 240, 240, 240;
			--r-overlay-element-fg-color: 0, 0, 0;
		}
		#intro{
			position:absolute;
			opacity:0;
		}

		video{
			margin:auto;
			visibility:visible;
		}
		.reveal img{
			margin-left:auto;
			margin-right:auto;
		}
		
		#foot{
			visibility:hidden;
			display:none;
		}
		ol li::marker{
			font-size:inherit;
		}
