extends _base.pug

block title
	+title('Test:Broadcast')

block nav
	a(href="./tests.pug") All Tests

block preload 

block main
	menu.gamepad

	div#broadcast-signal SIGNAL
	output#broadcasting
		
block scripts
	script(type="module").
		import {BROADCAST_KEY} from "./settings/options.js"
		
		const broadCastSignalElement = document.getElementById("broadcast-signal")
		const broadCastElement = document.getElementById("broadcasting")
		const broadCast = new BroadcastChannel(BROADCAST_KEY)
			
		let count = 0
		// if there are any clock messages during boot up we assume
		// that means another instance is the master and this is the slave
		broadCast.onmessage = (event) => {
			// if there are any messages received before it has loaded
			// then we assume that this is a slave device to a master somewhere
			// else
			const {divisionsElapsed, bar, bars, timePassed, elapsed, expected, drift, level, intervals, lag} = event.data

			console.log("Broadcast message received", event)
			broadCastElement.textContent = `Broadcast received: ${bar} : ${divisionsElapsed} ${elapsed}ms`
			
			broadCastSignalElement.textContent = count%2 ? "" : "SIGNAL"
		}

		// broadCast.postMessage()

block styles 
	style.
	