extends _base.pug

block title
	+title('Tests')

block nav

block preload 

block main
	main(style="color:darkcyan;")
		section 
			article
				h4 Tests
				nav.internal-links
					a(href="./test.buttons.pug") Buttons
					a(href="./test.controls.pug") Controls
					a(href="./test.gamepad.pug") Gamepads
					
					a(href="./test.dialogs.pug") Dialogs
					a(href="./test.tooltips.pug") Tooltips
					a(href="./test.sidebars.pug") Sidebars
					a(href="./test.themes.pug") Themes
					
					a(href="./test.state.pug") State
					a(href="./test.displays.pug") Displays
					a(href="./test.hologram.pug") Hologram

					a(href="./test.timing.pug") Timing

					a(href="./test.scales.pug") Scales
					
					a(href="./test.microphone.pug") Microphone
					
					a(href="./test.notation.pug") Notation
					a(href="./test.instrument.pug") Instrument
					a(href="./test.drumkit.pug") Drum Kit
					a(href="./test.reverb.pug") Reverb
					a(href="./test.sampler.pug") Sampler Worklet

					a(href="./test.qr.pug") QR Code

					a(href="./test.midi.pug") MIDI
					a(href="./test.wam.pug") Web Audio Modules
					
					a(href="./test.hands.pug") Hands Sequencer

					a(href="./test.xr-drum.pug") Face Drum Sequencer
			

		section 
			article
				h4 Pages
				nav.internal-links
					a(href="./404.pug") 404
					a(href="./app.pug") Application
					a(href="./offline.pug") Offline
					a(href="./blog.pug") Blog
					a(href="./change-log.pug") Changes & Updates
					a(href="./copyright.pug") Copyright
					a(href="./credits.pug") Credits
					a(href="./faq.pug") Frequently Asked Questions
					a(href="./help.pug") Help
					a(href="./licenses.pug") Licenses
					a(href="./version.pug") Version
					a(href="./roadmap.pug") Roadmap
					a(href="./presentation.pug") Presentation
					a(href="./version.pug") Version
					a(href="./midi.pug") MIDI
		section 
			article
				h4 Locations
				nav.internal-links
					a(href="./locations.pug") Site Locations
					a(href="./scienceandindustrymuseum.pug") Science & Industry Museum
					a(href="./ieee.pug") IEEE
					a(href="./i2c.pug") I2C
					a(href="./emf.pug") EMF
					a(href="./mit.pug") MIT
					a(href="./beyond.pug") Beyond
						
block scripts

block styles 
	style.
		body{
			background-image:none;
		}
		.internal-links{
			display: flex;
			flex-direction:column;
		}