extends _base.pug

block title
	+title('Test:MIDI')

block nav
	a(href="./tests.pug") All Tests

block preload 

block main

	main#test-midi

		//- tooltip element
		include partials/toast.pug	

		include partials/transport-panel.pug

		//- control panel with multi-levels
		include partials/control-panel.pug

block styles 
	style.
		body{
			background-image:none;
		}
		#control-panel{
			z-index:909;
		}
		#button-video{
			z-index:-1;
		}


block scripts
	script(type="module").

	