extends _base.pug

block title
	+title('Test:Gamepad')

block nav
	a(href="./tests.pug") All Tests

block preload 

block main
	menu.gamepad
		

block scripts
	script(type="module").
		import GamePad, {fetchGamePads } from './hardware/gamepad/gamepad.js'
		import {GamePadManager, GAME_PAD_AVAILABLE, GAME_PAD_UNPLUGGED} from './hardware/gamepad/gamepad-manager.js'		
		import * as COMMANDS from './hardware/gamepad/gamepad-commands.js'		

		const watchGamePads = () => {

			const gamePadManager = new GamePad()
			gamePadManager.addEventListener( (button, value, gamePad) => {
				
				switch(button)
				{
					case COMMANDS.GAME_PAD_AVAILABLE:
					case COMMANDS.GAME_PAD_UNPLUGGED:
						break
				
					default: 
						if (value)
						{
							gamepadHeld.set(button, value)
						}else{
							gamepadHeld.delete(button)
						}
				}
				
				switch(button)
				{
					case COMMANDS.GAME_PAD_AVAILABLE:
						console.info("Gamepad connected", button, value, gamePad )
						break

					case COMMANDS.GAME_PAD_UNPLUGGED:
						console.info("Gamepad disconnected", button, value, gamePad )
						break

					// open sidebar
					case COMMANDS.BUTTON_START: 
						console.info("Gamepad start", value, { gamePad, gamepadHeld } )
						break
					
					case COMMANDS.BUTTON_SELECT: 
						console.info("Gamepad select", value, { gamePad, gamepadHeld } )
						break
					
					case COMMANDS.BUTTON_A: 
						console.info("Gamepad A", value, { gamePad, gamepadHeld } )
						break
					
					case COMMANDS.BUTTON_B: 
						console.info("Gamepad B", value, { gamePad, gamepadHeld } )
						break
					
					case COMMANDS.BUTTON_X: 
						console.info("Gamepad X", value, { gamePad, gamepadHeld } )
						break
					
					case COMMANDS.BUTTON_Y: 
						console.info("Gamepad Y", value, { gamePad, gamepadHeld } )
						break
					
					case COMMANDS.BUTTON_LEFT_SHOULDER_BUTTON: 
						console.info("Gamepad LB", value, { gamePad, gamepadHeld } )
						break
					
					case COMMANDS.BUTTON_LEFT_SHOULDER_BUTTON: 
						console.info("Gamepad LB", value, { gamePad, gamepadHeld } )
						break

					case COMMANDS.BUTTON_RIGHT_SHOULDER_BUTTON: 
						console.info("Gamepad RB", value, { gamePad, gamepadHeld } )
						break

					case COMMANDS.BUTTON_LEFT_SHOULDER_TWO: 
						console.info("Gamepad LT", value, { gamePad, gamepadHeld } )
						break

					case COMMANDS.BUTTON_RIGHT_SHOULDER_TWO: 
						console.info("Gamepad RT", value, { gamePad, gamepadHeld } )
						break

					default:
						console.info("Gamepad", { gamePadManager, button, value, gamePad } )
				}
			})
		}

		document.addEventListener( "mousedown", e => watchGamePads(), {once:true} )
	

block styles 
	style.
		.drum-sounds{
			width:66vw;
			height:100vh;
			gap:12px;
			padding:12px;
			box-sizing:border-box;
			display:grid;
			grid-template-columns:repeat( 4, 1fr );
		}
