extends _abstract.pug

block above 
	#load-progress
		progress(max=1 role="progressbar" aria-describedby="app" title="Load progress")#progress-bar.donut 0%
		label(for="progress-bar") Please wait <br>loading may take a very long time

block nav
	ul
		li: a#link-about(href="#fund" aria-label="Learn more about this project" onclick="window.fund.showModal()") About<span class="hide-text"> this project and how to help fund it<span>
		li: a(href="#help" aria-label="Show some helpfull information" onclick="window.help.showModal()") Help!


block preload 
	block options
	script document.documentElement.classList.add("loading","app")
	link(rel="preload" href="index.js" as="script") 
	

block scripts
	script(type="module" src="index.js")

block main
	main#app(aria-describedby="progress-bar")
		h3(screenreader-only)#title Augmented Reality Drum Sequencer
		h4(screenreader-only)#subtitle 

		p(role="status" aria-live="polite")#feedback Loading please wait!
		include partials/toast.pug

		#app-frame

			//- Pick how many people etc
			include partials/onboarding.pug

			//- THE video element fed by video camera			
			video#webcam(autoplay, playsinline, width="640", height="480")
				p No Video available - unable to playback ;(

			//- we clone the video onto the canvas every frame - this has a JS helper
			//- that deletes this node and re-creates it with a different context
			canvas#photosynth-canvas.canvas-full-size(width="640", height="480")
			
			//- In APP CONTROLS ------------------------------------------------------
			
			//- control panel with multi-levels
			include partials/control-panel.pug

			//- MIDI FILE Uploader
			form#upload-midi-form
				label(for="midi-upload-input") Upload a MIDI backing track!
				input#midi-upload-input(type="file" hidden name="midi-upload")
				button#button-midi-upload( type="button" ) Upload MIDI file

		//-  For users with javascript disabled 
		noscript
			p.
				This application requires javascript to work unfortunately and doesn't do much without it. 
				You can install 

block dialogs 
	include partials/dialogs.pug