extends _base.pug

block title
	+title('Test:Controls')

block nav
	a(href="./tests.pug") All Tests

block preload 

block above 
	#load-progress
		progress(max=1 role="progressbar" aria-describedby="app" title="Load progress")#progress-bar.donut 0%
		label(for="progress-bar") Please wait <br>loading may take a very long time

block main

	main#test-buttons

		//- theme selection
		include partials/theme-selector.pug
		

		input(type="range")
		input(type="range").vertical
		
		menu
			button(type="button") Button
			button(type="button").button-round Round Button
			button(type="button").button-push Push Button
			button(type="button").button-close Close Button
			button(type="submit") Submit
			input(type="submit").button-push

		//- tooltip element
		p(role="status" aria-live="polite" popover="manual")#feedback Loading please wait!
		
		
		include partials/toast.pug	

		//- radial menu
		include partials/menu-radial-panel.pug
		
		//- control panel with multi-levels
		include partials/control-panel.pug

		include partials/scales-panel.pug

block styles 
	style.
		#control-panel{
			z-index:909;
		}
		#button-video{
			z-index:-1;
		}

block scripts
	script(type="module").
		//-
		import { getDomainDefaults, getFactoryDefaults } from './settings/options.js'
		import { getReferer, getRefererHostname, forceSecure, getEditionFromURL } from './utils/location-handler'
		import State, { EVENT_STATE_CHANGE, loadState, getState, setState, refreshState } from './utils/state'

	
		import {getNoteSound} from './audio/tuning/notes.js'
		import {setupThemeControls} from './theme/theme.js'
		import {createRadialMenu} from './dom/radial-menu.js'
		import {addToolTips} from './dom/tooltips.js'		
			
		import { setupVolumeInterface } from './dom/ui.volume.js'
		import { setupTempoInterface } from './dom/ui.tempo.js'
		import AudioTimer from './timing/timer.audio.js' 
		import MIDIConnectionManager from './audio/midi/midi-connection-manager.js'
		import WebMIDIClass from './audio/midi/midi-connection-webmidi.js'
		import MIDIInstrument from './audio/instruments/instrument.midi.js'
		import {setupInterface} from './dom/ui.js'
		import { setLoadProgress } from './dom/load-progress.js'
			
		import { 
			getRecordableOutputNode,
			active, playing, 
			setupAudio,	audioContext,
			getVolume, setVolume, getPercussionNode 
		} from './audio/audio.js'

		const start = async () => {

			const hostName = getRefererHostname()
			const globalOptions = Object.assign({}, globalThis._synth)
			const domainOptions = getDomainDefaults( hostName )
			const defaultOptions = { ...domainOptions }

			const state = State.getInstance()
			//state.setDefaults(defaultOptions)
			state.loadFromLocation(defaultOptions)

			// updates the URL with the current state (true - encoded)
			state.updateLocation()
			
			// Update UI - this will check all the inputs according to our state	
			state.updateFrontEnd()


			const options = {}
			setupThemeControls( document.getElementById('select-theme') )
		
			const volume = 0.8
			const {	setVisualVolumeLevel, toggleMute } = setupVolumeInterface( volume, false, function onVolumeChanged(vol){
				console.info("Setting volume to ",vol)
				setVolume( vol )
			} )

			// Test the load progress bar
			//- const progressBar = document.getElementById('progress-bar')
			let loadProgress = 0
			setInterval( ()=>{
				const message = `${loadProgress }% Loading` 
				setLoadProgress( (loadProgress++%1000) / 1000, message )
			}, 200)
			

			//- const controlPanel = document.getElementById("control-panel")
			//- addToolTips( controlPanel )
			addToolTips( document.documentElement )
			
			// Test musical scales
			
			const MIDIConnectionClasses = [WebMIDIClass]
			const midiManager = new MIDIConnectionManager()
			const audioContext = new AudioContext()
			const timer = new AudioTimer(audioContext)
			
			// const instrument = new MIDIInstrument( audioContext )
			// TODO: load in any settings from localstorage
			setupTempoInterface(timer, midiManager, MIDIConnectionClasses)

			setupInterface( state.asObject )

			// hook unto the audio controls...

			const audio = await setupAudio()

		}
		document.addEventListener( "DOMContentLoaded", e => start() )