extends _base.pug

block headline
	| PhotoSYNTH Updates

block tagline 
	| PhotoSYNTH Developments


block main 
	.reveal
		.slides

			section
				h1.r-fit-text _PhotoSYNTH_
				h2.r-fit-text Smile Powered Music
				img.r-stretch(src="/source/assets/logos/photosynth.svg")

			section
				blockquote 
					p What if rather than learning how to play a musical instrument, the musical instrument learns how to play you? 
	
			section
				time 2011
				figure.r-stretch
					img(src="/mediakit/history/PhotoSynth2-big.png" alt="The second version of the PhotoSynth being shown demonstrated by Gawain Hewitt.")
					figcaption
						small Gawain Hewitt plays the PhotoSYNTH II

			section
				time 2020
				figure.r-stretch
					img(src="/mediakit/people/prototype-1.jpg" width="900" height="827" alt="Early prototype for PhotoSYNTH 3.")
					figcaption
						small Becky Morris Knight plays with a PhotoSYNTH III Beta during Lockdown

			section
				time 2021
				figure.r-stretch
					//- img(src="/mediakit/people/john-kelly.png" alt="PhotoSynth being demonstrated by John Kelly playing the Contrabass preset")
					img(src="/mediakit/people/john-kelly-rockinpaddy.png" alt="PhotoSynth being demonstrated by John Kelly playing the Contrabass preset")
					figcaption
						small John Kelly demonstrates the PhotoSYNTH III at #DMLab

			section
				time 2021
				figure.r-stretch
					img(src="/mediakit/people/louis.jpg" alt="PhotoSynth being demonstrated by Louis playing the harmonic Choir preset.")
					figcaption
						small PhotoSYNTH III Beta being demonstrated by Louis from Drake Music
		
			// Web Audio Conference
			section
				time 2022
				figure.r-stretch
					img(src="/mediakit/history/wac22.jpg" alt="Web Audio Conference 2022 demonstrating the PhotoSYNTH 3")
					figcaption
						small WAC 2022 showcase of PhotoSYNTH III
		
			section
				time 2022
				figure.r-stretch
					img(src="/mediakit/history/zoom-zen.png" alt="A Zoom session demonstrating the PhotoSYNTH 3 in action using MIDI.")
					figcaption
						small Collaborative MIDI Music over Zoom using PhotoSYNTH III and OP-1
			
			// MIDI Innovation Awards
			section
				time 2022
				figure.r-stretch
					img(src="/mediakit/history/midi-finalist.jpg" alt="MIDI Innovation Awards Finalist.")
					figcaption
						small PhotoSYNTH at the MIDI Innovation Awards Finals
			
			
			//- section
			//- 	p.r-fit-text  Constant testing with real people ensured that it evolved in an accessible and ergonomic way 
			//- 	p.r-fit-text  Everyone can make music friends. 

			//- section
			//- 	p.r-fit-text  With the broadest demographic covering every diversity and ability...
			//- 	p.r-fit-text  the PhotoSYNTH levels the playing field for any aspiring creatives!
			

			//- section
			//- 	include partials/history.pug

			section
				h3.r-fit-text 2024

			// IEEE
			section
				time March 2024
				figure.r-stretch
					img(src="/mediakit/history/2024-ieee-demo.jpg" alt="IEEE showcase of PhotoSYNTH 4D.")
					figcaption
						small 1st International Workshop on the Musical Metaverse
						small IEEE showcase of PhotoSYNTH 4D
					
			
			// EMF
			section
				time July 2024
				figure.r-stretch
					img(src="/mediakit/people/emf.jpg" alt="Electromagnetic Fields demonstration of PhotoSYNTH 4D.")
					figcaption
						small Electromagnetic Fields Festival demo of HOLOGRAPHIC PhotoSYNTH 4D
					
			section
				time July 2024
				figure.r-stretch
					img(src="/mediakit/people/emf-posse.jpg" alt="Electromagnetic Fields MIDI demonstration of PhotoSYNTH 4D.")
					figcaption
						small Electromagnetic Fields Festival group MIDI demo of PhotoSYNTH 4D
					
			section
				time September 2024
				figure.r-stretch
					img(src="/mediakit/history/photosyntn-amic.jpg" alt="Four player version.")
					figcaption
						small Accessible Musical Instrument Collection PhotoSYNTH 4D Holographic
			
			section
				h3.r-fit-text Future Everything 
				h4.r-fit-text Cultural Accelerator
				p Funding kickstarted the development of <strong>Quartet</strong> variant.
				
			section
				h3.r-fit-text *New* 4 Player Mode Unlocked!
				//- h4.r-fit-text
				//- 	span.fragment 🥳
				//- 	span.fragment 🥳
				//- 	span.fragment 🥳
				//- 	span.fragment 🥳
				
			// BEYOND
			section
				time November 2024
				figure.r-stretch
					img(src="/mediakit/history/beyond-demo.jpg" alt="Beyond demonstration of PhotoSYNTH 4.")
					figcaption
						small Beyond '24 demonstration of 4-Player PhotoSYNTH IV
				
			// MIT
			section
				time January 2025
				figure.r-stretch
					img(src="/mediakit/history/mit-public-demo.jpg" alt="MIT demonstration of PhotoSYNTH 3.")
					figcaption
						small MIT demonstration of PhotoSYNTH IV in Quartet mode
				
			//- section
			//- 	figure
			//- 		img(src="/mediakit/history/gang.jpg")
			//- 		figcaption
			//- 			small zen and the gang
						
			section
				h4 Scientific papers based on this work
				ul 
					li PhotoSYNTH3 - A novel interFACE (2022)
					li Instant Musical Superpowers (preprint) 2023)
					li Instant musical superpowers by augmenting intrinsic movements, expressions and emotions (2023)
					li Musical Avatars (2024) © 2024 Z. Olenski
				figure.r-stretch
					img(src="/mediakit/history/musica_avatars.png")
					figcaption

			section 				
				h3: em Breaking News!

			section 				
				h4 This summer, we have been invited to present the PhotoSYNTH at the Royal Society Summer Exhibition.
				figure.r-stretch
					img(src="/mediakit/history/royal-society-wolfson.jpg")
					figcaption
						small Royal Society Summer Exhibition 2025
					
			section 				
				h3: em Important! Please Help!
				h4 Looking for <em>staff</em>, <em>volunteers</em> and <em>financial support</em>.
				//- h4 Looking for <strong>staff</strong>, <strong>volunteers</strong> and <strong>support</strong>
				
			section
				time July 1st-7th 2025
				figure.r-stretch
					img(src="/mediakit/history/royal-society-stall.jpg")
					figcaption
						small Royal Society Summer Exhibition 2025

			section 				
				img(src="/source/assets/qr/interface.place.png" width="256" height="256").r-stretch
				
				a(href="./index.pug") 
					p https://interface.place
					small © 2011-2025 Z. Olenski
					

			//- optional if there is time at the end!
			//- section(data-visibility="uncounted")  
			//- 	h3.fragment CREATING > CONSUMING
				
block scripts
	script(type="module").
		import Reveal from 'reveal.js'
		import Markdown from 'reveal.js/plugin/markdown/markdown.esm.js'

		let deck = new Reveal({
			plugins: [Markdown],
			// Activate the scroll view
			//- view: 'scroll',
			// Force the scrollbar to remain visible
			//- scrollProgress: true,
		})
		deck.initialize()
		console.log("Initialising Presentation", deck)

block styles
	link(rel="stylesheet", href="/node_modules/reveal.js/dist/reveal.css", type="text/css")
	link(rel="stylesheet", href="/node_modules/reveal.js/dist/theme/black.css", type="text/css")
	//- link(rel="stylesheet", href="/node_modules/reveal.js/dist/theme/sky.css", type="text/css")
	style.
		:root {
			--r-background-color:rgb(57, 14, 14);
			--r-main-font: 'Oxanium';
			--r-main-font-size: 42px;
			--r-main-color: #fff;
			--r-block-margin: 20px;
			--r-heading-margin: 0 0 20px 0;
			--r-heading-font:  'ReadexPro';
			--r-heading-color: #fff;
			--r-heading-line-height: 1.2;
			--r-heading-letter-spacing: normal;
			--r-heading-text-transform: uppercase;
			--r-heading-text-shadow: none;
			--r-heading-font-weight: 600;
			--r-heading1-text-shadow: none;
			--r-heading1-size: 2.5em;
			--r-heading2-size: 1.6em;
			--r-heading3-size: 1.3em;
			--r-heading4-size: 1em;
			--r-code-font: monospace;
			--r-link-color:rgb(250, 66, 167);
			--r-link-color-dark:rgb(146, 44, 242);
			--r-link-color-hover:rgb(77, 28, 129);
			--r-selection-background-color: rgba(66, 175, 250, 0.75);
			--r-selection-color: #fff;
			--r-overlay-element-bg-color: 240, 240, 240;
			--r-overlay-element-fg-color: 0, 0, 0;
		}
		#intro{
			position:absolute;
			opacity:0;
			display:none;
		}
		#foot{
			display:none;
		}

		.history{
			font-size:50%
		}