extends index.pug

//- custom options go here
block options
	script.
		globalThis._synth = { 
			advancedMode:true, 
			text:true, 
			autoHide:true, 
			backingTrack:false, 
			photoSensitive:false,
			automationMode:true,
			referer:'wac',
			theme:'theme-wac'
		}

block headline
	| Web Audio Conference
	span.sr-only PhotoSynth 4
	| Inter 
	strong FACE


block tagline
	em Smile 
	| Powered Synthesizer
	strong Instant Musical Superpowers!