extends _base.pug

block title
	+title('WAM2 Test bed')

block nav

block preload 

block main
	main#wam
		h3 Web Audio Modules Version 2
		h4 Test Suite 
		p A collection of purpose built audio nodes to connect to the InterFACE
		audio#player(
			crossorigin="anonymous"
			src="./assets/audio/tracks/thecars.mp3"
			controls
			loop
		)
			
	block scripts
		script(type="module" src="./wam.js")
